<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>资讯</title>
		<link rel="stylesheet" type="text/css" href="css/commone.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/information.css" />
		<link rel="stylesheet" type="text/css" href="css/Safari.css" />
		<link rel="stylesheet" type="text/css" href="css/demo.css" />
		<link rel="stylesheet" type="text/css" href="css/tabs.css" />
	    <link rel="stylesheet" href="css/page.css" />
	    <link rel="shortcut icon" href="#" />
	    <script src="js/jquery.min.js"></script>
	    <script src="js/page1.js"></script>
	    <script src="js/public.js"></script>
	    <!--垂直滚动-->
	    <script SRC="js/VerticalShuffling.js"></script>
	    <script src="js/vue.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<style>
			[v-cloak]{
				display: none;
			}
		</style>
	</head>
	<body>
		<div class="main">
		<div class="container">
			<!--左边导航内容-->
			<div id="side"></div>
			
			<!--右侧的内容-->
			<div class="right" id="right">
				<div class="right-content">
				<!--标题-->
				<div class="title">
					<div class="title-content">
					    <div class="title-left">
					    		<span class="jiantou"></span>
					    		<p><a href="information.html">资讯 > </a><span>资讯中心</span> </p>
					    </div>
					</div>
				</div>
				
				<!--美国机构如何培养出优秀的心理咨询师-->
				<div class="content1">
					<div class="content1-center">
						<div id="zSlider">
							  <div id="picshow">
							    <div id="picshow_img">
							      <ul>
							        <li><a href="http://127.0.0.1:8089/PsychometricNetwork/informationSecond.html?nId=9"><img src="http://q1vgb4648.bkt.clouddn.com/img/157585557352903.png"></a></li>
							        <li><a href="http://127.0.0.1:8089/PsychometricNetwork/informationSecond.html?nId=133"><img src="https://img.ydlcdn.com/file/2019/12/06/hlzt6hoc5r6s4cd8.jpg"></a></li>
							        <li><a href="#"><img src="img/Beijing2.png"></a></li>
							        <li><a href="http://127.0.0.1:8089/PsychometricNetwork/informationSecond.html?nId=234"><img src="https://img.ydlcdn.com/file/2019/05/15/a0d1d416e2730bb6758f363be6fd53bb.jpg"></a></li>
							        <li><a href="http://127.0.0.1:8089/PsychometricNetwork/informationSecond.html?nId=206"><img src="https://img.ydlcdn.com/file/2019/12/04/i24827mm8728iwc4.jpg"></a></li>
							        <li><a href="http://127.0.0.1:8089/PsychometricNetwork/informationSecond.html?nId=152"><img src="https://img.ydlcdn.com/file/2019/11/27/8b77eij5li1eqow9.jpg"></a></li>
							      </ul>
							    </div>
							    <div id="picshow_tx">
							      <ul>
							        <li>
							          <h3><a href="#">跨性别“明星”李二毛的失控人生</a></h3>
							          <p>“别人只活一种人生，我活了两种”。回过头看，“两种人生”既是李二毛在过去17年里不断经历感情上的幻灭和身份认同的摇摆，也是她对自己的过去无奈但是准确的总结。</p>
							        </li>
							        <li>
							          <h3><a href="http://127.0.0.1:8089/PsychometricNetwork/informationSecond.html?nId=133">不要再忍受家庭暴力了，学会保护自己！</a></h3>
							          <p>很多导致家庭暴力持续十几年的，就是因为较弱方的一再容忍。受害者在面对第一次施暴的时候，就应该勇敢的反抗，勇敢的说“不”，绝不示弱。</p>
							        </li>
							        <li>
							          <h3><a href="#">垂直轮播插件标题信息内容3</a></h3>
							          <p>这几天，全国各地的空气糟糕透顶！北京空气污染指数又爆表了！！！经过资深车友的推荐及亲身体验，整理出几款超强防毒的骑行口罩。</p>
							        </li>
							        <li>
							          <h3><a href="http://127.0.0.1:8089/PsychometricNetwork/informationSecond.html?nId=234">自闭症儿童的表现家长要多关注</a></h3>
							          <p>自闭症儿童的表现家长要多关注,自闭症是发生于儿童早期的一种涉及感知觉、情感、语言、思维和动作与行为等多方面的发育障碍,主要表现为三大类核心症状</p>
							        </li>
							        <li>
							          <h3><a href="http://127.0.0.1:8089/PsychometricNetwork/informationSecond.html?nId=206">性心理咨询：为什么有的人反感夫妻生活？</a></h3>
							          <p>有些女性因为家庭管理的原因，从小就被灌输“性”是错误的观念，认为一个好女孩是不应该喜欢性生活的，久而久之就会发展成性冷淡。</p>
							        </li>
							        <li>
							          <h3><a href="http://127.0.0.1:8089/PsychometricNetwork/informationSecond.html?nId=152">为什么孤独的人更容易成功？</a></h3>
							          <p>不知道你有没有这样的经历，白天的时候和大家一起打打闹闹，说着一些没心没肺的话，等到夜深人静的时候，自己在床上一个人辗转反侧，对自己的未来充满忧虑，不知道自己将来要干什么。</p>
							        </li>
							      </ul>
							    </div>
							  </div>
							  <div id="select_btn">
							    <ul>
							      <li><a href="http://127.0.0.1:8089/PsychometricNetwork/informationSecond.html?nId=9"><img src="http://q1vgb4648.bkt.clouddn.com/img/157585557352903.png"><span class="select_text">跨性别“明星”李二毛的失控人生</span><span class="select_date">2019/12/09</span></a></li>
							      <li><a href="http://127.0.0.1:8089/PsychometricNetwork/informationSecond.html?nId=133"><img src="https://img.ydlcdn.com/file/2019/12/06/hlzt6hoc5r6s4cd8.jpg"><span class="select_text">不要再忍受家庭暴力了</span><span class="select_date">2019/12/06</span></a></li>
							      <li><a href="#"><img src="img/Beijing2.png"><span class="select_text">垂直轮播插件标题信息内容3</span><span class="select_date">2019/01/13</span></a></li>
							      <li><a href="http://127.0.0.1:8089/PsychometricNetwork/informationSecond.html?nId=234"><img src="https://img.ydlcdn.com/file/2019/05/15/a0d1d416e2730bb6758f363be6fd53bb.jpg"><span class="select_text">自闭症儿童的表现家长要多关注</span><span class="select_date">2019/01/08</span></a></li>
							      <li><a href="http://127.0.0.1:8089/PsychometricNetwork/informationSecond.html?nId=206"><img src="https://img.ydlcdn.com/file/2019/12/04/i24827mm8728iwc4.jpg"><span class="select_text">性心理咨询：为什么有的人反感夫妻生活？</span><span class="select_date">2019/12/04</span></a></li>
							      <li><a href="http://127.0.0.1:8089/PsychometricNetwork/informationSecond.html?nId=152"><img src="https://img.ydlcdn.com/file/2019/11/27/8b77eij5li1eqow9.jpg"><span class="select_text">为什么孤独的人更容易成功？</span><span class="select_date">2019/11/27</span></a></li>
							    </ul>
							  </div>
						</div>
					</div>
				</div>
				
				
				<!--分页切换内容-->
				<div class="title-box">
					<!--医疗类  科学类-->
					<div class="content2" id="informationvue">
						<div class="content2-center">
							<div id="tabs" class="tabs">    
								<ul id="tabs-list">        
									<li id="1" class="on selected" οnclick="hot(this);">热点资讯</li>           
									<li id="2" class="on" οnclick="tokizane();">时实资讯</li>            
									<li id="3" class="on" οnclick="trade();">行业动态</li>            
								</ul> 
					        </div>
							
							<div class="tabs-panel">
								<div id="tab-1" class="panel">
									<div id="sectionbox" class="sectionbox">
											<ul>
												<li>
													<div class="sectionboxf" v-for="datas11 in news" v-cloak> 
														<a class="href" :href="url+datas11.nId">
														<div class="section-left">
														    <img :src="datas11.exa1">
															<div class="section-middle"><p>{{datas11.title}}<span>{{datas11.issueTime}}</span></p>
															<p>{{datas11.exa2}}</p></div>
															<p class="section-right">{{datas11.author}}</p>
														</div>
														</a>
													</div>
										        </li>
											</ul>
									</div>
								</div>        
								<div id="tab-2" class="panel hide">
									<div id="sectionbox2" class="sectionbox">
											<ul>
												<li>
										            <div class="sectionboxf" v-for="datas11 in news" v-cloak> 
														<a class="href" :href="url+datas11.nId">
														<div class="section-left">
														    <img :src="datas11.exa1">
															<div class="section-middle"><p>{{datas11.title}}<span>{{datas11.issueTime}}</span></p>
															<p>{{datas11.exa2}}</p></div>
															<p class="section-right">{{datas11.author}}</p>
														</div>
														</a>
													</div>
										        </li>
											</ul>
									</div>
								</div>   
								<div id="tab-3" class="panel hide">
									<div id="sectionbox3" class="sectionbox">
											<ul>
												<li>
										            <div class="sectionboxf" v-for="datas11 in news" v-cloak> 
														<a class="href" :href="url+datas11.nId">
														<div class="section-left">
														    <img :src="datas11.exa1">
															<div class="section-middle"><p>{{datas11.title}}<span>{{datas11.issueTime}}</span></p>
															<p>{{datas11.exa2}}</p></div>
															<p class="section-right">{{datas11.author}}</p>
														</div>
														</a>
													</div>
										        </li>
											</ul>
									</div>
								</div>   
					  		</div> 
						</div>
						<!--content2-center结尾标签-->
					</div>
					<!--content2结尾标签-->
			    </div>
				<div class="pagecontent">
					<div class="pagecontent-center" >
						<div id="content2">
							<ul id="demoContent"></ul>
							<ul class="page" id="page"></ul>
						</div>
					</div>
				</div>
				
				
				
				
			</div>  <!--right-content 结尾标签-->
			</div>   <!--right的结尾标签-->
			<div class="clear"></div>
		</div>     <!--container的结尾标签-->
		</div>
		<!--版权-->
		<div class="right-footer" style="width:88%">
			<div class="right-footer-content">
				骄阳智心 版权所有 2010-2019&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;京ICP备17000866&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;京公网安备11010802023632号
			</div>
		</div>

		
        <script>
			$(function(){
				$("#side").load("side.html",function(){
					getlogin();
			 		$("#icon3").attr("src","img/icon3_3.png");
			 	});
			})
		</script>

        <script src="js/modernizr.custom.js"></script>
		<script src="js/information.js"></script>
		<script>
			$('#tabs-list>li').click(function(){
			        var index = $(this).index();
			        $('#tabs-list>li').eq(index).addClass('selected').siblings().removeClass('selected');
			        $('.panel').hide();
			        $('.panel').eq(index).show();
		       
			});
		</script>
		<!--热点资讯-->
		<script type="text/javascript">
	        var articleTitles = [];
			var url1=geturl();
			$(function hot(){
		        $.ajax({
			        "url": url1+"/news/lists",
					"type":"post",
					"datatype": "json",
		        	"data":{"newsType":"1"},
		         	"async":false,
			        success: function(result){
			            vm.news = result.data;
//					    console.log(vm.news);
			        },
			        "error":function(err){
//						console.log(err)
					}
		        });
		    })
			var vm = new Vue({
				el: "#sectionbox",
				data: {
					"news": [],
					"url":"informationSecond.html?nId="
				},
				methods:{
					
				}
			})
		</script>
		
		<!--时实资讯-->
		<script>
			var articleTitles = [];
			var url1=geturl();
		    $(function tokizane(){
		        $.ajax({
			        "url": url1+"/news/lists",
					"type":"post",
					"datatype": "json",
		        	"data":{"newsType":"2"},
		         	"async":false,
			        success: function(result){
			            vm2.news = result.data;
//					    console.log(vm2.news);
			        },
			        "error":function(err){
//						console.log(err)
					}
		        });
		    })
			var vm2 = new Vue({
				el: "#sectionbox2",
				data: {
					"news": [],
					"url":"informationSecond.html?nId="
				},
				methods:{
					
				}
			})
		</script>
		
		
		<!--行业动态-->
		<script>
			var articleTitles = [];
			var url1=geturl();
		    $(function trade(){
		        $.ajax({
			        "url": url1+"/news/lists",
					"type":"post",
					"datatype": "json",
		        	"data":{"newsType":"3"},
		         	"async":false,
			        success: function(result){
			            vm3.news = result.data;
//					    console.log(vm3.news);
			        },
			        "error":function(err){
//						console.log(err)
					}
		        });
		    })
			var vm3 = new Vue({
				el: "#sectionbox3",
				data: {
					"news": [],
					"url":"informationSecond.html?nId="
				},
				methods:{
					
				}
			})
			
		</script>
	</body>
</html>
