<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>订单管理</title>
		<link rel="stylesheet" type="text/css" href="css/commone.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/Safari.css" />
		<link rel="stylesheet" type="text/css" href="css/orderManagement.css" />
		<script src="js/jquery.min.js"></script>
		<script src="js/public.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	</head>
	<body>
		<div class="main">
			<div class="container">
				<!--左侧导航内容-->
			    <div id="side"></div>
				
				<!--右侧内容-->
				<div class="right">
					<div class="content">
						<!--订单管理-->
						<div class="contentTitle">
							<h3><span></span>订单管理</h3>
							<div>
								<input type="" name="" id="" placeholder="输入订单名称" />
								<img src="img/search.png" alt="" />
							</div>
						</div>
						
						<!--订单详情-->
						<div class="contentCenter" id="orders">
							<div class="contentCenters" v-for="(item,i) in orders">
								<div class="contentCenters_left">
									<img :src="'http://www.iepsy.com/'+item.img" alt="" />
								</div>
								<div class="contentCenters_middle">
									<h4>{{item.title}}</h4>
									<ul>
										<li>订单编号：{{item.orderNumber}}</li>
										<li>下单时间：{{item.payTime}}</li>
										<li>金额：{{item.orderAmount}}</li>
										<li v-if="item.orderState == '1'">支付状态：<span style="color:rgb(50,189,60)">已支付</span></li>
										<li v-if="item.orderState == '0'">支付状态：<span style="color:red">未支付</span></li>
									</ul>
								</div>
								<div v-if="item.orderState == '1'" class="contentCenters_right">
									<!--<button>支付</button>-->
									<button>删除</button>
								</div>
								<div v-if="item.orderState == '0'" class="contentCenters_right">
									<button>支付</button>
									<img src="img/delete.png" alt="" />
								</div>
							</div>
							
							
						</div>
					</div>  <!--end   content-->
				</div>   <!--end   right-->
				
				<div class="clear"></div>
				
			</div>   <!--end   container-->
		</div>   <!--end   main-->
		
		<!--版权-->
		<div class="right-footer">
			<div class="right-footer-content">
				骄阳智心 版权所有 2010-2019&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;京ICP备17000866&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;京公网安备11010802023632号
			</div>
		</div>
		

		<!--引入公共部分的js-->
		<script>
			var vm = new Vue({
				el: "#orders",
				data: {
					orders:{}
				},
				methods:{
					
				}
			});
			$(function(){
				$("#side").load("sideuser.html",function(){
					getlogin();
			 		$("#icon5").attr("src","img/iconuser5_5.png");
			 	});
			 	var url1 = geturl();
			 	$.ajax({
			 		type:"post",
			 		url:url1 +"/scale/get/orders",
			 		async:true,
			 		beforeSend: function(request) {
//						console.log(request);
				        	request.setRequestHeader("token",localStorage.getItem("token"));
			        },
			        success:function(result){
			        		if(result.status == 200){
			        			vm.orders=result.data;
			        		}else{
			        			alert(result.message);
			        		}
			        },
			        error:function(result){
			        		console.log(result);
			        		alert(result.message);
			        }
			 	});
			})
		</script>
	</body>
</html>
