<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>视频中心</title>
		<link rel="stylesheet" type="text/css" href="css/commone.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/video.css" />
		<link rel="stylesheet" type="text/css" href="css/Safari.css" />
		<script src="js/jquery.min.js"></script>
		<script src="js/public.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	</head>
	<body>
		<div class="main">
		<div class="container">
			<!--左边导航内容-->
			<!--<div id="side"></div>-->
			<div class="left">
				<div class="left-content">
					<!--logo-->
					<div class="left-top">
						<img src="img/logo.png" />
					</div>
					<!--导航-->
					<div class="left-middle">
						<div class="sidebar" id="iconbox">
							<ul>
								<li>
									<a href="pcIndex.html"><i class="fa fa-dashboard push"><img id="icon1" src="img/icon1.png"/></i><span>首页</span></a>
								</li>
								<li>
									<a href="scale.html"><i class="fa fa-cog push"><img id="icon2" src="img/icon2.png"/></i><span>量表</span></a>
								</li>
								<li>
									<a href="train.html"><i class="fa fa-cog push"><img id="icon6" src="img/icon6.png"/></i><span>培训</span></a>
								</li>
								<li>
									<a href="information.html"><i class="fa fa-user push"><img id="icon3" src="img/icon3.png"/></i><span>资讯</span></a>
								</li>
								<li>
									<a href="video.html"><i class="fa fa-user push"><img id="icon4" src="img/icon4_4.png"/></i><span>视频</span></a>
								</li>
								<li>
									<a href="aboutusone.html"><i class="fa fa-cog push"><img id="icon5" src="img/icon5.png"/></i><span>关于我们</span><i class="fa fa-angle-right"></a>
								</li>
							</ul>
						</div>

					</div>

				</div>
			</div>

			<div class="right">
				<div class="head">
	           	     <!--搜索及中英文切换区-->
					<div class="right-top">
						<div class="right-top-content" id="#content">
							<div class="right-top-right">
								<div class="china">
									<img src="img/china.png" alt="" />
									<span>中文</span>
								</div>
								
								<!--登录注册框-->
								<div id="userinf"></div>
							</div>
						</div>
	
						<div class="clear"></div>
						
					</div>   <!--right-top  结尾标签-->
					
	            </div>   <!--head 结尾标签-->
				<!--精选视频-->
					<div class="video">
						<div class="video-content">
							<h3>精选视频</h3>
							<div class="video-left">
								<div class="video_player">
									<div id="div1" style="display:block">
										<video width="100%" height="400px" src="http://47.104.147.26:8088/examples/SPZHC.mp4" frameborder="0" allowfullscreen="true" controls="controls" poster="img/indexvideo3.png" style="object-fit:fill;"></video>
									</div>
									<div id="div2" style="display:none">
										<video width="100%" height="400px" src="http://47.104.147.26:8088/examples/SPFP.mp4" frameborder="0" allowfullscreen="true" controls="controls"></video>
									</div>
									<div id="div3" style="display:none">
										<video width="100%" height="400px" src="http://47.104.147.26:8088/examples/SPZZH.mp4" frameborder="0" allowfullscreen="true" controls="controls"></video>
									</div>
									<div id="div4" style="display:none">
										<video width="100%" height="400px" src="http://47.104.147.26:8088/examples/SPMariaMunoz.mp4" frameborder="0" allowfullscreen="true" controls="controls"></video>
									</div>
									<div id="div5" style="display:none">
										<video width="100%" height="400px" src="http://47.104.147.26:8088/examples/SPLYQ.mp4" frameborder="0" allowfullscreen="true" controls="controls"></video>
									</div>
									<div id="div6" style="display:none">
										<video width="100%" height="400px" src="http://47.104.147.26:8088/examples/SPXJ.mp4" frameborder="0" allowfullscreen="true" controls="controls"></video>
									</div>
									<div id="div7" style="display:none">
										<video width="100%" height="400px" src="http://47.104.147.26:8088/examples/SPTuba.mp4" frameborder="0" allowfullscreen="true" controls="controls"></video>
									</div>
									<div id="div8" style="display:none">
										<video width="100%" height="400px" src="http://47.104.147.26:8088/examples/SPGY.mp4" frameborder="0" allowfullscreen="true" controls="controls"></video>
									</div>
									<div id="div9" style="display:none">
										<video width="100%" height="400px" src="http://47.104.147.26:8088/examples/SPDXL.mp4" frameborder="0" allowfullscreen="true" controls="controls"></video>
									</div>
									<div id="div10" style="display:none">
										<video width="100%" height="400px" src="http://47.104.147.26:8088/examples/SPHPY.mp4" frameborder="0" allowfullscreen="true" controls="controls"></video>
									</div>
									<div id="div11" style="display:none">
										<video width="100%" height="400px" src="http://47.104.147.26:8088/examples/SPJMX.mp4" frameborder="0" allowfullscreen="true" controls="controls"></video>
									</div>
									<div id="div12" style="display:none">
										<video width="100%" height="400px" src="http://47.104.147.26:8088/examples/SPWJ.mp4" frameborder="0" allowfullscreen="true" controls="controls"></video>
									</div>
								</div>
							</div>
							<div class="video-right">
								<div class="v_out v_out_p">
									<div class="v_show">
										<div class="v_cont">
											<div class="dec_10 clearborder">
												<div class="video_list_area">	
													<ul class="video_list">
													<div id="scrollBar" class="scrollBar">
													<div class="content">
														<li class="on"><a href="javascript:funcShow(1)"> <span class="being"></span>张厚粲中国心理学的曲折发展 </a></li>
														<li><a href="javascript:funcShow(2)"> <span></span>方平儿童及青少年情绪测评</a></li>
														<li><a href="javascript:funcShow(3)"> <span></span>朱宗涵儿童生长发育评估的意义和应用</a></li>
														<li><a href="javascript:funcShow(4)"> <span></span>Maria Munoz幼儿心理测量在早期教育中的应用价值</a></li>
														<li><a href="javascript:funcShow(5)"> <span></span>李毓秋韦氏幼儿智力量表在智力残疾评估中的应用</a></li>
														<li><a href="javascript:funcShow(6)"> <span></span>谢晶非言语智力测评在中国的最新发展及其应用价值</a></li>
														<li><a href="javascript:funcShow(7)"> <span></span>Tuba如何与儿童建立有效的沟通机制</a></li>
														<li><a href="javascript:funcShow(8)"> <span></span>高远脑机接口技术赋能智慧心理测评</a></li>	
														<li><a href="javascript:funcShow(9)"> <span></span>邸晓兰儿童及青少年性心理障碍的成因与识别</a></li>	
														<li><a href="javascript:funcShow(10)"> <span></span>韩佩英心理测量技术在儿童心智成长中的实证研究</a></li>	
														<li><a href="javascript:funcShow(11)"> <span></span>贾美香孤独症及自闭症儿童的评估与干预</a></li>	
														<li><a href="javascript:funcShow(12)"> <span></span>王健儿童异常心理及行为的评估诊断和治疗</a></li>	
													</div>
												    </div>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
							<!--video-right的结尾标签-->
						</div>
						<!--video-content的结尾标签-->
					</div>
					<!--video的结尾标签-->
				
				
				<!--全部视频-->
	        	<div class="content1" id="scalevue">
					<div class="tab-wrapper">
					  <ul class="tab-menu">
						<li class="active">全部视频</li>
						<li>往届大会</li>
						<li>公共课程</li>
						<li>专业课程</li>
						<li>系列课程</li>
					  </ul>
					  
					  <div class="tab-content">
					  	<!--全部课程-->
						<div class="tab-content1">
							<div class="family">
									<div class="family-content">
										<ul class="family-nav">
											<h3><span></span>往届大会</h3>
											<li class="familytext0"><a href="previousvideoAll.html">更多 <span>></span> </a></li>
										</ul>
										<div class="family-box">
											<a href="previousvideoZHC.html">
												<div class="family-box1">
													<img src="img/previousvideo01.png" alt=""/>
													<p>张厚粲中国心理学的曲折发展</p>
													<p><img src="img/eye.png" alt="" />&nbsp;&nbsp;3269 <span>骄阳智心</span> </p>
													<p>免费</p>
												</div>
											</a>
											<a href="previousvideoFP.html">
													<div class="family-box1">
														<img src="img/previousvideo02.png" alt="" />
														<p>方平儿童及青少年情绪测评</p>
														<p><img src="img/eye.png" alt="" />&nbsp;&nbsp;1649 <span>骄阳智心</span> </p>
														<p>免费</p>
													</div>
											</a>
											<a href="previousvideoWJ.html">
												<div class="family-box1">
													<img src="img/previousvideo12.png" alt="" />
													<p>王健儿童异常心理及行为的评估诊断和治疗</p>
													<p><img src="img/eye.png" alt="" />&nbsp;&nbsp;1886 <span>骄阳智心</span> </p>
													<p>免费</p>
												</div>
											</a>
											<a href="previousvideoLYQ.html">
												<div class="family-box1">
													<img src="img/previousvideo05.png" alt="" />
													<p>李毓秋韦氏幼儿智力量表在智力残疾评估中的应用</p>
													<p><img src="img/eye.png" alt="" />&nbsp;&nbsp;1966 <span>骄阳智心</span> </p>
													<p>免费</p>
												</div>
											</a>
										</div>
									</div>
							</div>
						    
						    <div class="family">
								<div class="family-content">
									<ul class="family-nav">
										<h3><span></span>公共课程</h3>
										<li class="familytext0"><a href="publicvideoAll.html">更多 <span>></span> </a></li>
									</ul>
									<div class="family-box">
										<a href="publicvideo01.html" style="display:block;">
											<div class="family-box1">
												<img src="img/SPpublic01.png" alt="" />
												<p>抑郁症</p>
												<p><img src="img/eye.png" alt="" />&nbsp;&nbsp;2688 <span>来源：精神卫生686</span> </p>
												<p>免费</p>
											</div>
										</a>
										<a href="publicvideo02.html" style="display:block;">
											<div class="family-box1">
												<img src="img/SPpublic02.png" alt="" />
												<p>双相情感障碍</p>
												<p><img src="img/eye.png" alt="" />&nbsp;&nbsp;1542 <span>来源：精神卫生686</span> </p>
												<p>免费</p>
											</div>
										</a>
										<a href="publicvideo03.html" style="display:block;">
											<div class="family-box1">
												<img src="img/SPpublic03.png" alt="" />
												<p>失眠障碍</p>
												<p><img src="img/eye.png" alt="" />&nbsp;&nbsp;1499 <span>来源：精神卫生686</span> </p>
												<p>免费</p>
											</div>
										</a>
										<a href="publicvideo04.html" style="display:block;">
											<div class="family-box1">
												<img src="img/SPpublic04.png" alt="" />
												<p>焦虑障碍</p>
												<p><img src="img/eye.png" alt="" />&nbsp;&nbsp;1499 <span>来源：精神卫生686</span> </p>
												<p>免费</p>
											</div>
										</a>
									</div>
								</div>
						    </div>
						    
						    <div class="family">
								<div class="family-content">
									<ul class="family-nav">
										<h3><span></span>专业课程</h3>
										<li class="familytext0"><a href="videoall.html">更多 <span>></span> </a></li>
									</ul>
									<div class="family-box">
										<a href="videoSecond.html" style="display:block;">
											<div class="family-box1">
												<img src="img/video06.png" alt="" />
												<p>谢晶非言语智力测评在中国的最新发展及其应用价值</p>
												<p><img src="img/eye.png" alt="" />&nbsp;&nbsp;1499 <span>骄阳智心</span> </p>
												<p>免费</p>
											</div>
										</a>
										<a href="videoSecond.html" style="display:block;">
											<div class="family-box1">
												<img src="img/video06.png" alt="" />
												<p>谢晶非言语智力测评在中国的最新发展及其应用价值</p>
												<p><img src="img/eye.png" alt="" />&nbsp;&nbsp;1499 <span>骄阳智心</span> </p>
												<p>免费</p>
											</div>
										</a>
										<a href="videoSecond.html" style="display:block;">
											<div class="family-box1">
												<img src="img/video06.png" alt="" />
												<p>谢晶非言语智力测评在中国的最新发展及其应用价值</p>
												<p><img src="img/eye.png" alt="" />&nbsp;&nbsp;1499 <span>骄阳智心</span> </p>
												<p>免费</p>
											</div>
										</a>
										<a href="videoSecond.html" style="display:block;">
											<div class="family-box1">
												<img src="img/video06.png" alt="" />
												<p>谢晶非言语智力测评在中国的最新发展及其应用价值</p>
												<p><img src="img/eye.png" alt="" />&nbsp;&nbsp;1499 <span>骄阳智心</span> </p>
												<p>免费</p>
											</div>
										</a>
									</div>
								</div>
						    </div>
						    
						    <div class="family">
								<div class="family-content">
									<ul class="family-nav">
										<h3><span></span>系列课程</h3>
										<li class="familytext0"><a href="MoreProfessionalVideos.html">更多 <span>></span> </a></li>
									</ul>
									<div class="family-box">
										<a :href="'professionVideo.html?id='+item.id" v-for="(item,index) in lists" >
											<div class="family-box1">
												<img :src="'http://www.iepsy.com/'+item.img" alt="" />
												<p>{{item.title}}</p>
												<p><img src="img/eye.png" alt="" />&nbsp;&nbsp;1499 <span>{{item.name}}</span> </p>
												<p class="price">¥ {{item.price}}</p>
											</div>
										</a>
									</div>
								</div>
						    </div>
						</div>
						
						<!--往届大会-->
						<div class="tab-content1">
							<div class="family">
									<div class="family-content">
										<ul class="family-nav">
											<h3><span></span>往届大会</h3>
											<li class="familytext0"><a href="previousvideoAll.html">更多 <span>></span> </a></li>
										</ul>
										<div class="family-box">
											<a href="previousvideoZHC.html">
												<div class="family-box1">
													<img src="img/previousvideo01.png" alt=""/>
													<p>张厚粲中国心理学的曲折发展</p>
													<p><img src="img/eye.png" alt="" />&nbsp;&nbsp;3269 <span>骄阳智心</span> </p>
													<p>免费</p>
												</div>
											</a>
											<a href="previousvideoFP.html">
													<div class="family-box1">
														<img src="img/previousvideo02.png" alt="" />
														<p>方平儿童及青少年情绪测评</p>
														<p><img src="img/eye.png" alt="" />&nbsp;&nbsp;1649 <span>骄阳智心</span> </p>
														<p>免费</p>
													</div>
											</a>
											<a href="previousvideoWJ.html">
												<div class="family-box1">
													<img src="img/previousvideo12.png" alt="" />
													<p>王健儿童异常心理及行为的评估诊断和治疗</p>
													<p><img src="img/eye.png" alt="" />&nbsp;&nbsp;1886 <span>骄阳智心</span> </p>
													<p>免费</p>
												</div>
											</a>
											<a href="previousvideoLYQ.html">
												<div class="family-box1">
													<img src="img/previousvideo05.png" alt="" />
													<p>李毓秋韦氏幼儿智力量表在智力残疾评估中的应用</p>
													<p><img src="img/eye.png" alt="" />&nbsp;&nbsp;1966 <span>骄阳智心</span> </p>
													<p>免费</p>
												</div>
											</a>
										</div>
									</div>
							</div>
						</div>
						
						<!--公共课程-->
						<div class="tab-content1">
							<div class="family">
								<div class="family-content">
									<ul class="family-nav">
										<h3><span></span>公共课程</h3>
										<li class="familytext0"><a href="publicvideoAll.html">更多 <span>></span> </a></li>
									</ul>
									<div class="family-box">
										<a href="publicvideo01.html" style="display:block;">
											<div class="family-box1">
												<img src="img/SPpublic01.png" alt="" />
												<p>抑郁症</p>
												<p><img src="img/eye.png" alt="" />&nbsp;&nbsp;2688 <span>来源：精神卫生686</span> </p>
												<p>免费</p>
											</div>
										</a>
										<a href="publicvideo02.html" style="display:block;">
											<div class="family-box1">
												<img src="img/SPpublic02.png" alt="" />
												<p>双相情感障碍</p>
												<p><img src="img/eye.png" alt="" />&nbsp;&nbsp;1542 <span>来源：精神卫生686</span> </p>
												<p>免费</p>
											</div>
										</a>
										<a href="publicvideo03.html" style="display:block;">
											<div class="family-box1">
												<img src="img/SPpublic03.png" alt="" />
												<p>失眠障碍</p>
												<p><img src="img/eye.png" alt="" />&nbsp;&nbsp;1499 <span>来源：精神卫生686</span> </p>
												<p>免费</p>
											</div>
										</a>
										<a href="publicvideo04.html" style="display:block;">
											<div class="family-box1">
												<img src="img/SPpublic04.png" alt="" />
												<p>焦虑障碍</p>
												<p><img src="img/eye.png" alt="" />&nbsp;&nbsp;1499 <span>来源：精神卫生686</span> </p>
												<p>免费</p>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
						
						<!--专业课程-->
						<div class="tab-content1">
							<div class="family">
								<div class="family-content">
									<ul class="family-nav">
										<h3><span></span>专业课程</h3>
										<li class="familytext0"><a href="">更多 <span>></span> </a></li>
									</ul>
									<div class="family-box">
										<a href="videoSecond.html">
											<div class="family-box1">
												<img src="img/videotentative.png" alt="" />
												<p>暂定</p>
												<p><img src="img/eye.png" alt="" />&nbsp;&nbsp;1499 <span>骄阳智心</span> </p>
												<p>免费</p>
											</div>
										</a>
										<a href="videoSecond.html">
											<div class="family-box1">
												<img src="img/videotentative.png" alt="" />
												<p>暂定</p>
												<p><img src="img/eye.png" alt="" />&nbsp;&nbsp;1499 <span>骄阳智心</span> </p>
												<p>免费</p>
											</div>
										</a>
										<a href="videoSecond.html">
											<div class="family-box1">
												<img src="img/videotentative.png" alt="" />
												<p>暂定</p>
												<p><img src="img/eye.png" alt="" />&nbsp;&nbsp;1499 <span>骄阳智心</span> </p>
												<p>免费</p>
											</div>
										</a>
										<a href="videoSecond.html">
											<div class="family-box1">
												<img src="img/videotentative.png" alt="" />
												<p>暂定</p>
												<p><img src="img/eye.png" alt="" />&nbsp;&nbsp;1499 <span>骄阳智心</span> </p>
												<p>免费</p>
											</div>
										</a>
									</div>
								</div>
							</div>
								
							<!--分割线-->
							<div class="line">
								<div class="line-content"></div>
							</div>
						</div>
						
						
						<!--系列课程-->
						<div class="tab-content1">
								<div class="family" >
									<div class="family-content">
										<ul class="family-nav">
											<h3><span></span>系列课程</h3>
											<li class="familytext0"><a href="MoreProfessionalVideos.html">更多 <span>></span> </a></li>
										</ul>
										<div class="family-box">
											<a :href="'professionVideo.html?id='+item.id" v-for="(item,index) in lists" >
												<div class="family-box1">
													<img :src="'http://www.iepsy.com/'+item.img" alt="" />
													<p>{{item.title}}</p>
													<p><img src="img/eye.png" alt="" />&nbsp;&nbsp;1499 <span>{{item.name}}</span> </p>
													<p class="price">¥ {{item.price}}</p>
												</div>
											</a>
										</div>
									</div>
								</div>
								
								<!--分割线-->
								<div class="line">
									<div class="line-content"></div>
								</div>
						</div>
						
						
					  </div><!-- tab-content -->
				  
				    </div><!-- tab-wrapper -->
			</div>

			</div>  <!--right的结尾标签-->
			<div class="clear"></div>
		</div>
		<!--container的结尾标签-->
		</div>
		<!--main的结尾标签-->
		
		<!--版权-->
		<div class="right-footer">
			<div class="right-footer-content">
				骄阳智心 版权所有 2010-2019&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;京ICP备17000866&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;京公网安备11010802023632号
			</div>
		</div>

         <script>
			$(function(){
//				$("#side").load("side.html",function(){
					getlogin();
//			 		$("#icon4").attr("src","img/icon4_4.png");
//			 	});
			})
		</script>
        <!--视频切换-->
		<script src="js/scale.js"></script>
        <!--引入视频的js-->
        <!--- iframe切换停止播放js -->
		<script src="js/video.js"></script>
		<script type="text/javascript">
		    $(function() {
		        var iframe = $("div.video_player iframe"); //播放页面
			    $('ul.video_list li ').on('click',function() {
			      	iframe.attr("src", $(this).find('a').eq(0).attr("name")); //更改iframe src
			      	$('ul.video_list li').removeClass('on');
			      	$(this).addClass('on'); //给点击的元素添加正在播放标识
			    })   
		    })
		</script>
		<script src="js/live.js"></script>
		<script type="text/javascript">
			function funcShow(id) {
				for(var i = 0; i < 12; i++) {
					var divInfo = document.getElementById('div' + (i + 1));
					divInfo.style.display = 'none';
				}
				var div = document.getElementById('div' + id);
				div.style.display = 'block';
			}
			var url1 = geturl();
			$(function(){
				$.ajax({
					type:"get",
					url:url1+"/scale/get/scoures",
					//url:"http://192.168.1.173:8886/scale/get/scoures",
					async:true,
					success:function (result){
						if(result.status == 200){
							vm.lists = result.data.list;
//							console.log(vm.lists)
						}else{
							alert(result.message)
						}
					}
				});
			})
			var vm = new Vue({
				el: "#scalevue",
				data: {
					lists:[]
				},
				methods:{
					
				}
			});
		</script>       
   </body>
</html>