.sidebar>ul>li:nth-of-type(6){
	background:#1d7aee;
}
.sidebar>ul>li:nth-of-type(6)>a{
	color:white;
}
.sidebar>ul>li:nth-of-type(6)>a:hover{
	color:white;
}
/*二级导航*/
#dropdown1{
	display:block;
}
.subnav>ul>li:nth-of-type(2)>a{
	background:#1d7aee;
}

/*banner区*/
.banner{
	width:100%;
	height:100%;
	margin-top: 90px;
}
.banner-content{
	width:80%;
	height:100%;
	margin:0 auto;
}
.banner-content>img{
	width: 100%;
}

/*首页 > 关于我们>成立背景*/
.title{
	width:100%;
	height:24px;
	margin-top: 30px;
}
.title-content{
	width:80%;
	height:24px;
	line-height: 24px;
	margin:0 auto;
}
.title-left{
	float:left;
}
.title-left>p>span:nth-of-type(1){
	display:inline-block;
	width: 0;
	height:0;
	border-top:8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 8px solid #1D7AEE;
	margin-right: 6px;
	float: left;
    margin-top: 4px;
}
.title-left>p>a{
	line-height: 24px;
	font-size: 14px;
	color:#898989;
}
.title-left>p>span{
	line-height: 24px;
	font-size: 14px;
	font-weight: bold;
	color:#545454;
}
/*北京骄阳智心教育咨询有限公司*/
.content1{
	width:100%;
	height:100%;
}
.content1-center{
	width:70%;
	height:100%;
	margin:0 auto;
}
.content1-center h3{
	font-size: 24px;
    font-weight: bold;
    color: #1d7aee;
   text-align: center;
   padding:80px 0 30px 0;
}
.content1-center>p{
	font-size: 14px;
 	color:#4d4d4d;
 	line-height:30px;
 	text-indent:28px;
 	text-align: justify;
 	text-justify:inter-ideograph;/*ie中必须有这个*/
}

/*培训服务区*/
.family{
	width:100%;
	clear:both;
}
.family-content{
	width:80%;
	height:405px;
	margin:0 auto;
}
.family-box{
	width:100%;
    clear:both;
    margin-top:63px;
}
.family-box1{
	width:20%;
	height:100%;
	float:left;
}
.family-box1:nth-of-type(2),.family-box1:nth-of-type(3){
	float:left;
	margin-left: 6.6%;
}
.family-box1:nth-of-type(4){
	float:right;
	margin-left: 6.6%;
}
.family-box1>h3{
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	padding: 26px 0;
}
.family-box1>img{
	display: block;
	margin:0 auto;
	width: 80%;
	z-index:0;
}
.family-box1>p{
	font-size: 12px;
    color: #898989;
    text-indent: 24px;
    text-align: justify;
 	text-justify:inter-ideograph;/*ie中必须有这个*/
    line-height: 22px;
}

/*战略合作伙伴*/
.strategy{
	width:100%;
	clear:both;
	margin-top: 100px;
}
.strategy>h2{
	font-size:24px;
	width:180px;
	margin:0 auto;
	text-align: center;
	border-bottom: 3px solid black;
}

/*珠海市京美心理测量技术开发有限公司*/
.content3{
	width:100%;
	height:100%;
}
.content3-center{
	width:80%;
	height:100%;
	margin:0 auto;
}
.content3-center h3{
	font-size: 22px;
    font-weight: bold;
    color: #1d7aee;
   text-align: center;
   padding:80px 0 40px 0;
}
.content3-center>div{
	width:30%;
	float:left;
	background:white;
	border:1px solid rgb(247,247,247);
	box-shadow: 0 0 18px lightgray;
	border-radius:8px;
}
.content3-center>div:nth-of-type(2){
	margin:0 4.5% 0 4.5%;
}
.content3-center>div:nth-of-type(3){
	float:right;
}

.content3-center>div>p:nth-of-type(1){
	font-size: 14px;
    font-weight: bold;
	height:18px;
	line-height: 18px;
	text-align: center;
	padding:36px 0 16px 0;
}
.content3-center>div>p:nth-of-type(2){
	width:83%;
	max-height:120px;
	margin:0 auto;
    font-size: 12px;
    color:#898989;
    text-indent: 24px;
    text-align: justify;
    line-height: 24px;
    margin-bottom: 30px;
    overflow: hidden;
}



/*部分客户*/
.customer{
	width:100%;
	height:100%;
	clear:both;
	padding-bottom:120px;
}
.customer-title{
	width:100%;
}
.customer-title>h2{
	font-size:24px;
	width:150px;
	margin:0 auto;
	text-align: center;
    padding-top: 70px;
    margin-bottom: 30px;
    color:#1d7aee;
}
.customer-content{
	width:74%;
	height:100%;
	margin:0 auto;
    background: rgb(237,237,237);
    padding:50px 0;
}
.customer-content>div{
	width:100%;
    margin:0 auto;
	display:-webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
}
.footer-nav{
	flex:1;
}
.footer-nav>li{
	
	height: 28px;
	overflow: hidden;
	text-indent:10px;
	width: 74%;
    margin: 0 auto;
    
    /*width: 170px;
    margin: 0 auto;
    background: pink;*/
}
.footer-nav>li>a{
	color:#4d4d4d;
	font-size: 13px;
	line-height: 28px;
}




/*版权*/
.right-footer { 
    position: relative;
    height: 40px;
    background: none;
    line-height: 40px;
    margin-top: -40px;
    color: #a3a3a3;
    font-size: 30px;
    text-align: center;
    z-index: 1;
    width: 88%;
    float: right;
    clear: both;
    border-top: 1px solid lightgray;
}
.right-footer-content{
	width: 100%;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    color: #a3a3a3;
}