/*广告区*/
.right-content1{
	width:100%;
	height:46px;
}
.right-content1center{
	width:100%;
	position: relative;
}
.right-content1center>img{
	width:100%;
	position: absolute;
	top:0;
	left:0;
}
.right-content1center>a{
	position: absolute;
	right:12%;
	display:inline-block;
	width:60px;
	height:24px;
	background: #FF4B4B;
	text-align: center;
	line-height: 24px;
	font-size: 12px;
	color:white;
	margin-top: 11px;
}
/*标题区*/
.title-content>p>a{
	font-size: 14px;
	color:#898989;
}
.title-content>p>.jiantou{
	display:inline-block;
	width: 0;
	height:0;
	border-top:8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 8px solid #1D7AEE;
	margin-right: 6px;
	float: left;
    margin-top: 3px;
}
.title-content>p>span{
	font-weight: bold;
	color:#545454;
	font-size: 14px;
}
/*宝宝什么时候开始认生*/
.right-content2{
	width:100%;
	padding-top:20px;
}
.right-content2center{
	width:70%;
	margin:0 auto;
}
.right-content2center>h3{
	font-size: 18px;
	color:#FF4B4B;
	text-align: center;
	padding:15px 0;
}
.readynav{
	width:76%;
	margin:0 auto;
	display:-webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.readynav>li{
	flex:1;
	text-align: center;
}
.readynav>li>a{
	font-size: 12px;
	color:#898989;
}
.right-content2center>div{
	clear:both;
	margin-top: 76px;
}
.right-content2center>div>p{
	font-size: 14px;
	text-indent:24px;
	line-height: 30px;
	color:#545454;
}
.right-content2center>div>p>a{
	font-size: 14px;
	text-indent:24px;
	line-height: 30px;
	color:#545454;
}
.right-content2center>div>h3{
	font-size: 14px;
	text-align: center;
	line-height: 30px;
	color:#545454;
	padding: 36px 0 5px 0;
}
.right-content2center>div>h4{
	font-size: 14px;
	text-indent:24px;
	line-height: 30px;
	color:#545454;
	padding:10px 0;
}
.right-content2center>div>img{
	display:block;
	text-align: center;
	margin:0 auto;
	padding: 0px 0 10px 0;
}
/*美国机构*/
/*心智测量*/
.right-content2{
	width:100%;
	padding-top:20px;
}
.right-content2center{
	width:70%;
	margin:0 auto;
}
.right-content2center>h3{
	font-size: 20px;
	color:#1d7aee;
	text-align: center;
	padding:15px 0;
}
/*上一篇    下一篇 */
.right-bottom{
	width:100%;
	margin-top: 100px;
}
.right-bottomcenter{
	width:70%;
	margin:0 auto;
	border-top:1px solid lightgray;
}
.right-bottomcenter-left,.right-bottomcenter-right{
	margin-top: 20px;
}
.right-bottomcenter-left a,.right-bottomcenter-right a{
	color:#898989;
	font-size:14px;
	line-height: 24px;
}
.right-bottomcenter-left{
	float:left;
	text-align: left;
}
.right-bottomcenter-right{
	float:right;
	text-align: right;
}
.right-bottomcenter-left>p:nth-of-type(1),.right-bottomcenter-right>p:nth-of-type(1){
	color:#898989;
	font-size:14px;
	line-height: 24px;
}
.right-bottomcenter-left>p:nth-of-type(2),.right-bottomcenter-right>p:nth-of-type(2){
	color: #545454;
	font-size:14px;
	line-height: 24px;
}
.right-bottomcenter-bottom{
	width:100%;
	height:30px;
	clear:both;
	margin:100px 0;
}
.right-bottomcenter-bottom>p{
	font-size: 14px;
	color:#545454;
	font-weight: bold;
}
.right-bottomcenter-bottom>p>a>img{
	display: inline-block;
	margin:0 8px;
}


/*分享到微博等平台*/
.content_bottom{
	width:70%;
	margin-top: 70px;
	padding:60px 0 70px 0;
	border-top:1px solid lightgray;
}
.bdsharebuttonbox{
	width:268px;
}
.bdsharebuttonbox>span{
	float:left;
	font-size: 14px;
}
.bdsharebuttonbox>a{
	margin:0 18px 0 0 !important;
}
