body {
    font-size: 12px;
    overflow-x:hidden;
    width:100%;
    height:100%;
    font-family: PingFangSC-Regular, sans-serif;!important; 
}
*{margin:0;padding:0;-webkit-appearance:none;}
ul{list-style: none;}
a{text-decoration: none;}
a:hover{text-decoration: none;}
/*img{max-width: 100%;}*/
.clearfix:after{
	clear: both;
	display: block;
	content: '';
}
.clearfix{
	zoom: 1;
}
.container{
    width:100%;
    height:100%;
}
.clear{clear:both;}
/*左边的内容*/
.left{
	width:12%;
	height:100%;
	position:fixed;
	top:0;
	bottom:0;
	background:white;
	box-shadow: 0px 0px 24px 0px rgba(147,178,224,0.5);
}
.left-content{
	width:100%;
	height:100%;
	position:relative;
	background:white;
	float:left;
}
/*logo*/
.left-top{
	width:100%;
	margin:0 auto;
	background:#1d7aee;
	margin-bottom: 80px;
}
.left-top>img{
	max-width: 100%;
	height:60px;
	display:block;
	margin:0 auto;
	padding:0px 0 0px 0;
	z-index:1;
}
/*新导航*/
.left-middle{
	width:100%;
	height:100%;
}

/*右边区域*/
.right{
	width:88%;
	float:right;
	z-index:0;
	background: rgb(247,248,250);
}
.right-content{
	width:100%;
	height:100%;
	margin:0 auto;
	
}
html, body,.main{ height:100%; }
.container{
	 padding-bottom:30px; 
}
.main{
	height:auto; 
    min-height:100%; 
    _height:100%; 
    background: rgb(247,248,250);
}
.left{
	height:100%;
}
.clear{
	clear:both;
}

/*头部登录*/
.right-top{
	width: 100%;
    height:60px;
    background: white;
    z-index: 10;
}
.right-top-content{
	width:80%;
	height:30px;
	margin:0 auto;
	position: relative;
	padding: 15px 0;
}

/*头部左侧切换二级页面*/
.right-top-left1{
	float:left;
	line-height: 30px;
	font-size: 14px;
	margin-top: 15px;
}
.right-top-left1 a{
	display:inline-block;
	height:30px;
	color:black;
	padding:0px 7px;
	margin:0 20px 0 0;
}

/*头部右侧登录区*/
.right-top-right{
	width:210px;
	height:30px;
	float:right;
}
/*中文图标*/
.china{
	float:left;
	font-size: 12px;
	color:gray;
	line-height: 30px;
}
/*登录 注册*/
.right-top-right1{
	float:right;
	line-height: 32px;
}
.right-top-right1>a{
	width:54px;
	height:24px;
	line-height: 24px;
	border:none;  /*去掉边框*/
	outline:medium;  /*去掉点击有蓝框的效果*/
	border-radius:20px;
	font-size: 12px;
	color:white;
    text-align: center;
    display:inline-block;
}
.right-top-right1>a:nth-of-type(1){
	background: #1D7AEE;
	margin-right: 10px;
}
.right-top-right1>a:nth-of-type(2){
	background: rgba(220,220,220);
	color:black;
}
.right-top-right2{
	position: absolute;
    right: 0;
}
.right-top-right2>a{
	display:inline-block;
	height:22px;
	line-height: 22px;
	float:right;
	color:gray;
}
#userbox{
	z-index:3;
}
#userbox:hover #userinfo{
	display:block;
}
.right-top-right2>div{
	clear: both;
    width: 160px;
    height: 200px;
    background: white;
    box-shadow: 0px 0px 13px 0px rgba(147,178,224,0.5);
    position: relative;
    display:none;
    margin-top:34px;
    z-index:3;
}
.right-top-right2>div>ul{
	padding:15px;
}
.right-top-right2>div>ul>li{
	height:36px;
	line-height: 36px;
	width:116px;
	margin:0 auto;
}
.right-top-right2>div>ul>li>a{
	display:block;
	width: 116px;
    height: 18px;
    line-height: 18px;
    padding: 9px 0;
	margin:0 auto;
	font-size: 12px;
	color:gray;
}
.right-top-right2>div>ul>li>a>img{
	padding-right:10px;
    display: inline-block;
    float: left;
}
.right-top-right2>div>ul>li:nth-of-type(2)>a>span{
	display: inline-block;
    width: 27px;
    height: 16px;
    border-radius: 10px;
    line-height: 15px;
    text-align: center;
    background: red;
    color: white;
}
.right-top-right2>div>ul>li:last-of-type{
	width: 100%;
	height:36px;
    background: lightgray;
    text-align: center;
    color: black;
    line-height: 36px;
    position: absolute;
    left: 0;
    bottom: 0;
}

/*底部版权*/
.right-footer { 
    position: relative;
    background: rgb(247,248,250);
    margin-top: 0px;
    width: 88%;
    float: right;
    clear: both;
    border-top: 1px solid lightgray;
}
.right-footer-content{
	width: 100%;
    height: 40px;
    line-height: 40px;
    margin:0 auto;
    text-align: center;
    font-size: 12px;
    color: #a3a3a3;
}
