.main{
	height:auto; 
    min-height:100%; 
    _height:100%; 
}
.sidebar>ul>li:nth-of-type(3){
	background:#1d7aee;
	box-shadow: 0px 0px 13px 0px rgba(147,178,224,0.5);
}
.sidebar>ul>li:nth-of-type(3)>a{
	color:white;
}
.sidebar>ul>li:nth-of-type(3)>a:hover{
	color:white;
}

/*二级页面切换*/
.right-top-left1 a:nth-of-type(3){
	background: #1D7AEE;
	color:white;
}

/*banner区*/
.banner{
	width:100%;
	margin-top: 28px;
}
.banner-content{
	width:80%;
	margin:0 auto;
}
.banner-content>img{
	width: 100%;
}

/*标题  首页>专委会*/
.title{
	width:100%;
	height:24px;
	margin-bottom: 50px;
}
.title-content{
	width:100%;
	height:24px;
	margin:0 auto;
}
.title-left{
	float:left;
}
.title-left>span{
	display:inline-block;
	width: 0;
	height:0;
	border-top:8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 8px solid #1D7AEE;
	margin-right: 6px;
	margin-top: 5px;
}
.title-left>span,.title-left>p{
	float:left;
	line-height: 28px;
	font-size: 14px;
}
.title-left>p>a{
	font-size: 14px;
	color:#898989;
}
.title-left>p>span{
	font-weight: bold;
	color:#545454;
	font-size: 14px;
}

/*韦氏幼儿智力量表第四版中文版*/
.introduce{
	width:100%;
}
.introduce-content{
	width:70%;
	margin:0 auto;
}
.introduce-content>h3{
	font-size: 22px;
    font-weight: bold;
    color: #201e1e;
   text-align: center;
   padding:50px 0 30px 0;
}
.introduce-content>p{
	font-size: 14px;
 	color:#4d4d4d;
 	line-height:30px;
 	text-indent:28px;
 	text-align: justify;
}
/*负责人*/
.introduce2{
	width:100%;
}
.introduce-content2{
	width:70%;
	margin:0 auto;
}
.introduce-content2>h3{
	font-size: 22px;
    font-weight: bold;
    color: #201e1e;
   text-align: center;
   padding:50px 0 20px 0;
}
.introduce-content2>p{
	font-size: 14px;
 	color:#4d4d4d;
 	line-height:30px;
 	text-indent:0px;
 	width:100%;
}
.introduce-content2>p>span{
	display:inline-block;
	width:70px;
	height:30px;
	line-height: 30px;
}
/*常务理事*/
.introduce3{
	width:100%;
}
.introduce-content3{
	width:70%;
	margin:0 auto;
}
.introduce-content3>h3{
	font-size: 22px;
    font-weight: bold;
    color: #201e1e;
   text-align: center;
   padding:50px 0 20px 0;
}
.introduce-content3>p{
	font-size: 14px;
 	color:#4d4d4d;
 	line-height:30px;
 	text-indent:0px;
 	width:100%;
}
.introduce-content3>p>span{
	display:inline-block;
	width:70px;
	height:30px;
	float:left;
	line-height: 30px;
}
.introduce-content3>p>span:nth-of-type(1),.introduce-content3>p>span:nth-of-type(15),.introduce-content3>p>span:nth-of-type(29){
	text-align: left;
}

/*主试资格名单*/
.introduce4{
	width:100%;
	clear:both;
	margin-top:60px;
}
.introduce-content4{
	width:80%;
	margin:0 auto;
}
.introduce-content4>h3{
	font-size: 24px;
    font-weight: bold;
    color: #1d7aee;
   text-align: center;
   padding:50px 0 20px 0;
}
.sousuo{
	width:100%;
	height:36px;
	background:rgba(240,240,240);
}
.sousuo>p{
	width:50%;
	height:36px;
	line-height: 36px;
	float:left;
	font-weight: bold;
    color: #1d7aee;
    font-size: 14px;
    text-indent:15px;
}
.sousuo>p>span{
	display:inline-block;
	width:8px;
	height:36px;
	background: #1d7aee;
	float:left;
}
.sousuo>div{
	width:50%;
	float:right;
}
.sousuo>div>input{
	float:right;
	height:26px;
	border:1px solid #1d7aee;
	outline:medium;
	text-indent: 5px;
	color:#898989;
	font-size: 14px;
	margin-top:4px;
}
.sousuo>div>img{
	float:right;
	max-height:26px;
	max-width: 100%;
	background: #1d7aee;
	padding:5px 8px;
	margin-top:4px;
}
.introducte4box{
	width:100%;
	clear:both;
}
.kecheng-bottom{
	width:100%;
	margin-bottom: 70px;
}


/*主试名单*/
/*tab li*/
.tab-wrapper {
  margin:0px auto 60px auto;
  width: 100%;
}
.tab-menu{
	border-left:8px solid #1D7AEE;
}
.tab-menu li {
  position:relative;
  color:gray;
  display: inline-block;
  padding:2px 12px;
  margin:12px 5px 0 5px;
  opacity: 0.8;
  cursor:pointer;
  z-index:0;
  font-size: 14px;
  font-weight:bold;
}
.tab-menu div{
	float:right;
	height:26px;
}
.tab-menu div input{
	width:134px;
	border:none;
	outline: none;
	font-size: 12px;
	padding:1px 15px;
	border:1px solid #1d7aee;
	background: white;
	float:left;
}
.tab-menu div>img{
	float: left;
    background: #1d7aee;
    padding: 3px 4px;
    height: 14px;
}
.tab-menu li.active {
	font-size: 14px;
  font-weight:bold;
   padding:2px 12px;
  color:white;
  background: #1d7aee;
  opacity: 1;
}
.tab-content{
	margin: 60px 0 120px 0;
	padding:20px 0;
	border: 1px solid lightgray;
    border-top: 30px solid rgba(240,240,240);
}
.line {
  position:absolute;
  width: 0;
  height:0px;
  background-color: none;
  top: 0;
  left: 0;
}


/*名单介绍区*/
.tab-content1{
  box-sizing:border-box;
  width: 100%; 
  /*height:auto;*/
}
.listbox{
	width:100%;
	
}
.listbox-centent{
	width:100%;
	margin:0 auto;
	height:auto!important; 
	min-height:320px; 
	height:379px; 
	overflow:hidden;
}

.listbox-centent a{
	width:8.333%;
	overflow: hidden;
    display: inline-block;
    height: 34px;
    float: left;
    line-height: 34px;
    font-size: 14px;
    color: #898989;
    text-align: center;
}
.listbox-centent a>span{
	width:46px;
	margin:0 auto;
	overflow: hidden;
    display: block;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    color: #898989;
    text-align:justify;
	text-align-last:justify;
	text-justify:distribute-all-lines;  /*这行必加，兼容ie浏览器*/
	text-justify:inter-ideograph;/*IE*/
}	

.listbox-centent a>span:after{
    content: " ";
    display: inline-block;
    width: 100%;
}

/*版权*/
.right-footer { 
    position: relative;
    height: 40px;
    background: none;
    line-height: 40px;
    margin-top: -40px;
    color: #a3a3a3;
    font-size: 30px;
    text-align: center;
    z-index: 1;
    width: 88%;
    float: right;
    clear: both;
    border-top: 1px solid lightgray;
}
.right-footer-content{
	width: 100%;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    color: #a3a3a3;
}