.slider a{
	font-family: PingFangSC-Regular, sans-serif;!important; 
}
/*一级导航*/
.sidebar>ul>li:nth-of-type(1){
	background:#1d7aee;
	box-shadow: 0px 0px 13px 0px rgba(147,178,224,0.5);
}
.sidebar>ul>li:nth-of-type(1)>a{
	color:white;
}
.sidebar>ul>li:nth-of-type(1)>a:hover{
	color:white;
	
}
/*右侧头部*/
.right-top{
	width:100%;
	height:60px;
	background: white;
	z-index:10;
}
.right-top-content{
	width:80%;
	height:42px;
	margin:0 auto;
	padding-top:15px;
}
.right-top-left{
	float:right;
	margin-right: 20px;
	position: relative;
}
.right-top-left>input{
	width:220px;
	height:30px;
	border:none;  /*去掉边框*/
	outline:medium;  /*去掉点击有蓝框的效果*/
	border-radius:20px;
	background:url(../img/search.png) no-repeat 15px rgb(233,233,233) ;
	font-size: 12px;
	color:gray;
	text-indent:50px;
}
.right-top-left span{
	display:inline-block;
	width:50px;
	height:30px;
	background: #1d7aee;
	line-height: 30px;
	color:white;
	text-align: center;
	position: absolute;
	right:0;
	top:0;
	border-radius:20px;
}
.right-top-right{
	float:right;
	font-size: 12px;
	color:gray;
	line-height: 30px;
}
.right-top-right>p>span:nth-of-type(1){
	color:#009fb6;
}
.right-top-right>p>span:hover{
	color:#009fb6;
}
.right-top-right>select{
	width:60px;
}
.right-top-right>select>option:nth-of-type(1){
	background:url(../img/china.png) no-repeat left;
}

/*中英文切换*/
.def{float:left;}
.def div{display: none;float:left;}
#div1 {display: block;}
.switchselect{float:left;padding: 1px 8px;border: none;outline: none;}

/*banner区*/
.bannerbox{
	width:100%;
	max-height: 290px;
	overflow: hidden;
}
.banner-left{
	width:100%;
	float:left;
	max-height: 290px;
	margin-bottom: 70px;
}

/*斯欧非言语智力测试*/
.content1{
	width:100%;
	height:330px;
	clear:both;
	margin-top: 120px;
	overflow: hidden;
}
.content1-center{
	width:84%;
    height:138px;
    margin:0 auto;
    position:relative;
    display:flex;
}
.content1-center:nth-of-type(2){
	margin-top:30px;
}
.content1-center1{
	height:138px;
	text-align: center;
	overflow: hidden;
	flex:1;
	background: white;
	margin:0 10px;
	position: relative;
	box-shadow:6px 6px 6px 0px rgba(197,212,233,0.5);
	border-radius: 3px;
}
.content1-center1:hover{
	box-shadow:5px 7px 10px 0px rgba(147,178,224,0.7);
}
.content1-center1>div>img{
   display:block;
   overflow: hidden;
   position:absolute;	
   top:16px;
   left:30px;
}
.content1-center1>div>p{
	position: absolute;
	left:128px !important;
	top:30px;
	font-weight:550;
	font-size: 14px;
	max-width: 148px !important;
	height:36px;
	overflow: hidden;
	text-align: left;
	padding-right: 4px;
}
.content1-center1>div>a{
	display:block;
	width:80px;
	height:20px;
	border:1px solid lightgray;
	position: absolute;
	bottom:20px;
	right:30px !important;
	font-size: 12px;
	color:lightgray;
    line-height: 18px;
    border-radius: 15px;
}
.content1-center1>div>a:hover{
	background: #1d7aee;
	color:white;
}


.mydiv{
	width:100%;
	/*height:100%;*/
	border:1px solid #BBBBBB;
	/*精讲10   84*/
}
.mydiv-content{
	width:90%;
	/*height:100%;*/
	margin:0 auto;
	position:relative;
}
.mydiv-left{
	float:left;
	width:60%;
	height:100%;
}
.mydiv-left>img{
	padding:24px 0;
}
.mydiv-left>p:nth-of-type(1){
	font-size: 14px;
	font-weight: bold;
}
.mydiv-left>p:nth-of-type(2){
	width:84%;
	height: 152px;
	overflow: hidden;
	margin:0 auto;
	font-size: 14px;
	line-height: 24px;
	color:#898989;
	padding-top:12px;
	text-indent:28px;
	text-align: justify;
}
.mydiv-right{
	float:right;
	width:39.8%;
	height:55%;
	border-left:1px solid lightgray;
	margin:50px 0;
}
.mydiv-right>img{
	position:absolute;
	right: -5.5%;
    top: -24%;
}
#sioucontent{
	width:60%;
	margin:0 auto;
}
.mydiv-right input{
	display:block;
	border:none;  /*去掉边框*/
	outline:medium;  /*去掉点击有蓝框的效果*/
	background: rgb(247,247,247);
	border:1px solid #BBBBBB;
	width:240px;
	height:36px;
	margin:0 auto;
	text-indent:20px;
	color:gray;
	margin-top: 6px;
}
.mydiv-right2{
	width:100%;
	height:293px;
	position:relative;
}
.vli{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
#register{
	height:310px;
	overflow:hidden;
}
#sub{
	width:130px;
	height:30px;
	background: #009FB6;
	margin:0 auto;
	text-align: center;
	color:white;
	line-height: 15px;
	margin-top: 15px;
    border: none;
    outline: none;
}
.tijiao{
	position:absolute;
	top:0;
	left:0;
	background:white;
	z-index:1;
	width:100%;
	height:100%;
	margin:0 auto;
	padding-left:5%;display:none;
}
.tijiao>p:nth-of-type(1){
	text-align: center;
   font-size: 15px;
   color:#009FB6;
   font-weight: bold;
   padding-top: 60px;
}
.tijiao>p:nth-of-type(2){
	text-align: center;
   font-size: 14px;
   color:#898989;
   padding-top: 10px;
}
.tijiao>p:nth-of-type(2)>span{
	text-align: center;
   font-size: 14px;
   color:#898989;
   padding-top: 10px;
   border-bottom: 1px solid #898989;
}
.forget{
	display:block;
	color:#009FB6;
	margin-top: 10px;
	clear:both;
	text-align: left;
}
.mydivdeng{
	display:block;
	width:110px;
	height:42px;
	margin:0 auto;
	background: #009FB6;
	margin-top: 60px;
	text-align: center;
	line-height: 42px;
	color:white;
}
.buy{
	width:240px;
	margin:0 auto;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
}
/*最新动态*/
.information{
	width:100%;
	height:82px;
	margin-top: 80px;
}
.information-content{
	width:67%;
	height:82px;
	margin:0 auto;
	background: white;
	position:relative;
	z-index:1;
}
.information-left{
	width:11%;
	height:82px;
	float:left;
	position:absolute;
	top:0;
	left:0;
	overflow: hidden;
}
.information-left>a{
	display: block;
    width: 100%;
    height:82px;
    overflow: hidden;
}
.information-left>a>img{
	max-width: 100%;
    /*margin: 0 auto;*/
    display: block;
    height:82px;
    overflow: hidden;
}
.information-right{
	width:86%;
	height:82px;
	overflow: hidden;
	float:right;
	margin-right:2%;
}
.wp {
	position: relative;
	width:100%;
	height:82px;
	overflow: hidden;
	margin:0 auto;
	/*margin-top: 15px;*/
}
.slider {
	position: absolute;
	width:100%;
	padding:0;
	left:0;
	top: 0;
}
.fl{
	float:left;
}
.slider img {
	display:block;
	padding: 2px; 
	border: 1px solid #ccc
} 
.slider li {
	width:100%;
	height:80px;
	padding:0px;
	margin-top:10px;
	overflow:hidden;
	z-index:10;
}
.slider li a{
	display:block;
}
.slider .slider-title{
	height:20px;
	line-height: 20px;
	overflow: hidden;
	font-size: 14px;
	padding:0px;
	color:#545454;
	font-weight: bold;;
}
.slider .slider-title>span{
	font-size: 12px;
	margin-left: 30px;
	margin-top: 10px;
	color:#898989;
	font-weight:normal;
}
.slider .slider-bottom{
	display:block;
	width:100%;
	height:44px;
	overflow: hidden;
	clear:both;
	font-size: 12px;
	margin:0;
	color:#898989;
	line-height:20px;
	margin-top: -6px;
}
.slider .slider-bottom span{
	color:#1d7aee;
	
}

/*学术会议*/
/*小圆点*/
/*学术会议*/
.content2{
	width:100%;
	/*height:100%;*/
	clear:both;
	margin-top:80px;
	overflow: hidden;
}
.content2>h3{
	width:67%;
	font-size: 24px;
	font-weight: bold;
    color:#343434;
    text-align: center;
    margin:0 auto;
    padding: 0 0 10px 0;
}
.content2>h4{
	width:67%;
	font-size: 20px;
    color:#bebebe;
    text-align: center;
    margin:0 auto;
    padding: 0 0 40px 0;
    font-weight: normal;
}
.content2-center{
	width:67%;
	height:100%;
	margin:0 auto;
	display:-webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	-webkit-justify-content:space-between !important;
	justify-content:space-between !important;
	-webkit-justify-content: space-between;
    justify-content: space-between;
    padding-bottom:20px;
}
.content2-box{
	flex:1 !important;
	-ms-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	height:100%;
	/*border:1px solid rgba(233,233,233);*/
	box-shadow:0px 0px 13px 0px rgba(147,178,224,0.5);
	margin:0 1.2%;
	position: relative;
	background: white;
}
.content2-box2{
	width:100%;
	margin:0 auto;
}
.content2-center>.content2-box:nth-of-type(1){
	margin-left: 0;
}
.content2-center>.content2-box:nth-of-type(3){
	margin-right: 0 !important;
	float:right !important;
}

.content2-box:hover{
	/*border:1px solid #009FB6;*/
	box-shadow:0px 8px 12px 0px rgba(147,178,224,0.9);
}
.content2-top{
	overflow: hidden;
}
.content2-top>a>img{
	width:94% !important;
	height: 200px;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    display: block;
    margin-top: 10px;
}
.content2-top>a>img:hover{
	 transform: scale(1.1);
}

.content2-middle{
	width:100%;
}
@media (min-width: 750px){
    .banner-left{
	width:100%;
	float:left;
	max-height: 150px !important;
	margin-bottom:34px !important;
   }
   /*banner切换条的位置*/
   .carousel-indicators {
	  position: absolute;
	  top:222px !important; 
	  left: 56%;
	  z-index: 15;
	  width: 60%;
	  padding-left: 0;
	  margin-left: -30%;
	  text-align: center;
	  list-style: none;
	}
	.carousel-inner > .item {
		height:150px !important;
	}
	/*工具箱与banner的距离*/
	.content1 {
    width: 100%;
    height: 274px !important;
    clear: both;
    margin-top: 80px !important;
    overflow: hidden;
    }
    .content1-center {
    height: 116px !important;
    }
    .content1-center1 {
    height: 110px !important;
    }
    .content1-center1>div>img {
    /*max-width: 60px;*/
    } 
    .content1-center1>div>p {
    left: 90px !important;
    font-size: 12px;
    padding-right: 10px !important;
    }
    .content1-center1>div>a {
    display: block;
    width: 68px;
    height: 16px !important;
    border: 1px solid lightgray;
    position: absolute;
    bottom:14px !important;
    right: 4px !important;
    font-size: 12px;
    color: lightgray;
    line-height: 14px !important;
    border-radius: 15px;
    }
    
    .content1-center1:nth-of-type(1)>div>img,.content1-center1:nth-of-type(2)>div>img,.content1-center1:nth-of-type(3)>div>img,.content1-center1:nth-of-type(5)>div>img{
    height:40px !important;
    position: absolute;
    top:35px !important;
    left:14px !important;
    } 
    .content1-center1:nth-of-type(4)>div>img{
    	width: 40px !important;
    	height:52px !important;
	    position: absolute;
	    top:35px !important;
	    left: 14px !important;
    }
    .content1-center:nth-of-type(2)>.content1-center1:nth-of-type(2)>div>img,.content1-center:nth-of-type(2)>.content1-center1:nth-of-type(3)>div>img{
    	display: inline-block;
    	width: 52px !important;
    	height:52px !important;
	    position: absolute;
	    top:29px !important;
	    left: 14px !important;
    }
    .content1-center:nth-of-type(2)>.content1-center1:nth-of-type(4)>div>img{
    	display: inline-block;
    	width: 74px !important;
    	height:52px !important;
	    position: absolute;
	    top:29px !important;
	    left: 14px !important;
    }
    
    /*资讯*/
   .content2-top>a>img {
    height: 140px;
    }
   .content2-bottom .content2-bottom-middle {
    margin-bottom: 24px !important;
    }
    .content2-bottom .content2-bottom-title{
    	font-size: 12px !important;
    }
    
     /*视频*/
   .video-bottom {
    height: 340px !important;
    }
   .video-content {
    height: 518px !important;
    }
    .video-left {
    height: 340px !important;
    }
    .video-left video{
    height: 340px !important;
    }
    .video-right {
    height:340px !important;
	}
	.video-rightcontent {
    height:340px !important;
	}
	.video-rightcontent>h4 {
    margin: 4px 0 4px 0 !important;
    }
    .video-rightcontent>h4 {
    line-height: 24px !important; 
    font-size: 16px !important;
    margin:12px 0 8px 0 !important;
    }
    .video-rightcontent>p{
    	line-height: 16px !important;
    }
    
    /*公众号*/
   .copy-content {
    width: 70% !important;
    margin: 0 auto;
    padding-top: 80px;
    }
    .copy-left {
    width: 52% !important;
    float: left;
   }
	.copy-right div:nth-of-type(1) {
    width: 90px !important;
    margin-right: 50px !important;
    float: left;
    text-align: center;
   }
	.copy-right div:nth-of-type(2) {
    width: 90px !important;
    float: right;
   }
   
   .copy-right div img {
    width: 90px !important;
    height:90px !important;
   }

} /*>=750的设备*/

@media (min-width: 1024px){
    .banner-left{
	width:100%;
	float:left;
	max-height: 156px !important;
	margin-bottom:34px !important;
   }
   /*banner切换条的位置*/
   .carousel-indicators {
	  position: absolute;
	  top:226px !important; 
	  left: 56%;
	  z-index: 15;
	  width: 60%;
	  padding-left: 0;
	  margin-left: -30%;
	  text-align: center;
	  list-style: none;
	}
	.carousel-inner > .item {
		height:156px !important;
	}
	/*工具箱与banner的距离*/
	.content1 {
    width: 100%;
    height: 330px;
    clear: both;
    margin-top: 80px !important;
    overflow: hidden;
    }
    .content1-center1>div>img {
    /*max-width: 60px;*/
    } 
    .content1-center1>div>p {
    left: 76px;
    font-size: 12px;
    }
    .content1-center1>div>a {
    display: block;
    width: 68px;
    height: 14px !important;
    border: 1px solid lightgray;
    position: absolute;
    bottom: 14px !important;
    right: 4px !important;
    font-size: 12px;
    color: lightgray;
    line-height: 12px !important;
    border-radius: 15px;
    }
    
    /*资讯*/
   .content2-top>a>img {
    height: 140px;
    }
   .content2-bottom .content2-bottom-middle {
    margin-bottom: 24px !important;
    }
    .content2-bottom .content2-bottom-title{
    	font-size: 12px !important;
    }
} /*>=1024的设备*/

@media (min-width: 1100px) {
	.banner-left{
	width:100%;
	float:left;
	max-height: 168px !important;
	margin-bottom:34px !important;
   }
   /*banner切换条的位置*/
   .carousel-indicators {
	  position: absolute;
	  top:238px !important; 
	  left: 56%;
	  z-index: 15;
	  width: 60%;
	  padding-left: 0;
	  margin-left: -30%;
	  text-align: center;
	  list-style: none;
	}
	.carousel-inner > .item {
		height:168px !important;
	}
	/*工具箱与banner的距离*/
	.content1 {
    width: 100%;
    height: 330px;
    clear: both;
    margin-top: 80px !important;
    overflow: hidden;
    }
    
    /*视频*/
   .video-bottom {
    height: 340px !important;
    }
   .video-content {
    height: 518px !important;
    }
    .video-left {
    height: 340px !important;
    }
    .video-left video{
    height: 340px !important;
    }
    .video-right {
    height:340px !important;
	}
	.video-rightcontent {
    height:340px !important;
	}
	.video-rightcontent>h4 {
    margin: 18px 0 10px 0 !important;
    }
    
    
} /*>=1100的设备*/

@media (min-width: 1280px) {
	.banner-left{
	width:100%;
	float:left;
	max-height: 195px !important;
	margin-bottom:34px !important;
   }
   /*banner切换条的位置*/
   .carousel-indicators {
	  position: absolute;
	  top:266px !important; 
	  left: 56%;
	  z-index: 15;
	  width: 60%;
	  padding-left: 0;
	  margin-left: -30%;
	  text-align: center;
	  list-style: none;
	}
	.carousel-inner > .item {
		height:195px !important;
	}
	
	/*工具箱与banner的距离*/
	.content1 {
    width: 100%;
    height: 274px;
    clear: both;
    margin-top: 80px !important;
    overflow: hidden;
    }
    .content1-center {
    height: 116px !important;
    }
    .content1-center1>div>img {
    /*max-width: 90px;*/
    } 
    .content1-center1>div>p {
    position: absolute;
    left: 94px;
    top: 30px;
    font-weight: 550;
    font-size: 12px;
    max-width: 154px;
    height: 36px;
    overflow: hidden;
    text-align: left;
    }
    
    /*资讯*/
   .content2-top>a>img {
    height: 140px;
    }
   .content2-bottom .content2-bottom-middle {
    margin-bottom: 24px !important;
    }
    
    /*视频*/
    .video-rightcontent>h4 {
    margin: 18px 0 10px 0 !important;
    }
    .video-rightcontent>p {
    line-height: 20px !important;
    }
    
    /*公众号*/
   .copy-content {
    width: 52% !important;
    }
    .copy-left {
    width: 54% !important;
    float: left;
   }
	.copy-right div:nth-of-type(1) {
    width: 90px !important;
    margin-right: 50px !important;
    float: left;
    text-align: center;
   }
	.copy-right div:nth-of-type(2) {
    width: 90px !important;
    float: right;
   }
   
   .copy-right div img {
    width:90px !important;
    height:90px !important;
   }
   
} /*>=1280的设备*/

@media (min-width: 1366px) {
	.banner-left{
	width:100%;
	float:left;
	max-height: 208px !important;
	margin-bottom:34px !important;
   }
   /*banner切换条的位置*/
   .carousel-indicators {
	  position: absolute;
	  top:277px !important; 
	  left: 56%;
	  z-index: 15;
	  width: 60%;
	  padding-left: 0;
	  margin-left: -30%;
	  text-align: center;
	  list-style: none;
	}
	.carousel-inner > .item {
		height:208px !important;
	}
	/*工具箱与banner的距离*/
	.content1 {
    width: 100%;
    height: 330px;
    clear: both;
    margin-top: 80px !important;
    overflow: hidden;
    }
    
    /*资讯模块*/
    .content2-top>a>img {
    width: 94% !important;
    height: 160px;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    display: block;
    margin-top: 10px;
    }
    
     /*视频*/
   .video-bottom {
    height: 362px !important;
    }
   .video-content {
    height: 540px !important;
    }
    .video-left {
    height: 362px !important;
    }
    .video-left video{
    height: 362px !important;
    }
    .video-right {
    height:362px !important;
	}
	.video-rightcontent {
    height:362px !important;
	}
	.video-rightcontent>h4 {
    margin: 18px 0 10px 0 !important;
    }
    .video-rightcontent>p {
    line-height: 22px !important;
    }
}  

@media (min-width: 1440px) {
	.banner-left{
	width:100%;
	float:left;
	max-height: 220px !important;
	margin-bottom:34px !important;
   }
   /*banner切换条的位置*/
   .carousel-indicators {
	  position: absolute;
	  top:294px !important; 
	  left: 56%;
	  z-index: 15;
	  width: 60%;
	  padding-left: 0;
	  margin-left: -30%;
	  text-align: center;
	  list-style: none;
	}
	.carousel-inner > .item {
		height:219px !important;
	}
	
	/*工具箱与banner的距离*/
	.content1 {
    width: 100%;
    height: 330px;
    clear: both;
    margin-top: 80px !important;
    overflow: hidden;
    }
    
    /*视频*/
   .video-bottom {
    height: 362px !important;
    }
   .video-content {
    height: 540px !important;
    }
    .video-left {
    height: 362px !important;
    }
    .video-left video{
    height: 362px !important;
    }
    .video-right {
    height:362px !important;
	}
	.video-rightcontent {
    height:362px !important;
	}
	.video-rightcontent>h4 {
    font-size: 18px !important;
    margin: 18px 0 10px 0 !important;
    }
    .video-rightcontent>p {
    line-height: 24px !important;
    }
} 

@media (min-width: 1600px) {
	.banner-left{
	width:100%;
	float:left;
	max-height: 242px !important;
	margin-bottom:34px !important;
   }
   
   /*banner切换条的位置*/
   .carousel-indicators {
	  position: absolute;
	  top:318px !important; 
	  left: 56%;
	  z-index: 15;
	  width: 60%;
	  padding-left: 0;
	  margin-left: -30%;
	  text-align: center;
	  list-style: none;
	}
	.carousel-inner > .item {
		height:244px !important;
	}
	
	/*工具箱与banner的距离*/
	.content1 {
    width: 100%;
    height: 330px;
    clear: both;
    margin-top: 80px !important;
    overflow: hidden;
    }
    .content1-center1>div>p {
    left:124px !important;
    font-size: 14px;
    }
    .content1-center1>div>a {
    display: block;
    width: 68px;
    height: 22px !important;
    border: 1px solid lightgray;
    position: absolute;
    bottom:10px !important;
    right: 20px !important;
    font-size: 12px;
    color: lightgray;
    line-height: 18px !important;
    border-radius: 15px;
    }
    .content1-center1:nth-of-type(1)>div>img,.content1-center1:nth-of-type(2)>div>img,.content1-center1:nth-of-type(3)>div>img,.content1-center1:nth-of-type(5)>div>img{
    width:80px !important;
    height:50px !important;
    position: absolute;
    top:30px !important;
    left:26px !important;
    } 
    .content1-center1:nth-of-type(4)>div>img{
    	width: 40px !important;
    	height:52px !important;
	    position: absolute;
	    top:35px !important;
	    left: 26px !important;
    }
    .content1-center:nth-of-type(2)>.content1-center1:nth-of-type(2)>div>img,.content1-center:nth-of-type(2)>.content1-center1:nth-of-type(3)>div>img{
    	display: inline-block;
    	width: 52px !important;
    	height:52px !important;
	    position: absolute;
	    top:29px !important;
	    left: 26px !important;
    }
    .content1-center:nth-of-type(2)>.content1-center1:nth-of-type(4)>div>img{
    	display: inline-block;
    	width: 74px !important;
    	height:52px !important;
	    position: absolute;
	    top:29px !important;
	    left: 26px !important;
    }
    
       
    /*资讯模块*/
   .content2-top>a>img {
    width: 94% !important;
    height: 168px !important;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    display: block;
    margin-top: 10px;
    }
    .content2-bottom .content2-bottom-middle {
    margin-bottom: 24px !important;
    }
    .content2-bottom .content2-bottom-title{
    	font-size: 14px !important;
    }
    
    /*视频*/
   .video-bottom {
    height: 378px !important;
    }
   .video-content {
    height: 556px !important;
    }
    .video-left {
    height: 378px !important;
    }
    .video-left video{
    height: 378px !important;
    }
    .video-right {
    height:378px !important;
	}
	.video-rightcontent {
    height:378px !important;
	}
	.video-rightcontent>h4 {
    font-size: 20px !important;
    line-height: 30px !important;
    margin: 18px 0 10px 0 !important;
    }
    .video-rightcontent>p {
    line-height: 26px !important;
    }
    
    /*公众号*/
    .copy-left {
    width: 44% !important;
    float: left;
   }
	.copy-right div:nth-of-type(1) {
    width: 110px !important;
    margin-right: 50px !important;
    float: left;
    text-align: center;
   }
	.copy-right div:nth-of-type(2) {
    width: 110px !important;
    float: right;
   }
   
   .copy-right div img {
    width:110px !important;
    height:110px !important;
   }
} 

@media (min-width: 1680px) {
	.banner-left{
	width:100%;
	float:left;
	max-height: 256px !important;
	margin-bottom: 70px;
   }
   
   /*banner切换条的位置*/
   .carousel-indicators {
	  position: absolute;
	  top:324px !important; 
	  left: 56%;
	  z-index: 15;
	  width: 60%;
	  padding-left: 0;
	  margin-left: -30%;
	  text-align: center;
	  list-style: none;
	}
	.carousel-inner > .item {
		height:256px !important;
	}
	
	/*工具箱与banner的距离*/
	.content1 {
    width: 100%;
    height: 330px;
    clear: both;
    margin-top: 80px !important;
    overflow: hidden;
    }
    
    /*视频*/
   .video-bottom {
    height: 400px !important;
    }
   .video-content {
    height: 580px !important;
    }
    .video-left {
    height: 400px !important;
    }
    .video-left video{
    height: 400px !important;
    }
    .video-right {
    height:400px !important;
	}
	.video-rightcontent {
    height:400px !important;
	}
	.video-rightcontent>h4 {
    font-size: 22px !important;
    line-height: 30px !important;
    margin: 18px 0 10px 0 !important;
    }
    .video-rightcontent>p {
    line-height: 28px !important;
    }
} 

@media (min-width: 1920px) {
	.banner-left{
	width:100%;
	float:left;
	max-height: 290px !important;
	margin-bottom: 70px;
   }
   
    /*banner切换条的位置*/
   .carousel-indicators {
	  position: absolute;
	  top:360px !important; 
	  left: 56%;
	  z-index: 15;
	  width: 60%;
	  padding-left: 0;
	  margin-left: -30%;
	  text-align: center;
	  list-style: none;
	}
	.carousel-inner > .item {
		height:290px !important;
	}
	
	/*工具箱与banner的距离*/
	.content1 {
    width: 100%;
    height: 330px !important;
    clear: both;
    margin-top: 120px !important;
    overflow: hidden;
    }
    .content1-center {
    height: 138px !important;
    }
    .content1-center1 {
    height: 138px !important;
    }
    .content1-center1:nth-of-type(1)>div>img,.content1-center1:nth-of-type(2)>div>img,.content1-center1:nth-of-type(3)>div>img,.content1-center1:nth-of-type(5)>div>img{
    width:100px !important;
    height:62px !important;
    position: absolute;
    top:38px !important;
    left: 42px !important;
    } 
    .content1-center1:nth-of-type(4)>div>img{
    	width: 64px !important;
    	height:80px !important;
	    position: absolute;
	    top:29px !important;
	    left: 42px !important;
    }
    .content1-center:nth-of-type(2)>.content1-center1:nth-of-type(2)>div>img,.content1-center:nth-of-type(2)>.content1-center1:nth-of-type(3)>div>img{
    	display: inline-block;
    	width:90px !important;
    	height:74px !important;
	    position: absolute;
	    top:32px !important;
	    left: 42px !important;
    }
    .content1-center:nth-of-type(2)>.content1-center1:nth-of-type(4)>div>img{
    	display: inline-block;
    	width: 80px !important;
    	height:60px !important;
	    position: absolute;
	    top:44px !important;
	    left: 42px !important;
    }
    .content1-center1>div>p {
	    left: 160px !important;
	    font-size: 14px;
	    top:42px;
	    text-align: justify;
    }
    .content1-center1>div>a {
        display: block;
	    width: 68px;
	    height: 18px;
	    border: 1px solid lightgray;
	    position: absolute;
	    bottom: 16px !important;
	    right: 30px !important;
	    font-size: 12px;
	    color: lightgray;
	    line-height: 16px;
	    border-radius: 15px;
    }
    
   /*资讯模块*/
    .content2-top>a>img {
    width: 94% !important;
    height: 190px !important;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    display: block;
    margin-top: 10px;
    }
    
    /*视频*/
   .video-content{
   	height:608px !important;
   }
   .video-bottom {
    height: 430px !important;
    }
    .video-left {
    height: 430px !important;
    }
    .video-left video{
    height: 430px !important;
    }
    .video-right {
    height:430px !important;
	}
	.video-rightcontent {
    height:430px !important;
	}
	.video-rightcontent>h4 {
    font-size: 24px !important;
    line-height: 40px !important;
    margin: 18px 0 10px 0 !important;
    }
    .video-rightcontent>p {
    line-height: 28px !important;
    font-size: 14px !important;
    }
	
} 






.content2-nav{
	width:100%;
	height:34px;
	padding:0;
	text-align: center;
	margin-top: -3px;
	background: white;
	display:-webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding:8px 0;	
    border-bottom: 1px solid lightgray;
}
.content2-nav>li{
	flex:1;
	text-align: center;
	font-size: 12px;
	line-height: 20px;
    height: 20px;
}
.content2-nav>li>a{
	color:#bbbbbb !important;
}
.content2-nav>li:nth-of-type(2){
	border-left:1px solid lightgray;
	border-right:1px solid lightgray;
	padding:0 5px;
}
.content2-bottom{
	width:94%;
	margin:0 auto;
	
}
.content2-bottom .content2-bottom-title{
	display:block;
	height: 56px;
    overflow: hidden;
	line-height:25px;
    color:#545454;
    padding:5px 0 5px 0;
    /*height:40px;*/
    font-size: 14px;
	text-align:left;
	font-weight: bold;
}
.content2-bottom .content2-bottom-title>span{
    line-height:25px;
    color:#FF4B4B;
    padding:20px 0;
    height:40px;text-indent:-20px;
 }
.content2-bottom .content2-bottom-middle{
	display:block;
 	font-size: 12px;
 	color:#898989;
 	line-height: 30px;
 	margin-bottom: 40px;
 	height:60px;
 	overflow: hidden;
 	margin-top: 10px;
}
.content2-bottom .content2-bottom-middle:hover {
  	text-decoration: underline;
}
.content2-bottom .content2-bottommore{
 	color:#a7a7a7;
 	font-size: 12px;
 	margin-right:5px;
 	float:right;
 	margin-top: 0px;
 	margin-bottom: 10px;
    width: 66px;
    border:1px solid lightgray;
    border-radius:10px;
    text-align: center;
    padding: 2px 8px;
}
.content2-bottom .content2-bottommore:hover{
	background: #1d7aee;
	color:white;
}
.content2-bottom a>img{
 	margin-left:5px;
}
.content2-gradient{
	width:100%;
	height: 250px;
	position:absolute;
	bottom:0;
	left:0;
    background: -webkit-linear-gradient(left top, #5ed5f5 , #606aed); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(bottom right, #5ed5f5,  #606aed); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom right, #5ed5f5,  #606aed); /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom right, #5ed5f5 ,  #606aed); /* 标准的语法（必须放在最后） */
   border-radius: 10% 10% 0 0;
   display:none;
   box-shadow: 0px -12px 14px -10px #2c5561;
}
.content2-gradient>a{
	display:block;
	width:100%;
	height:250px;
	line-height: 250px;
	font-size: 16px;
	color:white;
	text-align: center;
	line-height: 250px;
}
.content2-box:hover .content2-gradient{
	display:block;
}


.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
    display: none;
}
.swiper-container .swiper-wrapper #swiper-box{
	width:298px!important;
	height:400px!important;
	border:1px solid #d0d0d0;
}
.swiper-container {
 width: 1008px;
  height:486px;
  margin:0 auto;
}
.swiper-container h3{
	font-size: 24px;
    font-weight: bold;
    color: #545454;
   text-align: center;
   padding:0 0 50px 0;
}
.swiper-wrapper{
	width:100%;
  height:486px;
  margin:0 auto;
  position:relative;
}
.swiper-slide{
	width:298px;
	width:33.3%;
	height:400px;
	margin-right:20px;
	border:1px solid rgba(0,0,0,0);
	float:left;
	!important
}
.swiper-container .swiper-wrapper #swiper-box:hover{
  border:1px solid #009FB6;
}
#swiper-top img{
	width:100%;
}
#swiper-center ul{
	width:100%;
	height:40px;
	padding:0;
	text-align: center;
	margin-top: -3px;
	background: #f5f5f5;
}
#swiper-center ul>li{
	line-height: 20px;
    margin-top: 10px;
}
#swiper-center ul>li:nth-of-type(1){
	float:left;
    width:30%;
}
#swiper-center ul>li:nth-of-type(3){
	float:left;
    width:30%;
}
 #swiper-center ul>li:nth-of-type(2){
 	float:left;
    width:38%;
	border-left:1px solid lightgray;
	border-right:1px solid lightgray;
}
 #swiper-center ul>li>a{
	color:#bbbbbb;
	font-size: 12px;
}

#swiper-footer{
	width:90%;
	height:206px;
	margin:0 auto;
	clear:both;
	overflow:hidden;
}
 #swiper-footer h4>a{
    line-height:25px;
    color:#545454;
    padding:0 0 10px 0;
    height:40px;
    font-size: 16px;
 }
  #swiper-footer h4>a>span{
    line-height:25px;
    color: #009FB6;
    padding:20px 0;
    height:40px;
 }
 #swiper-footer p>a{
 	font-size: 12px;
 	color:#898989;
 	line-height: 30px;
 	margin-bottom: 10px;
 	height:54px;
 	overflow: hidden;
 	margin-top: 10px;
 }
#swiper-footer p>a:hover{
  	text-decoration: underline;
}
 #swiper-footer a{
 	color:#a7a7a7;
 	font-size: 12px;
 	margin-right:5px;
 	float:right;
 	margin-top: 20px;
 }
  #swiper-footer a>img{
 	margin-left:5px;
 }
 /*左右箭头*/
#tab-left{
	position:absolute;
	top:30px;
}
 .tab-leftjiantou1{
	right: 30px;
	position: absolute;
	top:  -211px;
	width:20px;
	height:20px;
}
.tab-leftjiantou {
	right: 30px;
	position: absolute;
	top: -211px;
	width:20px;
	height:20px;display:none
}
.swiper-button-next:hover .tab-leftjiantou{
	display:block;
}
.tab-rightjiantou1{
	position: absolute;
	top: -211px;
	left: 920px;
	width:20px;
	height:20px;
}
.tab-rightjiantou {
	position: absolute;
	top: -211px;
	left: 920px;
	width:20px;
	height:20px;display:none;
}
.swiper-button-prev:hover .tab-rightjiantou{
    display:block;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
	background-image:none!important;
    left: 10px;
    right: auto;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image:none!important;
    right: 10px;
    left: auto;
}


/*视频区*/
.video-content {
    width:67%;
    height:608px;
    margin: 0 auto;
    padding-top: 80px;
}
.video-content>h3{
	width: 67%;
    font-size: 24px;
    font-weight: bold;
    color: #343434;
    text-align: center;
    margin: 0 auto;
    padding: 0 0 10px 0;
}
.video-content>h4{
	width: 67%;
    font-size: 20px;
    color: #bebebe;
    text-align: center;
    margin: 0 auto;
    padding: 0 0 40px 0;
    font-weight: normal;
}
.video-bottom{
	width:100%;
	height:430px;
	clear:both;
	background: pink;
}
.video-left{
	width:68%;
	height:430px;
	float:left;
	overflow:hidden;
}
.video-left div video{
	margin:0 auto;
	object-fit:fill;
    width:100%;
    height:430px;
}
.video-right{
	width:32%;
	height:430px;
	float:right;
	background: black;
	overflow:hidden;
}
.video-rightcontent{
	width:80%;
	height:430px;
	margin:0 auto;
	overflow: hidden;
}
.video-rightcontent>h4{
	line-height: 28px;
	color:white;
	margin:50px 0 40px 0;
	font-size: 20px;
}
.video-rightcontent>p{
	font-size: 12px;
	color:white;
	text-align: justify;
	line-height: 22px;
}

/*经典文献*/
.literature{
	width:100%;
	height:437px;
	clear:both;
	margin-top: 80px;
}
.literature-content{
	width:84%;
	margin:0 auto;
}
.literature-content>h3{
	font-size: 24px;
	font-weight: bold;
	color:#009FB6;
	text-align: center;
	padding:0 0 40px 0;
}
#box {
	width: 100%;
	height: 393px;
	margin:0 auto;
}
.tab-menu {
	margin: 0;
	padding: 0;
	height: 25px;
	line-height: 24px;
	margin-bottom: 15px;
	width:45%;
	margin:0 auto;
	padding-bottom: 30px;
	display:-webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content:space-between !important;
	justify-content:space-between !important;
}
.tab-menu li {
	margin: 0;
	list-style: none;
	border-bottom: none;
	height: 25px;
	text-align: center;
	justify-content:space-between !important;
}
.tab-menu li:nth-of-type(1),.tab-menu li:nth-of-type(2),.tab-menu li:nth-of-type(3){
  float:left;
}
.tab-menu li:nth-of-type(4){
	float:left;
}
.tab-menu li:nth-of-type(1){
	margin-left: 0;
}
.tab-menu>li>a {
	font-size: 14px;
	color:#898989;
}
#tab_nav>.choice:nth-of-type(1)>a{
	color:#545454;
	font-weight:bold;
}
#tab_nav>li>a:hover {
   color:#545454;
}
#tab_content {
	width:100%;
	height:380px;
	overflow: hidden;
}
#t_1,#t_2,#t_3 ,#t_4,#t_5{
	width: 100%;
	height:311px;
}
#box1{
	width:100%;
	height:262px;
	display:-webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content:space-between;
	overflow: hidden;
}
.box1-content{
	width:100.36%;
	/*height:256px;*/
	height:220px;
	margin:0 auto;
	padding:0 10%;
	margin:20px 0 0 0;
	/*border-right:1px solid lightgray;*/
}
.changeone ul li:nth-of-type(2)>.box1-content{
	border-left:1px solid lightgray;
	border-right:1px solid lightgray;
}
.box1-content>h4{
	font-size: 16px;
	color: #545454;
	width:100%;
	padding:0 0 30px 0;
	height: 44px;
	line-height: 22px;
	text-align: left;
	font-weight: bold;
	overflow: hidden;
}
.box1-content>p{
	width:100%;
	height:124px;
	font-size: 12px;
	color:#898989;
	line-height: 26px;
	overflow: hidden;
	text-align: justify;
}
.box1-content>a{
	display:block;
	font-size: 14px;
	color:#898989;
	padding-top: 0px;
	float:right;
	width:20%;
}
.changeone{
	width: 100%;
	height:303px;
	border-top:1px solid #eeeeee;
	font-size: 14px;
	overflow: hidden;
}

.changeone ul{
	width: 100%;
	height:262px;
	display: flex;
	flex-wrap: wrap;
}

.changeone ul li{
	flex: 1;
	width:33.3%;
	height:100%;
	text-align: left;
	float:left;
}
.huanbox{
	width:100%;
	height:17px;
	text-align: center;
	margin-top:15px;
}
.huan{
	display:block;
	float:right;
	width:50px;
	height:20px;margin:0 auto;
	text-align:right;
	color:#898989;
	font-size: 14px;
	line-height: 20px;
}


/*合作单位*/
.cooperator{
	width:100%;
	height:100%;
	margin-top:100px;
	clear:both;
}
.cooperator-content{
	width:83%;
    height:100%;
	margin:0 auto;
}
.cooperator-content>h3{
	width: 83%;
    font-size: 24px;
    font-weight: bold;
    color: #343434;
    text-align: center;
    margin: 0 auto;
    padding: 0 0 10px 0;
}
.cooperator-content>h4{
	width: 83%;
    font-size: 20px;
    color: #bebebe;
    text-align: center;
    margin: 0 auto;
    font-weight: normal;
}
.cooperator-bottom{width:100%;height:120px;margin:0 auto;background:white;box-shadow:0px 0px 8px 0px rgba(147,178,224,0.5);position: relative;bottom: -60px;z-index: 1;}
.box{width: 89%;height: 120px;position: relative;margin:0 auto}
.box_wheel{width:100%;height: 120px;overflow: hidden;}
.btn{width: 50px;height: 14px;line-height: 14px;text-align: center;cursor: pointer;}
.btn_left>span{position: absolute;left: -22px;top: 50%;margin-top: -10px;width: 0;height:0;border-top:10px solid transparent;border-bottom: 10px solid transparent;border-right: 10px solid #1D7AEE;}
.btn_right>span{position: absolute;right: -22px;top: 50%;margin-top: -10px;width: 0;height:0;border-top:10px solid transparent;border-bottom: 10px solid transparent;border-left: 10px solid #1D7AEE;}
.box_ul{height: 120px;}
.box_ul>li{width:100%;height: 120px;float: left;line-height:120px;text-align: center;}
.box_ul>li>div{width:50%;display:flex;}
.box_ul>li>div>p{flex:1;height:54px;margin-top:33px;border-right:1px solid lightgray}
.box_ul>li>div>p:last-of-type{border-right:none}
.box_ul>li>div>p>img{margin-top:-68px;max-width: 76%;}

/*版权地址*/
.copy{
	width:100%;
	height:400px;
	padding-top: 26px;
	border-top:1px solid lightgray;
	position: relative;
	background:rgb(36,42,42) ;
}
.copy-content{
	width:52%;
	margin:0 auto;
	padding-top: 80px;
}


.copy-left{
    width:40%;
    float:left;
}
.copy-left h5,.copy-right h5{
	color:white;
	font-size: 16px;
	padding-bottom: 30px;
}
.copy-left h6{
	color:white;
	font-size: 14px;
}
.copy-left p{
	color:gray;
	font-size: 14px;
	padding: 0px 0 6px 0;
}
.copy-right{
	float:right;
}
.copy-right div:nth-of-type(1){
	width:137px;
	margin-right:90px;
	float:left;
}
.copy-right div:nth-of-type(2){
	width:137px;
	float:right;
}
.copy-right div>a>img{
	width:137px;
	height:137px;
	margin:0 auto;
}
.copy-right div>a>img:hover {
	box-shadow:0px 0px 13px 0px rgb(147,178,224,0.5);
}
.copy-right div>span{
	display:block;
	text-align: center;
	padding-top:20px;
	color:gray;
}


/*版权*/
.right-footer{
	width:88%;
	height:50px !important;
	clear:both;
	margin-top: -40px !important;
}
.right-footer-content{
	width: 100%;
    height: 50px !important;
    margin: 0 auto;
    background: rgb(36,42,42);
    text-align: center;
    line-height: 50px !important;
    font-size: 12px;
    color: white;
    border-top: 1px solid rgb(70,70,70);
}