/*右侧头部*/
.right-top{
	width:100%;
	height:60px;
	border-bottom: 1px solid lightgray;
	background: white;
	z-index:10;
}
.right-top-content{
	width:90%;
	height:42px;
	margin:0 auto;
	padding-top:15px;
}
.right-top-left{
	float:right;
	margin-right: 20px;
}
.right-top-left>input{
	width:220px;
	height:30px;
	border:none;  /*去掉边框*/
	outline:medium;  /*去掉点击有蓝框的效果*/
	border-radius:20px;
	background:url(../img/search.png) no-repeat 15px rgb(233,233,233) ;
	font-size: 12px;
	color:gray;
	text-indent:50px
}
.right-top-right{
	float:right;
	font-size: 14px;
	color:gray;
	line-height: 30px;
}
.right-top-right>p>span:nth-of-type(1){
	color:#FF4B4B;
}
.right-top-right>p>span:hover{
	color:#FF4B4B;
}

/*banner区*/
.bannerbox{
	width:100%;
	height:100%;
	padding-top: 16px;
	overflow: hidden;
}
.banner-left{
	width:70%;
	height:320px;
	float:left;
}
.banner-right{
	width:28.5%;
	height:320px;
	float:right;
	margin-left:1.5%;
}
.banner-right-top:nth-of-type(1){
	width:100%;
	height:165px;
}
.banner-right-top>div{
	position:relative;
}
.banner-right-top>div>img{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:155px;
}
.banner-right-top>div>p{
	width:100%;
	height:100%;
	background: rgba(0,0,0,0.8);
	position:absolute;
	top:0;
	left:0;
	font-size: 14px;
	color:white;
	margin-top: 30%;
	margin-left: 8%;
}

/*斯欧非言语智力测试*/
.content1{
	width:100%;
	height:402px;
	clear:both;
	margin-top: 60px;
	overflow: hidden;
}
.content1-center{
	width:88.8%;
    height:400px;
    margin:0 auto;
    position:relative;
}
.content1-center1{
	width:100%;
	height:402px;
	text-align: center;
}

.content1-center1>div:nth-of-type(1){
	position:absolute;
	top:0;
	left:0;
	text-align: center;
	color:#2f2f2f;
	font-size: 14px; 
	font-weight: bold;
	width: 175px;
	height:181px;
}
.content1-center1>div:nth-of-type(1)>img{
   width:90%;
   height:113px;
   background: red;overflow: hidden;	
}
.content1-center1>div:nth-of-type(1)>p{
	padding-top:30px;
}
.content1-center1>div:nth-of-type(2){
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:10;
}
.content1-center1:nth-of-type(2)>div:nth-of-type(1){
	position:absolute;
	top:0;
	left:26.8%;
	text-align: center;
	color:#2f2f2f;
	font-size: 14px; 
	font-weight: bold;
}
.content1-center1:nth-of-type(3)>div:nth-of-type(1){
	position:absolute;
	top:0;
	left:53.6%;
	text-align: center;
	color:#2f2f2f;
	font-size: 14px; 
	font-weight: bold;
}
.content1-center1:nth-of-type(4)>div:nth-of-type(1){
	position:absolute;
	top:0;
	left:80.7%;
	text-align: center;
	color:#2f2f2f;
	font-size: 14px; 
	font-weight: bold;
}
.content1-center1:nth-of-type(5)>div:nth-of-type(1){
	position:absolute;
	top:210px;
	left:0px;
	text-align: center;
	color:#2f2f2f;
	font-size: 14px; 
	font-weight: bold;
}
.content1-center1:nth-of-type(6)>div:nth-of-type(1){
	position:absolute;
	top:210px;
	left:26.8%;
	text-align: center;
	color:#2f2f2f;
	font-size: 14px; 
	font-weight: bold;
}
.content1-center1:nth-of-type(7)>div:nth-of-type(1){
	position:absolute;
	top:210px;
	left:53.6%;
	text-align: center;
	color:#2f2f2f;
	font-size: 14px; 
	font-weight: bold;
}
.content1-center1:nth-of-type(8)>div:nth-of-type(1){
	position:absolute;
	top:210px;
	left:80.7%;
	text-align: center;
	color:#2f2f2f;
	font-size: 14px; 
	font-weight: bold;
}
.mydiv{
	width:100%;
	/*height:100%;*/
	border:1px solid #BBBBBB;
}
.mydiv-content{
	width:90%;
	/*height:100%;*/
	margin:0 auto;
}
.mydiv-left{
	float:left;
	width:60%;
	height:100%;
}
.mydiv-left>img{
	padding:24px 0;
}
.mydiv-left>p:nth-of-type(1){
	font-size: 14px;
	font-weight: bold;
}
.mydiv-left>p:nth-of-type(2){
	width:84%;
	margin:0 auto;
	font-size: 14px;
	line-height: 28px;
	color:#898989;
	padding-top:25px;
	text-indent:28px;
	text-align: left;
}
.mydiv-right{
	float:right;
	width:39.8%;
	height:55%;
	position:relative;
	border-left:1px solid lightgray;
	margin:30px 0;
}


.mydiv-right>img{
	position:absolute;
	right:-14.23%;
	top:-21.5%;
}
.mydiv-right2 #register input{
	border:none;  /*去掉边框*/
	outline:medium;  /*去掉点击有蓝框的效果*/
	background: rgb(247,247,247);
	border:1px solid #BBBBBB;
	width:240px;
	height:36px !important;
	margin:0 auto;
	text-indent:20px;
	color:gray;
	margin-left: 50px;
}


/*最新动态*/
.information{
	width:100%;
	height:125px;
	margin-top: 80px;
}
.information-content{
	width:94.5%;
	height:125px;
	margin:0 auto;
	background: #f7f7f7;
	position:relative;
	z-index:-1;
}
.information-left{
	width:7%;
	line-height:82px;
	float:left;
	margin-top:20px;
	margin-left:4%;
	position:absolute;
	top:0;
	left:0;
}
.information-left>img{
	max-width: 100%;
	margin:0 auto;
}
.information-right{
	width:85%;
	float:right;
	margin-right:2%;
}
.wp {
	position: relative;
	width:100%;
	height: 80px;
	overflow: hidden;
	margin:0 auto;
	margin-top: 15px;
}
.slider {
	position: absolute;
	width:100%;
	padding:0;
	left:0;
	top: 0;
}
.fl{
	float:left;
}
.slider img {
	display:block;
	padding: 2px; 
	border: 1px solid #ccc
} 
.slider li {
	width:100%;
	height:95px;
	padding:0px 0 0 15px;
	overflow:hidden;
}
.slider h4{
	font-size: 16px;
	float:left;
	padding:8px 0 10px 0;
}
.slider span{
	float:left;
	font-size: 12px;
	margin-left: 30px;
	margin-top: 10px;
	font-weight: bold;
}
.slider p {
	width:98%;
	clear:both;
	font-size: 12px;
	margin:0;
	color:#898989;
	line-height:20px;
}
.information-bottom{
	width:85%;
	height:20px;
	clear:both;
	text-align: right;
	float:right;
	margin-top:-5px;
}
.information-bottom>a{
	font-size: 14px;
	color:#FF4B4B;
	margin-right:3%;
}

/*学术会议*/
/*小圆点*/
.content2{
	width:100%;
	/*height:100%;*/
	clear:both;
	margin-top:80px;
	overflow: hidden;
}
.content2>h3{
	width:100%;
	font-size: 24px;
    color: #545454;
    text-align: center;
    padding: 0 0 40px 0;
}
.content2-center{
	width:94.5%;
	height:100%;
	margin:0 auto;
	display:-webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	-webkit-justify-content:space-around;
	justify-content:space-around;
	-webkit-justify-content:flex-end;
	justify-content:flex-end;
}
.content2-box{
	
}
.content2-box2{
	flex:1;
	height:99%;
	margin:0 auto;
	border:1px solid lightgray;
}
.content2-box2:hover{
	border:1px solid #FF4B4B;
}
.content2-box2:nth-of-type(1){
	width:96%;
	
}
.content2-box2:nth-of-type(3){
	width:96%;
	margin-right:0 !important;
	float:right !important;
}
.content2-top>img{
	width:100%;
}
.content2-middle{
	width:100%;
}
.content2-nav{
	width:100%;
	height:20px;
	padding:0;
	text-align: center;
	margin-top: -3px;
	background: #f5f5f5;
	display:-webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding:10px 0;
    	
}
.content2-nav>li{
	flex:1;
	text-align: center;
	font-size: 12px;
	line-height: 20px;
}
.content2-nav>li>a{
	color:#bbbbbb;
}
.content2-nav>li:nth-of-type(2){
	border-left:1px solid lightgray;
	border-right:1px solid lightgray;
	padding:0 5px;
}
.content2-bottom{
	width:94%;
	margin:0 auto;
	
}
.content2-bottom h4>a{
	line-height:25px;
    color:#545454;
    padding:0 0 10px 0;
    height:40px;
    font-size: 14px;
	text-align:left;
}
.content2-bottom h4>a>span{
    line-height:25px;
    color:#FF4B4B;
    padding:20px 0;
    height:40px;
 }
.content2-bottom p>a{
 	font-size: 12px;
 	color:#898989;
 	line-height: 30px;
 	margin-bottom: 10px;
 	height:54px;
 	overflow: hidden;
 	margin-top: 10px;
}
.content2-bottom p>a:hover{
  	text-decoration: underline;
}
.content2-bottom a{
 	color:#a7a7a7;
 	font-size: 12px;
 	margin-right:5px;
 	float:right;
 	margin-top: 20px;
 	padding-bottom: 10px;
}
.content2-bottom a>img{
 	margin-left:5px;
}
 
 
 

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
    display: none;
}.swiper-container .swiper-wrapper #swiper-box{
	width:298px!important;
	height:400px!important;
	border:1px solid #d0d0d0;
}
.swiper-container .swiper-wrapper #swiper-box:nth-of-type(2){
	margin:0 39px!important;
}
.swiper-container .swiper-wrapper #swiper-box:nth-of-type(5){
	margin: 0 52px 0 24px!important;
}
.swiper-container .swiper-wrapper #swiper-box:nth-of-type(7){
	margin-left: 2px;
}
.swiper-container .swiper-wrapper #swiper-box:nth-of-type(8){
	margin: 0 53px 0 23px!important;
}
.swiper-container {
 width: 1008px;
  height:486px;
  margin:0 auto;
}
.swiper-container h3{
	font-size: 24px;
    font-weight: bold;
    color: #545454;
   text-align: center;
   padding:0 0 50px 0;
}
.swiper-wrapper{
	width:100%;
  height:486px;
  margin:0 auto;
  position:relative;
}
.swiper-slide{
	width:298px;
	width:33.3%;
	height:400px;
	margin-right:20px;
	border:1px solid rgba(0,0,0,0);
	float:left;
	!important
}
.swiper-container .swiper-wrapper #swiper-box:hover{
  border:1px solid #FF4B4B;
}
#swiper-top img{
	width:100%;
}
#swiper-center ul{
	width:100%;
	height:40px;
	padding:0;
	text-align: center;
	margin-top: -3px;
	background: #f5f5f5;
}
#swiper-center ul>li{
	line-height: 20px;
    margin-top: 10px;
}
#swiper-center ul>li:nth-of-type(1){
	float:left;
    width:30%;
}
#swiper-center ul>li:nth-of-type(3){
	float:left;
    width:30%;
}
 #swiper-center ul>li:nth-of-type(2){
 	float:left;
    width:38%;
	border-left:1px solid lightgray;
	border-right:1px solid lightgray;
}
 #swiper-center ul>li>a{
	color:#bbbbbb;
	font-size: 12px;
}

#swiper-footer{
	width:90%;
	height:206px;
	margin:0 auto;
	clear:both;
	overflow:hidden;
}
 #swiper-footer h4>a{
    line-height:25px;
    color:#545454;
    padding:0 0 10px 0;
    height:40px;
    font-size: 16px;
 }
  #swiper-footer h4>a>span{
    line-height:25px;
    color:#FF4B4B;
    padding:20px 0;
    height:40px;
 }
 #swiper-footer p>a{
 	font-size: 12px;
 	color:#898989;
 	line-height: 30px;
 	margin-bottom: 10px;
 	height:54px;
 	overflow: hidden;
 	margin-top: 10px;
 }
#swiper-footer p>a:hover{
  	text-decoration: underline;
}
 #swiper-footer a{
 	color:#a7a7a7;
 	font-size: 12px;
 	margin-right:5px;
 	float:right;
 	margin-top: 20px;
 }
  #swiper-footer a>img{
 	margin-left:5px;
 }
 /*左右箭头*/
#tab-left{
	position:absolute;
	top:30px;
}
 .tab-leftjiantou1{
	right: 30px;
	position: absolute;
	top:  -211px;
	width:20px;
	height:20px;
}
.tab-leftjiantou {
	right: 30px;
	position: absolute;
	top: -211px;
	width:20px;
	height:20px;display:none
}
.swiper-button-next:hover .tab-leftjiantou{
	display:block;
}
.tab-rightjiantou1{
	position: absolute;
	top: -211px;
	left: 920px;
	width:20px;
	height:20px;
}
.tab-rightjiantou {
	position: absolute;
	top: -211px;
	left: 920px;
	width:20px;
	height:20px;display:none;
}
.swiper-button-prev:hover .tab-rightjiantou{
    display:block;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
	background-image:none!important;
    left: 10px;
    right: auto;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image:none!important;
    right: 10px;
    left: auto;
}


/*视频*/
.video{
	width:100%;
	height:421px;
	margin-top:80px;
}
.video-content{
	width:94.5%;
	height:421px;
	margin:0 auto;
}
.video-content>h3{
	font-size: 24px;
	color:#545454;
	text-align: center;
	padding:0 0 40px 0;
}
.video-left{
	width:60%;
	height:340px;
	float:left;
}
.video-right{
	width:38%;
	height:338px;
	float:right;
	overflow:hidden;
	border:1px solid lightgray;
}
/*播放器样式*/
.video_player{width:100%;height:393px;float:left;}
.video_list_area{width: 100%;height:340px;overflow:hidden;float:right;}
.video_list{height: 288px;overflow: hidden; list-style:none;width:100%;background: green;}
.video_list li{font-size: 14px;font-weight: bold;line-height: 24px;width: 100%;}
.video_list li a{display:inline-block;width:100%;height:94px;text-indent:30px;border-bottom:1px solid lightgray;line-height:94px;color:gray;background-color: white;}
.video_list li.last a{margin-right:0;float:right}
.video_list li a:hover,ul.video_list li a.on{color:white;background-color: #ff4b4b;}
#ascrail2000-hr div{margin-left:0;}
.center{width: 100%;margin: 20px auto;}
.dec_10{
	width:100%;
	height:340px;
    float:right;
}
/*视频右边切换*/
.v_out{width:100%;margin:0px auto;overflow:hidde;}
.v_show{width:100%;overflow:hidden;position:relative;height:288px;}
.v_cont{ width:100%;position:absolute;left:0px;top:0px;}
.v_cont ul{float:left;text-align:center;line-height:50px;margin-top:-3px}
.v_cont ul li{width:100%;height:288px;background:#f8f8f8;float:left;margin-top:3px;}

/*---圆圈---*/
.v_out_p{position:relative;overflow:visible}
.circle{position:absolute;left: 40px;top: 290px;}
.circle li{width:120px;height:60px;float:left;margin-right:10px;background:#ccc}
.circle .circle-cur{background:#f00}

/*---切换---*/
.prev,.next{padding:0;}
.prev>a{position:absolute;left:20px;bottom:20px}
.prev>a>img{width:22px;height:22px; display:block;}
.prev a>img:nth-of-type(1){ background:;position:absolute;left:0px;bottom:0px}
.prev a>img:nth-of-type(2){ background:;position:absolute;left:0px;bottom:0px;display:none}
.prev:hover img:nth-of-type(2){display:block}

.next>a{background:;position:absolute;right:20px;bottom:20px}
.next>a>img{width:22px;height:22px; display:block;}
.next a>img:nth-of-type(1){ background:;position:absolute;right:0px;bottom:0px}
.next a>img:nth-of-type(2){ background:;position:absolute;right:0px;bottom:0px;display:none}
.next:hover img:nth-of-type(2){display:block;}
.prev,.prev a,.next,.next a{width:21px;height:28px; display:block;}

/*经典文献*/
.literature{
	width:100%;
	height:530px;
	clear:both;
	margin-top: 80px;
}
.literature-content{
	width:93%;
	height:530px;
	margin:0 auto;
}
.literature-content>h3{
	font-size: 24px;
	color:#545454;
	text-align: center;
	padding:0 0 40px 0;
}
#box {
    width: 100%;
    height: 393px;
    margin:0 auto;
}
#tab_nav {
    margin: 0;
    padding: 0;
    height: 25px;
    line-height: 24px;
    margin-bottom: 15px;
    width:37%;
    margin:0 auto;
    padding-bottom: 30px;
}
#tab_nav li {
    margin: 0 15px;
    list-style: none;
    border-bottom: none;
    height: 25px;
    width: 60px;
    text-align: center;
}
#tab_nav li:nth-of-type(1),#tab_nav li:nth-of-type(2),#tab_nav li:nth-of-type(3){
  float:left;
}
#tab_nav li:nth-of-type(4){
	float:right;
	margin-right:0;
}
#tab_nav li:nth-of-type(1){
	margin-left: 0;
}
#tab_nav>li>a {
    font-size: 14px;
    color:#898989;
}
#tab_nav>.choice:nth-of-type(1)>a{
	color:#545454;
	font-weight:bold;
}
#tab_nav>li>a:hover {
   color:#545454;
}
#tab_content {
    width:100%;
    height:380px;
    overflow: hidden;
}
#t_1,#t_2,#t_3 ,#t_4{
    width: 100%;
    height:382px;
}
#box1{
	width:100%;
	height:360px;
	display:-webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content:space-between;
    overflow: hidden;
}
.box1-content{
	width:84.8%;
	height:256px;
	margin:0 auto;
	padding:0 7.6%;
	margin:20px 0 0 0;
	border-right:1px solid lightgray;
}
.box1-content>h4{
	font-size: 16px;
    color: #545454;
    width: 71%;
    padding:0 0 30px 0;
    height: 58px;
    line-height: 30px;
    text-align: left;
}
.box1-content>p{
	width:100%;
	height:140px;
	font-size: 12px;
	color:#898989;
	line-height: 20px;
}
.box1-content>a{
	display:block;
	font-size: 14px;
	color:#898989;
	padding-top: 18px;
	float:right;
}
.changeone{
	width: 100%;
	height:300px;
	border-top:1px solid #eeeeee;
	border-bottom:1px solid #eeeeee;
	font-size: 14px;
	overflow: hidden;
}

.changeone ul{
	width: 100%;
	height:336px;
	display: flex;
	flex-wrap: wrap;
}

.changeone ul li{
	flex: 1;
	min-width:33.3%;
	height:100%;
	text-align: left;
	float:left;
}
.huanbox{
	width:100%;
	height:17px;
	text-align: center;
	margin-top:15px;
}
.huan{
	display:block;
	float:right;
	width:50px;
	height:20px;margin:0 auto;
	text-align:right;
	font-family:"微软雅黑";  
	color:#898989;
	font-size: 14px;
    line-height: 20px;
}   

/*合作单位*/
.cooperator{
	width:100%;
	height:197px;
	margin-top:5px;
	clear:both;
}
.cooperator-content{
	width:90%;
    height:197px;
	margin:0 auto;
}
.cooperator-content>h3{
	font-size: 24px;
	color:#545454;
	text-align: center;
	padding:0 0 40px 0;
}
.js-silder{
	position: relative;	
	height:116px;
	background:rgb(247,247,247);
	width:100%;
	z-index:-1;
}
.silder-scroll{
	width:90%;
	height:100%;
	margin:0 auto;
	float:left;
	overflow: hidden;
}
.silder-main{
	position: relative;
	width: 100%;
	margin:0 auto;
	overflow: hidden;
	margin-top:29px;
}
.silder-main-img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.footer-nav{
	width:96%;
	height:100%;
	margin:0 auto;
	display:-webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
}
.footer-nav>li{
	width:23%;
	float:left;
    margin:0 1%;
	text-align: center;
}
.silder-main-img img{
	max-width: 100%;
	height:58px;
	box-shadow: 5px 5px 5px lightgray;
	z-index:0;
}
.js-silder-ctrl{
	width: 100%;
	text-align: center;
	margin-bottom:-100px;
	opacity:0;
}
.leftred{
	display:inline-block;
	float:left;
	margin-top: 50px;
	width:5%;
	float:left;
}
.rightred{
	display:inline-block;
	float:right;
	
	margin-top: 50px;
	width:5%;
	float:left;
}
.leftred>img,.rightred>img{
	max-width: 100%;
	z-index:0;
	padding-left: 20px;
}
.silder-ctrl-prev,
.silder-ctrl-next{
	position: absolute;
	top: 0;
	width: 8%;
	height: 100%;
	vertical-align: middle;
	cursor: pointer;
	color: #fff;
	font-size: 52px;
	font-weight: 600;
	text-shadow: #666 2px 2px 5px;
}
.silder-ctrl-prev{
	left: 0;
	text-align: left;
}
.silder-ctrl-next{
	right: 0;
	text-align: right;
}
.silder-ctrl-prev>span,
.silder-ctrl-next>span{
	position: absolute;
	top: 50%;
	margin-top: -40px;
}
.silder-ctrl-prev>span{
	left: 0;
}
.silder-ctrl-next>span{
	right: 0;
}
.silder-ctrl-con{
	display: inline-block;
	width: 8px;
	height: 8px;
	background-color: #fff;
	margin:25px 10px;
	border-radius: 50%;
	cursor: pointer;
}
.silder-ctrl-con>span{
	display: block;
	line-height: 0;
	text-indent: -9999px;
	overflow: hidden;
	padding: 5px 0;
	cursor: pointer;
	background-color: #e4e4e4;
}
.silder-ctrl-con.active>span{
	background-color: #7bbedf;
}

@media (max-width: 768px){
	.silder-ctrl-prev,
	.silder-ctrl-next{
		width: 10%;
		font-size: 26px;
		margin-top: -25px;
	}
	.silder-ctrl-con{
		width: 14px;
		height: 14px;
		padding: 0;
		margin: 0 5px;
	}
	.silder-ctrl-con>span{
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		padding: 0;
	}
}

/*版权地址*/
.copy{
	width:100%;
	height:126px;
	margin-top: 60px;
	border-top:1px solid lightgray;
}
.copy-content{
	width:90%;
	height:126px;
	margin:0 auto;
	padding-top: 35px;
}
.copy-left,.copy-middle{
	float:left;
}
.copy-left,.copy-middle{
	padding:0 26px;
}
.copy-left p,.copy-middle p{
	font-size: 12px;
	color:#898989;
	line-height: 30px;
}
.copy-right{
	float:right;
}
.copy-right div{
	width:60px;
	float:left;
}
.copy-right div:nth-of-type(1){
	margin-right: 12px;
}
.copy-right div>a:nth-of-type(1) img{
	width:20px;
	height:20px;
}
.copy-right div>a:nth-of-type(2) img{
	width:60px;
	height:60px;
	display:none;
}
.copy-right div:hover a:nth-of-type(2) img{
	display:block;
}
/*版权*/
.right-footer{
	width:100%;
	height:40px;
	clear:both;
	margin-top: 24px;
}
.right-footer-content{
	width:100%;
	height:40px;
	margin:0 auto;
	background:#323232;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	color:white;
}
