.sidebar>ul>li:nth-of-type(4){
	background:#1d7aee;
}
.sidebar>ul>li:nth-of-type(4)>a{
	color:white;
}
.sidebar>ul>li:nth-of-type(4)>a:hover{
	color:white;
}
/*右侧头部*/
html, body,.main{ height:100%; }
.container{
	 padding-bottom:30px; 
}
.main{
	height:auto; 
    min-height:100%; 
    _height:100%; 
}
.left{
	height:100%;
}
.clear{
	clear:both;
}

/*标题*/
.title{
	width:100%;
	height:24px;
	margin-top: 90px;
}
.title-content{
	width:67%;
	height:24px;
	margin:0 auto;
	line-height: 24px;
}
.title-left{
	float:left;
}
.title-box{
	clear: both;
    width:67%;
    padding: 50px 0 0 0;
    /*border-bottom: 1px solid lightgray;*/
    margin: 0 auto;
}
.title-left>span{
	display:inline-block;
	width: 0;
	height:0;
	border-top:8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 8px solid #1D7AEE;
	margin-right: 6px;
	margin-top: 3px;
}
.title-left>span,.title-left>p{
	float:left;
	line-height: 24px;
	font-size: 14px;
}
.title-left>p>a{
	color: #898989;
}
.title-left>p>span{
	font-weight: bold;
}
.title-right>a{
	display:inline-block;
	width:90px;
	height:24px;
	text-align: center;
	line-height: 24px;
	font-size: 14px;
	color:white;
}
.title-right>a:nth-of-type(1){
	background: #009FB6;
	margin-left:40px;
}
.title-right>a:nth-of-type(2),.title-right>a:nth-of-type(3),.title-right>a:nth-of-type(4){
	background: rgb(110,110,110);
	margin-left:40px;
}

/*垂直轮播新闻*/
.content1{
	width:100%;
	height:350px;
	margin-top: 60px;
	overflow: hidden;
}
.content1-center{
	width:67%;
	height:350px;
	margin:0 auto;
}
#zSlider {
	margin:0px auto;
	width:100%;
	overflow:hidden;
}
#picshow {
	position:relative;
}
#picshow{
	width:66%;
	overflow:hidden;
	float:left;
}
 #picshow_img{
 	width:100%;
 }
#picshow_img li {
	width:100%;
	overflow:hidden;
	float:left;
	display:none;
}
#picshow_img img {
	width:100%;
	height:350px;
}
#picshow_tx {
	left:0px;
	width:100%;
	bottom:30px;
	position:absolute;
	height:90px;
	overflow:hidden;
}
#picshow_tx li {
	background:url(../images/picshow_bg.png) repeat;
	padding:10px 30px;
	height:70px;
	color:#fff;
	display:none;
}
#picshow_tx li a {
	color:#fff;
}
#picshow_tx li a:hover {
	text-decoration:underline;	
}
#picshow_tx li h3 {
	margin:13px 0;
}
#picshow_tx li p {
	color:#ccc;
	line-height:16px;
	height:16px;
	overflow:hidden;
}
#select_btn {
	width:34%;
	height:350px;
	color:#111;
	float:right;
	display:inline;
	background-color:#f0f0f0;
}
#select_btn li {
    padding:7px 11px 0px 9px;
    width: 100%;
    height:58px;
    border-top: 1px solid lightgray;
    cursor: pointer;
    transition: all .7s ease 0s;
}
#select_btn li:hover {
    background-color: #1D7AEE;
}
#select_btn li a:hover {
    color: aliceblue
}
#select_btn li.current {
    background-color: #1D7AEE;
}
#select_btn li.current a{
    color: aliceblue
}
#select_btn li.current:hover {
    background-color: #1D7AEE;
}
#select_btn a {
	color:#000;
}
#select_btn img {
	padding:2px;
	border:1px solid #ccc;
	width:70px;
	height:44px;
	margin-right:10px;
	float:left;
}
#select_btn .select_text {
	height:16px;
	line-height: 16px;
	font:bold 13px/16px 'PingFangSC-Regular';
	overflow:hidden;
	display:block;
}
#select_btn .select_text:hover {
	text-decoration:underline;
}
#select_btn .select_date {
	height:16px;
	line-height:16px;
	overflow:hidden;
	display:block;
	margin-top: 6px;
}
#foot_bm a, #foot_bm, p, p a {
	color:#666;
}


/*分页切换内容*/
.content2{
	width:100%;
	clear:both;
	margin-top: 37px;
}
.content2-center{
	width:100%;
	margin:0 auto;
	clear:both;
}
/*.tabs>nav{
	height:30px;
	width:100%;
	border-bottom: 1px solid lightgray;
	margin-bottom: 40px;
}
.tabs>nav>ul{
	width:100%;
	height:30px;
	float:left;
}

.tabs nav>ul>li{
	position: relative;
	display: inline-block;
	margin: 0;
	text-align: center;
	width:80px;
	height:30px;
	background: rgb(110,110,110);
	line-height: 30px;
}
.tabs>nav>div{
	width:33%;
	height:30px;
	float:right;
	display:-webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.tabs>nav>div>span{
	display:inline-block;
	flex:1;
	justify-content:space-between;
	float:right;
	font-size: 14px;
	color:white;
    line-height: 30px;	
    text-align: center;
    margin: 0 3px;
}
#demoContent{
	width:100%;
	height:100%;
	clear:both;
}
#demoContent>li{
	height:71px;
	width:100%;
}*/

.page{
    width:390px;
    margin: 40px auto;
    height: 40px;
}

.hide{
  display: none;
}
.tabs ul,.tabs ul li{
  list-style: none;
}
.tabs ul{
	height:30px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 50px;
}
.tabs ul li{
  float:left;
  display: inline-block;
  width: 90px;
  height:30px;
  line-height: 30px;
  text-align:center;
  margin-right:30px;
  background: gray;
  color:white;
  font-size: 14px;
}
.tabs ul li.selected{
    background: #1d7aee;
}
.tabs-panel{
  clear:both;
}
.sectionbox{
	width:100%;
}
.sectionboxf{
	width:100%;
	height:120px;
	border-bottom: 1px solid lightgray;
}
.sectionboxf .href{
	display:block;
	width:100%;
	height:120px;
}
.section-left{
    width: 100%;
    height: 90px;
    float: left;
    margin:15px 0;
    overflow: hidden;
}
.section-left>img{
	display:inline-block;
	width:180px;
	height:90px;
	float:left;
	margin-right:20px;
}
.section-middle{
	width:64%;
	height:60px;
	margin:15px 0;
	overflow: hidden;
	float:left;
}
.section-middle>p{
	overflow: hidden;
	color: gray;
    font-weight: normal;
    font-size: 12px;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.section-middle>p:nth-of-type(1){
    height:30px;
	font-size: 15px;
    color: #4d4d4d;
    font-weight: bold;
    padding-bottom: 8px;
}
.section-middle>p:nth-of-type(1)>span{
	padding-left:10px;
	font-size: 12px;
	color:gray;
	font-weight: normal;
}
.section-right{
	display:inline-block;
	width:100px !important;
	height:90px;
	margin-left:8%;
	line-height:90px;
	float:right;
	color:#4d4d4d;
	text-align:left;
	overflow: hidden;
}

.ui-pagination-container {
	width:100%;
	height: 34px;
	line-height: 34px;
	position: absolute;
	bottom:-80px !important;
	left:0;
}
.tab-current{
	/*background:#009FB6 !important;*/
}
.tabs nav {
	text-align: left;
	background: none !important;
}
.tabs nav>ul>li{
	width:100px !important;
	text-align: center !important;
}
.tabs nav ul li:nth-of-type(2),.tabs nav ul li:nth-of-type(3),.tabs nav ul li:nth-of-type(4){
	margin-left:25px !important;
}
.tabs nav a span {
	vertical-align: middle;
	font-size: 14px;
	font-weight: bold;
	line-height: 29px !important;
	height:29px !important;
	display:block !important;
}
.tab-current>a>span{
	background: #1d7aee;
}
/*智力类样式*/
#demoContent5{
	width:100%;
	/*height:100%;*/
}
#demoContent5>li{
	height:71px;
	width:100%;
	border-bottom: 1px solid lightgray;
}
#page5{
    width:68%;
    margin: 40px auto;
    /*height: 40px;*/
   clear:both;
}
#page5>li{
	float:left;
}
.sectionbox5{
	width:100%;
}
.sectionbox5 .href{
	display:block;
	width:100%;
	height:70px;
}
.section-left5{
    width:59%;
	height:70px;
	float:left;
}
.section-left5>p{
	color: #4d4d4d;
    font-weight: bold;
    font-size: 14px;
    line-height: 70px;
    text-align: left;
}
.section-right5{
    width:41%;
	height:70px;
	float:right;
}
.section-right5>p,.section-right5>img{
   float:right;
}
.section-right5>p{
	display:inline-block;
	float:left;
	line-height: 70px;
	color:#4d4d4d;
	font-weight: 500;
}
.section-right5>p:nth-of-type(3){
	float:right;
}
.section-right5>img{
	float:left;
	margin: 26.5px 10px 0 70px;
}
.section-right5>img:nth-of-type(2){
	float:right;
}

/*版权*/
.right-footer { 
    position: relative;
    height: 40px;
    background: none;
    line-height: 40px;
    margin-top: -40px;
    color: #a3a3a3;
    font-size: 30px;
    text-align: center;
    z-index: 1;
    width: 88%;
    float: right;
    clear: both;
    border-top: 1px solid lightgray;
}

.right-footer-content{
	width: 100%;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    color: #a3a3a3;
}



@media (min-width: 750px){
	.content1,.content1-center,#picshow_img img,#select_btn{
		height:240px !important;
	}
	#select_btn li{
		height:60px !important;
	}
	.sectionboxf,.sectionboxf .href{
		height:100px !important;
	}
	.section-left {
	    height: 76px !important;
	    margin: 12px 0 !important;
    }
	.section-left>img {
	    width: 160px !important;
	    height: 76px !important;
	}
	.section-middle {
	    width: 48% !important;
	    height: 60px !important;
	    margin: 15px 0 !important;
	}
	.section-middle>p:nth-of-type(1){
		font-size: 14px;
	}
	.section-right {
	    /*width: 20% !important;*/
	    height: 76px !important;
	    line-height: 76px !important;
	}
}

@media (min-width: 1024px){
	.content1,.content1-center,#picshow_img img,#select_btn{
		height:260px !important;
	}
	#select_btn li{
		height:68px !important;
	}
	.section-middle {
	    width: 50% !important;
	    height: 60px !important;
	    margin: 15px 0 !important;
	}
}

@media (min-width: 1100px){

}

@media (min-width: 1280px){
	.content1,.content1-center,#picshow_img img,#select_btn{
		height:300px !important;
	}
	#select_btn li{
		height:60px !important;
	}
	.section-middle {
	    width: 55% !important;
	    height: 60px !important;
	    margin: 15px 0 !important;
	}
}

@media (min-width: 1360px){
	.content1,.content1-center,#picshow_img img,#select_btn{
		height:330px !important;
	}
	#select_btn li{
		height:55px !important;
	}
	.sectionboxf,.sectionboxf .href{
		height:110px !important;
	}
	.section-left {
	    height: 80px !important;
	    margin: 15px 0 !important;
    }
	.section-left>img {
	    width: 180px !important;
	    height: 80px !important;
	}
	.section-middle {
	    width: 55% !important;
	    height: 60px !important;
	    margin: 10px 0 !important;
	}
	.section-right {
	    /*width: 20% !important;*/
	    height: 80px !important;
	    line-height: 80px !important;
	}
}

@media (min-width: 1440px){
	/*.content1,.content1-center,.content1-left,.content1-right{
		height:134px !important;
	}*/
	.section-middle {
	    width: 56% !important;
	    height: 60px !important;
	    margin: 15px 0 !important;
	}
}

@media (min-width: 1600px){
	.content1,.content1-center,#select_btn{
		height:350px !important;
	}
	#picshow_img img{
		height:380px !important;
	}
	#select_btn li{
		height:58px !important;
	}
	.content1-right>h2{
		margin:0px 0 20px 0;
		font-size: 22px !important;
	}
	.sectionboxf,.sectionboxf .href{
		height:120px !important;
	}
	.section-left {
	    height: 90px !important;
	    margin: 15px 0 !important;
    }
	.section-left>img {
	    width: 180px !important;
	    height: 90px !important;
	}
	.section-middle {
	    width: 58% !important;
	    height: 60px !important;
	    margin: 15px 0 !important;
	}
	.section-middle>p:nth-of-type(1){
		font-size: 15px;
	}
	.section-right {
	    /*width: 20% !important;*/
	    height: 90px !important;
	    line-height: 90px !important;
	}
}

@media (min-width: 1680px){
	/*.content1,.content1-center,.content1-left,.content1-right{
		height:157px !important;
	}*/
}

@media (min-width: 1920px){
	/*.content1,.content1-center,.content1-left,.content1-right{
		height:180px !important;
	}*/
	.section-left>img {
	    width: 180px !important;
	    height: 90px !important;
	}
	.section-middle {
	    width: 62% !important;
	    height: 60px !important;
	    margin: 15px 0 !important;
	}
	.section-right {
	    /*width: 20% !important;*/
	    height: 90px !important;
	    line-height: 90px !important;
	}
}
