.sidebar>ul>li:nth-of-type(4){
	background:#1d7aee;
	box-shadow: 0px 0px 13px 0px rgba(147,178,224,0.5);
}
.sidebar>ul>li:nth-of-type(4)>a{
	color:white;
}
.sidebar>ul>li:nth-of-type(4)>a:hover{
	color:white;
}
/*右侧头部*/
html, body,.main{ height:100%; }
.container{
	 padding-bottom:30px; 
}
.main{
	height:auto; 
    min-height:100%; 
    _height:100%; 
}
.left{
	height:100%;
}
.clear{
	clear:both;
}

/*标题*/
.title{
	width:100%;
	height:24px;
	margin-top: 30px;
}
.title-content{
	width:80%;
	height:24px;
	margin:0 auto;
	line-height: 24px;
}
.title-left{
	float:left;
}
.title-box{
	clear: both;
    width: 80%;
    padding: 50px 0 0 0;
    /*border-bottom: 1px solid lightgray;*/
    margin: 0 auto;
}
.title-left>span{
	display:inline-block;
	width: 0;
	height:0;
	border-top:8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 8px solid #1D7AEE;
	margin-right: 6px;
	margin-top: 3px;
}
.title-left>span,.title-left>p{
	float:left;
	line-height: 24px;
	font-size: 14px;
}
.title-left>p>a{
	color: #898989;
}
.title-left>p>span{
	font-weight: bold;
}
.title-right>a{
	display:inline-block;
	width:90px;
	height:24px;
	text-align: center;
	line-height: 24px;
	font-size: 14px;
	color:white;
}
.title-right>a:nth-of-type(1){
	background: #009FB6;
	margin-left:40px;
}
.title-right>a:nth-of-type(2),.title-right>a:nth-of-type(3),.title-right>a:nth-of-type(4){
	background: rgb(110,110,110);
	margin-left:40px;
}

/*美国机构如何培养出优秀的心理咨询师*/
.content1{
	width:100%;
	height:180px;
	margin-top: 60px;
	overflow: hidden;
}
.content1-center{
	width:80%;
	height:180px;
	margin:0 auto;
}
.content1-left{
	float:left;
	width:25%;
}
.content1-left>img{
	width:100%;
}
.content1-right{
	width:70%;
	height:180px;
	float:right;
	margin-left:2%;
}
.content1-right>h2{
	margin: 0px 0 20px 0;
	color:#1e1e1e;
	font-size: 22px;
}
.content1-right>p{
	line-height: 20px;
	font-size: 12px;
	color:#7c7c7c;
}

/*分页切换内容*/
.content2{
	width:100%;
	clear:both;
	margin-top: 37px;
}
.content2-center{
	width:100%;
	margin:0 auto;
	clear:both;
}
.tabs>nav{
	height:30px;
	width:100%;
	border-bottom: 1px solid lightgray;
}
.tabs>nav>ul{
	width:100%;
	height:30px;
	float:left;
}

.tabs nav>ul>li{
	position: relative;
	display: inline-block;
	margin: 0;
	text-align: center;
	width:80px;
	height:30px;
	background: rgb(110,110,110);
	line-height: 30px;
}
.tabs>nav>div{
	width:33%;
	height:30px;
	float:right;
	display:-webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.tabs>nav>div>span{
	display:inline-block;
	flex:1;
	justify-content:space-between;
	float:right;
	font-size: 14px;
	color:white;
    line-height: 30px;	
    text-align: center;
    margin: 0 3px;
}
#demoContent{
	width:100%;
	height:100%;
	clear:both;
}
#demoContent>li{
	height:71px;
	width:100%;
}
.page{
    width:390px;
    margin: 40px auto;
    height: 40px;
}
.sectionbox{
	width:100%;
}
.sectionboxf{
	width:100%;
	height:80px;
	border-bottom: 1px solid lightgray;
}
.sectionboxf .href{
	display:block;
	width:100%;
	height:80px;
}
.section-left{
    width: 100%;
    height: 42px;
    float: left;
    margin-top: 19px;
    overflow: hidden;
}
.section-left>p{
	height:18px;
	overflow: hidden;
	color: #4d4d4d;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
}
.section-left>p:nth-of-type(1){
	font-size: 12px;
    color: gray;
    font-weight: normal;
    padding-bottom: 8px;
}
.section-left>p:nth-of-type(1)>span{
	padding-left:10px;
}
.ui-pagination-container {
	width:100%;
	height: 34px;
	line-height: 34px;
	position: absolute;
	bottom:-80px !important;
	left:0;
}
.tab-current{
	/*background:#009FB6 !important;*/
}
.tabs nav {
	text-align: left;
	background: none !important;
}
.tabs nav>ul>li{
	width:100px !important;
	text-align: center !important;
}
.tabs nav ul li:nth-of-type(2),.tabs nav ul li:nth-of-type(3),.tabs nav ul li:nth-of-type(4){
	margin-left:25px !important;
}
.tabs nav a span {
	vertical-align: middle;
	font-size: 14px;
	font-weight: bold;
	line-height: 29px !important;
	height:29px !important;
	display:block !important;
}
.tab-current>a>span{
	background: #1d7aee;
}
/*智力类样式*/
#demoContent5{
	width:100%;
	/*height:100%;*/
}
#demoContent5>li{
	height:71px;
	width:100%;
	border-bottom: 1px solid lightgray;
}
#page5{
    width:68%;
    margin: 40px auto;
    /*height: 40px;*/
   clear:both;
}
#page5>li{
	float:left;
}
.sectionbox5{
	width:100%;
}
.sectionbox5 .href{
	display:block;
	width:100%;
	height:70px;
}
.section-left5{
    width:59%;
	height:70px;
	float:left;
}
.section-left5>p{
	color: #4d4d4d;
    font-weight: bold;
    font-size: 14px;
    line-height: 70px;
    text-align: left;
}
.section-right5{
    width:41%;
	height:70px;
	float:right;
}
.section-right5>p,.section-right5>img{
   float:right;
}
.section-right5>p{
	display:inline-block;
	float:left;
	line-height: 70px;
	color:#4d4d4d;
	font-weight: 500;
}
.section-right5>p:nth-of-type(3){
	float:right;
}
.section-right5>img{
	float:left;
	margin: 26.5px 10px 0 70px;
}
.section-right5>img:nth-of-type(2){
	float:right;
}

/*版权*/
.right-footer { 
    position: relative;
    height: 40px;
    background: none;
    line-height: 40px;
    margin-top: -40px;
    color: #a3a3a3;
    font-size: 30px;
    text-align: center;
    z-index: 1;
    width: 100%;
    float: right;
    clear: both;
    border-top: 1px solid lightgray;
}

.right-footer-content{
	width: 100%;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    color: #a3a3a3;
}



@media (min-width: 750px){
	.content1,.content1-center,.content1-left,.content1-right{
		height:92px !important;
	}
	.content1-right>h2{
		margin:0px 0 10px 0;
		font-size: 18px !important;
	}
}

@media (min-width: 1024px){
	.content1,.content1-center,.content1-left,.content1-right{
		height:96px !important;
	}
}

@media (min-width: 1100px){
	.content1,.content1-center,.content1-left,.content1-right{
		height:102px !important;
	}
	.content1-right>h2{
		font-size: 20px !important;
	}
}

@media (min-width: 1280px){
	.content1,.content1-center,.content1-left,.content1-right{
		height:120px !important;
	}
	.content1-right>h2{
		margin:0px 0 16px 0;
		font-size: 20px !important;
	}
}

@media (min-width: 1360px){
	.content1,.content1-center,.content1-left,.content1-right{
		height:128px !important;
	}
}

@media (min-width: 1440px){
	.content1,.content1-center,.content1-left,.content1-right{
		height:134px !important;
	}
}

@media (min-width: 1600px){
	.content1,.content1-center,.content1-left,.content1-right{
		height:150px !important;
	}
	.content1-right>h2{
		margin:0px 0 20px 0;
		font-size: 22px !important;
	}
}

@media (min-width: 1680px){
	.content1,.content1-center,.content1-left,.content1-right{
		height:157px !important;
	}
}

@media (min-width: 1920px){
	.content1,.content1-center,.content1-left,.content1-right{
		height:180px !important;
	}
}
