.sidebar>ul>li:nth-of-type(2){
	background:#1d7aee;
	box-shadow: 0px 0px 13px 0px rgba(147,178,224,0.5);
}
.sidebar>ul>li:nth-of-type(2)>a{
	color:white;
}
.sidebar>ul>li:nth-of-type(2)>a:hover{
	color:white;
}
/*右侧头部*/
.right-top {
    width: 100%;
    height: 67px !important;
    background: white;
    z-index: 10;
}

/*左侧切换二级页面*/
.right-top-left1>a:nth-of-type(2) {
    background: #1D7AEE;
    color: white;
}


/*热门文章*/
.content1{
	width:100%;
	/*height:221px;*/
	margin-top: 30px;
	clear:both;
}
.content1-center{
	width:80%;
	height:163px;
	margin:0 auto;
}
.content1-left{
	float: left;
    width: 50%;
    height: 163px;
}
.content1-left>img{
	height:100%;
	width:100%;
}
.content1-right{
	width:40%;
	height:163px;
	float:left;
	margin-left:10%;
}
.content1-right>h2{
	margin:5px 0 10px 0;
	color:#1e1e1e;
	font-size: 18px;
}
.content1-nav>li{
	line-height: 30px;
	height:30px;
	overflow: hidden;
}
.content1-nav>li>a{
	font-size: 14px;
	display:inline-block;
	width:100%;
	height:30px;
	overflow: hidden;
}
.content1-nav>li>a>span:nth-of-type(1){
	display:inline-block;
	width:18px;
	height:18px;
	float:left;
	background: rgb(216,37,58);
	text-align: center;
	line-height: 18px;
    margin-top: 6px;
	color:white;
}
.content1-nav>li>a>span:nth-of-type(2){
	font-size: 12px;
	color:#545454;
	font-weight: bold;
	padding-left: 6px;
	display:inline-block;
	width:62%;
	height:30px;
	line-height: 30px;
	float:left;
	overflow: hidden;
}
.content1-nav>li>a>span:nth-of-type(3){
	font-size: 12px;
	float:right;
	color:#898989;
	width:30%;
	height:30px;
	line-height: 30px;
	overflow: hidden;
	text-align: right;
}
.content1-nav>li>a>span:nth-of-type(2):hover,.content1-nav>li>a>span:nth-of-type(3):hover{
	text-decoration: underline;
}


/*标题*/
.title{
	width:100%;
	height:24px;
	margin-top: 30px;
	clear:both;
}
.title-content{
	width:80%;
	height:24px;
	margin:0 auto;
}
.title-left{
	width:50%;
	float:left;
}
.title-left>img{
	margin-top: 7px;
	margin-right: 7px;
}
.title-left>p>span:nth-of-type(1){
	display:inline-block;
	width: 0;
	height:0;
	border-top:10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #1D7AEE;
	margin-right: 6px
}
.title-left>p>span,.title-left>p>a{
	font-size: 14px;
	display: inline-block;
   line-height: 24px;
   color:#898989;
   margin-bottom: -3px;
}
.title-left>p{
	display: inline-block;
	float:left;
}
.title-left>p>span{
	color:#545454;
	font-size: 14px;
	font-weight: bold;
}
.title-left>div{
	display:inline-block;
	width:50%;
	float:right;
}
.sousuo{
	width:50%;
	float:right;
}
.sousuo>input{
	float:right;
	height:26px;
	border:1px solid #1d7aee;
	outline:medium;
	text-indent: 5px;
	color:#898989;
	font-size: 14px;
	margin-top:4px;
}
.sousuo>img{
	float:right;
	max-height:26px;
	max-width: 100%;
	background: #1d7aee;
	padding:5px 8px;
	margin-top:4px;
}
/*斯欧 韦氏 适应行为*/
.content2{
	width:100%;
	clear:both;
	margin-top: 37px;
}
.content2-center{
	width:80%;
	margin:0 auto;
	clear:both;
}
.tabs>nav{
	height:30px;
	width:100%;
	border-bottom: 1px solid lightgray;
}
.tabs>nav>ul{
	width:60%;
	height:30px;
	float:left;
}
.tabs>nav>div{
	width:33%;
	height:30px;
	float:right;
	display:-webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.tabs>nav>div>span{
	display:inline-block;
	flex:1;
	justify-content:space-between;
	float:right;
	font-size: 14px;
	color:white;
    line-height: 30px;	
    text-align: center;
    margin: 0 3px;
}
#demoContent{
	width:100%;
	height:100%;
	clear:both;
}
#demoContent>li{
	height:71px;
	width:100%;
}
.page{
    width:390px;
    margin: 40px auto;
    height: 40px;
}
.sectionbox{
	width:100%;
}
.sectionboxf{
	width:100%;
	height:56px;
	border-bottom: 1px solid lightgray;
}
.sectionboxf .href{
	display:block;
	width:100%;
	height:56px;
}
.section-left{
    width:50%;
	height:56px;
	float:left;
}
.section-left>p{
	color: #4d4d4d;
    font-weight: bold;
    font-size: 14px;
    line-height: 56px;
    text-align: left;
}
.section-right{
    width:33%;
	height:56px;
	float:right;
}
.section-right>p,.section-right>img{
   float:right;
}
.section-right>p:nth-of-type(1){
	display:inline-block;
	float:left;
	line-height: 56px;
	color:#4d4d4d;
	font-weight: 500;
	width:25%;
}
.section-right>p:nth-of-type(2){
	float:right;
	padding-right:5%;
	line-height: 56px;
	color:#4d4d4d;
	font-weight: 500;
}
.section-right>img{
	float:left;
	margin:18px 0% 0 11%;
}
.section-right>img:nth-of-type(2){
	float:left;
	margin:23px 4px 0 19%;
}
.section-right>span{
	display:inline-block;
	float:left;
	line-height: 56px;
	color:#4d4d4d;
}

.ui-pagination-container {
	width:100%;
	height: 34px;
	line-height: 34px;
	position: absolute;
	bottom:-80px !important;
	left:0;
}
.tab-current{
	/*background:#009FB6 !important;*/
}
.tab-current>a>span{
	border-bottom: 3px solid rgba(216,37,58); !important;
}
/*智力类样式*/
#demoContent5{
	width:100%;
	/*height:100%;*/
}
#demoContent5>li{
	height:71px;
	width:100%;
	border-bottom: 1px solid lightgray;
}
#page5{
    width:68%;
    margin: 40px auto;
    /*height: 40px;*/
   clear:both;
}
#page5>li{
	float:left;
}
.sectionbox5{
	width:100%;
}
.sectionbox5 .href{
	display:block;
	width:100%;
	height:70px;
}
.section-left5{
    width:59%;
	height:70px;
	float:left;
}
.section-left5>p{
	color: #4d4d4d;
    font-weight: bold;
    font-size: 14px;
    line-height: 70px;
    text-align: left;
}
.section-right5{
    width:41%;
	height:70px;
	float:right;
}
.section-right5>p,.section-right5>img{
   float:right;
}
.section-right5>p{
	display:inline-block;
	float:left;
	line-height: 70px;
	color:#4d4d4d;
	font-weight: 500;
}
.section-right5>p:nth-of-type(3){
	float:right;
}
.section-right5>img{
	float:left;
	margin: 26.5px 10px 0 70px;
}
.section-right5>img:nth-of-type(2){
	float:right;
}


/*版权*/
.right-footer { 
    position: relative;
    height: 40px;
    background: none;
    line-height: 40px;
    margin-top: -40px;
    color: #a3a3a3;
    font-size: 30px;
    text-align: center;
    z-index: 1;
    width: 88%;
    float: right;
    clear: both;
    border-top: 1px solid lightgray;
}
.right-footer-content{
	width: 100%;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    color: #a3a3a3;
}

/*适配*/
@media (min-width: 750px){
	.content1-right{
	width:44% !important;
	height:163px;
	float:left;
	margin-left:2%;
	}
	/*发布人，预览，预览量，预览时间适配*/
	.tabs>nav>div{
		width:36% !important;
	}
	.section-right{
    	width:36% !important;
	}
	.section-right>img {
    	margin: 18px 0% 0 10% !important;
	}
	.section-right>img:nth-of-type(2) {
    	margin: 23px 4px 0 12% !important;
    }
    .section-right>p:nth-of-type(2){
    	padding-right:6px !important;
    }
}

@media (min-width:1280px){
	.section-right>img:nth-of-type(2) {
   		margin: 23px 4px 0 15% !important;
	}
	.section-right>p:nth-of-type(2){
    	padding-right:5% !important;
    }
}

@media (min-width:1366px){
	.section-right>img:nth-of-type(2) {
   		margin: 23px 4px 0 16% !important;
	}
}

@media (min-width:1600px){
	.section-right>img:nth-of-type(2) {
   		margin: 23px 4px 0 18% !important;
	}
}

@media (min-width:1920px){
	.section-right>img:nth-of-type(2) {
   		margin: 23px 4px 0 19% !important;
	}
}
