/*侧导航选中*/
.sidebar>ul>li:nth-of-type(5){
	background:#1d7aee;
	box-shadow: 0px 0px 13px 0px rgba(147,178,224,0.5);
}
.sidebar>ul>li:nth-of-type(5)>a{
	color:white;
}
.sidebar>ul>li:nth-of-type(5)>a:hover{
	color:white;
}

.content{
	width:80%;
	margin:0 auto;
	margin-top:160px;
}
/*订单管理*/
.contentTitle{
	width:100%;
	height:24px;
}
.contentTitle>h3{
	display:inline-block;
	font-size: 18px;
	color:#201e1e;
	text-align: center;
	line-height: 24px;
	float:left;
}
.contentTitle>h3>span{
	display:inline-block;
	width:7px;
	height:24px;
	background:#1d7aee;
	margin-right: 24px;
	float:left;
}
.contentTitle>div{
	float:right;
}
.contentTitle>div>input{
	float:left;
	border:none;
	outline: none;
	border-bottom:1px solid #1D7AEE;
	text-align: center;
	line-height: 22px;
	background: none;
}
.contentTitle>div>img{
   float:left;
   margin-top: 2px;
}

/*订单详情*/
.contentCenter{
	width:100%;
	margin-top:40px;
}
.contentCenters{
	width:100%;
	height:130px;
	margin:0 auto;
	background: white;
	margin-top:16px;
}
/*订单图*/
.contentCenters_left{
	float:left;
	width:16%;
	height:100px;
	margin:15px 30px;
}
.contentCenters_left>img{
	width:100%;
	height:100px;
}
/*订单信息*/
.contentCenters_middle{
	width:58%;
	height:100px;
	float:left;
	margin:15px 0;
}
.contentCenters_middle>h4{
	width:100%;
	height:50px;
	line-height:50px;
	overflow:hidden;
	font-size: 16px;
}
.contentCenters_middle>ul{
	width:100%;
	height:50px;
	line-height:50px;
	overflow:hidden;
}
.contentCenters_middle>ul>li{
	float:left;
	width:25%;
	text-align: center;
	color:gray;
}
.contentCenters_middle>ul>li:first-child{
	text-align: left;
}
/*删除或去支付订单*/
.contentCenters_right{
	width:16%;
	height:100px;
	float:left;
	margin:15px 0;
	position:relative;
}
.contentCenters_right>button{
	width:50px;
	height:24px;
	background: rgb(50,189,60);
	color:white;
	border:none;
	outline: none;
	position:absolute;
	bottom:16px;
	left:20%;
}
.contentCenters_right>img{
	position:absolute;
	bottom:16px;
	left:60%;
}

/*适配*/
@media(min-width:750px){
	/*订单图、订单信息和删除或去支付订单*/
	.contentCenters{
	height:90px !important;
	}
	.contentCenters_left,.contentCenters_left>img,.contentCenters_middle,.contentCenters_right{
		height:60px !important;
	}
	.contentCenters_middle>h4,.contentCenters_middle>ul{
		height:30px !important;
		line-height:30px !important;
	}
	.contentCenters_right>button{
		height:20px !important;
		bottom:8px !important;
	}
	.contentCenters_right>img{
		bottom:8px !important;
		left:78% !important;
	}
}
@media(min-width:1280px){
	/*订单图、订单信息和删除或去支付订单*/
	.contentCenters{
	height:110px !important;
	}
	.contentCenters_left,.contentCenters_left>img,.contentCenters_middle,.contentCenters_right{
		height:80px !important;
	}
	.contentCenters_middle>h4,.contentCenters_middle>ul{
		height:40px !important;
		line-height:40px !important;
	}
	.contentCenters_right>button{
		height:20px !important;
		bottom:14px !important;
	}
	.contentCenters_right>img{
		bottom:14px !important;
		left:70% !important;
	}
}

@media(min-width:1600px){
	/*订单图、订单信息和删除或去支付订单*/
	.contentCenters{
	height:130px !important;
	}
	.contentCenters_left>img,.contentCenters_middle,.contentCenters_right{
		height:100px !important;
	}
	.contentCenters_middle>h4,.contentCenters_middle>ul{
		height:50px !important;
		line-height:50px !important;
	}
	.contentCenters_right>button{
		height:24px !important;
		bottom:16px !important;
	}
	.contentCenters_right>img{
		bottom:16px !important;
		left:60% !important;
	}
}
