body {
    font-size: 12px;
    overflow-x:hidden;
    width:100%;
    height:100%;
}
*{margin:0;padding:0;-webkit-appearance:none;}
ul{list-style: none;}
a{text-decoration: none;}
a:hover{text-decoration: none;}
img{max-width: 100%;}
.clearfix:after{
	clear: both;
	display: block;
	content: '';
}
.clearfix{
	zoom: 1;
}
.container{
    width:100%;
    height:100%;
    position:absolute;
}
.left{
	width:12%;
	height:100%;
	background: rgb(50,50,50);
	float:left;
}
.left-top{
	width:100%;
	height:78px;
	background: #FF4B4B;
	text-align: center;
	line-height: 100px;
}
.left-top>img{
	display:inline-block;
	width:67%;
	margin:0 auto;
}
.left-center{
	background: rgb(50,50,50);
}
.left-center>ul{
	padding-top: 106px;
}
.left-center>ul>li{
	width:100%;
	height:40px;
	line-height: 40px;
	text-indent:50px
}
.left-center>ul>li>a{
	font-size: 14px;
	color:white;
}
.left-center>ul>li>a:hover{
	color:#FF4B4B;
}
.left-center>ul>li:nth-of-type(1){
	background: rgb(33,33,33);
}
.left-center>ul>li:nth-of-type(1)>a:hover{
	color:white;
}

/*右侧内容*/
.right{
	width:88%;
	height:100%;
	float:right;
	background: rgb(241,241,241);
}
/*右侧头部*/
.right-top{
	width:100%;
	height:78px;
	background:rgb(50,50,50);
	z-index:10;
}
.right-top-content{
	width:90%;
	height:78px;
	margin:0 auto;
	padding-top:12px;
}
/*右边头部的左侧内容*/
.right-top-content-left{
	float:left;
}
.right-top-content-left>img:nth-of-type(1){
	display:inline-block;
	width:54px;
	height:54px;
	float:left;
}
.right-top-content-left>span{
	font-size: 14px;
	color:white;
	float:left;
    margin-top: 20px;
    margin-left: 26px;
}
.right-top-content-left>img:nth-of-type(2){
	display:inline-block;
	width:25px;
	height:17px;
	margin-top: 24px;
	float:left;
	margin-left: 48px;
}
.right-top-content-left>a{
	font-size: 14px;
	color:white;
	float:left;
	margin-top: 20px;
    margin-left: 48px;
}


/*搜索及中英文切换*/
.right-top-left{
	float:right;
	margin-right: 20px;
}
.right-top-left>input{
	width:220px;
	height:30px;
	border:none;  /*去掉边框*/
	outline:medium;  /*去掉点击有蓝框的效果*/
	border-radius:20px;
	background:url(../img/search.png) no-repeat 15px rgb(233,233,233) ;
	font-size: 12px;
	color:gray;
	text-indent:50px
}
.right-top-content-right{
	float:right;
	height:30px;
	margin-top:12px;
}
.right-top-right{
	float:right;
	font-size: 12px;
	color:gray;
	line-height: 30px;
}
.right-top-right>p>span:nth-of-type(1){
	color:white;
}
.right-top-right>p>span:hover{
	color:white;
}

/*添加被试*/
.add{
	width:100%;
}
.add-content{
	width:83%;
	height:40px;
	margin:0 auto;
	padding: 30px 0;
}
.add-left{
	float:left;
}
.add-left>a>img{
	float:left;
	
}
.add-left>a>span{
	float:left;
	font-size: 14px;
	font-weight:bold;
	color:black;
	margin-left: 15px;
	margin-top: 10px;
}

.add-right{
	float:right;
}
.add-right>select{
	width:112px;
	height:24px;
	background: none;
	outline:medium;
	border-radius:12px;
	margin-top: 8px;
	text-indent:10px;
	font-size: 12px;
}
.add-right>input{
	background: none;
	border-radius:12px;
	border:none;  /*去掉边框*/
	outline:medium;  /*去掉点击有蓝框的效果*/
	border:1px solid #C5B7B7;
	font-size: 12px;
	color:#898989;
	text-indent:15px;
	height:22px;
}
.sousuo{
	display:inline-block;
	width:50px;
	height:22px;
	background: #FF4B4B;
	border-radius:12px;
	margin-left:20px;
	text-align: center;
	line-height: 22px;
	color:white;
	font-size: 12px;
}


/*被试人员*/
.content1{
	width:100%;
}
.content1-center{
	width:83%;
	height:320px;
	margin:0 auto;background: yellow;
}
.family{
	width:100%;
	clear:both;
}
.family-content{
	width:100%;
	margin:0 auto;
}
.family-box{
	width:100%;
	height:100%;
    clear:both;
}
.family-box:nth-of-type(2){
	margin-top: 15px;
}
.family-box1{
	width:23.1%;
	height:100%;
	float:left;background: white;
	position: relative;
	border-radius:12px;
}
.family-box1:nth-of-type(2),.family-box1:nth-of-type(3){
	float:left;
	margin-left: 2.5%;
}
.family-box1:nth-of-type(4){
	float:right;
	margin-left: 2.5%;
}
.family-box2{
	width:86%;
	height:100%;
	margin:0 auto;
	text-align: center;
	margin: 0% 7%;
}
.family-box2>img{
	width: 55%;
	clear:both;
	
}
.family-box2>p:nth-of-type(1){
	width:100%;
	font-size: 14px;
	color:black;
	font-weight: bold;
	text-align: right;
	padding:7% 0;
}
.family-box2>p:nth-of-type(2){
	font-size: 14px;
	color:black;
	padding-top: 20px;
	width:100%;
	height:20px;
	text-align: center;
}
.family-box2>p:nth-of-type(3){
	font-size: 12px;
	font-weight: bold;
	color:#898989;
	padding-top: 10px;
	width:100%;
	text-align: center;
}
.family-box2>p:nth-of-type(4){
	font-size: 12px;
	font-weight: bold;
	color:#898989;
	padding-top: 5px;
	width:100%;
	text-align: center;
	padding-bottom: 25px;
}
.family-box2>div{
	width:100%;
	height:50px;
}
.family-box2>div>a{
	display:inline-block;
	width:30%;
	height:25px;
	background: #FF4B4B;
	border-radius:12px;
	text-align: center;
    line-height: 25px;
    color:white;
    font-size: 12px;
}
.family-box2>div>a:nth-of-type(1){
	float:left;
}
.family-box2>div>a:nth-of-type(2){
	float:right;
}


.family-box3{
	width:86%;
	height:117%;
	background:#FF4B4B !important;
	border-radius:12px;
	position:absolute;
	top:0%;
	left:0%;
	padding: 0% 7%;
	text-align: center;
}
.family-box3>p{
	font-size: 14px;
	color:white;
	padding-top: 100px;
	padding-bottom: 40px;
}
.family-box3>p>span{
	border-bottom: 1px solid white;
}
.family-box3>a{
	font-size: 14px;
	color:white;
	border-bottom: 1px solid white;
}
.family-box3>a:nth-of-type(1){
	margin-right:15%;
}
.family-box3>a:nth-of-type(2){
	margin-left:15%;
}


/*分页*/
.fenye{
	width:100%;
	height:80px;
	clear:both;
	/*margin-top:90px;*/
	overflow: hidden;background: red;
}
.fenye-content{
	width:83%;
	height:80px;
	margin:0 auto;background: green;
	
}
button {
		display: inline-block;
		padding: 6px 12px;
		font-weight: 400;
		line-height: 1.42857143;
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
		border: 1px solid transparent;
		border-radius: 4px;
		border-color: #28a4c9;
		color: #fff;
		background-color: #5bc0de;
		margin: 20px 20px 0 0;
	}
	
	.box {
		width: 100%;
		margin:0 auto;
		height: 34px;
	}
	
	.page {
		width: 100%;
		margin-top:20px;
	}
	
	.info {
		width: 200px;
		height: 34px;
		line-height: 34px;
	}
	
	.fl {
		float: left;
	}
	

/*版权*/
.right-footer{
	width:88%;
	height:40px;
	clear:both;
	position:absolute;
	bottom:0px;
}
.right-footer-content{
	width:100%;
	height:40px;
	margin:0 auto;
	background:#323232;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	color:white;
}
