ul, ol, li {
	margin: 0;
	padding: 0;
	text-align: left;
	vertical-align: top;
}
li * {
	vertical-align: middle;
}
.indent {
	margin-left: 2em;
}
.footer {
	text-align: right;
	font-size: 12px;
}
h1 img {
	vertical-align: middle;
}
.code {
	margin-left: 2em;
	background-color: #aaa;
	border-radius: 5px;
	padding: 5px;
	font-size: 14px;
	color: #fff;
}

	table td {
		font-size: 14px;
	}
	label {
		cursor: pointer;
		margin-right: 1em;
	}
	.kitjs-validator {
		display: none;
		margin-left: 1em;
	}
	.validator-show {
		display: inline;
		-webkit-animation: validator-show-anim 300ms 1 ease-in;
	}
	@-webkit-keyframes validator-show-anim {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	
	#regist-main {
	    width: 100%;
	    height:100%;
	    overflow:hidden;
	    margin:0;
		padding:0;
	    opacity: 0.8;
	    padding-top: 200px;
	}
	ol {
		list-style: none;
	}
	#regist-main .cap {
		position: absolute;
		margin: 0;
		padding: 0;
		top: 98px;
		left: 300px;
		width: 400px;
	}
	#registForm {
		height:auto!important; 
		min-height:320px; 
		height:379px; 
		overflow:hidden;
		position: relative;
		border: 1px solid #d7d7d7;
		box-shadow: 0 0 10px #d7d7d7;
		background-color: #fff;
		width: 300px;
		margin:0 auto;
		color: #818181;
		padding:24px;
		font-size: 14px;
	}
	#regist-main .cap h3 {
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;
		height: 40px;
		line-height: 40px;
	}
	#regist-main .cap a {
		position: absolute;
		color: #818181;
		left: 173px;
		top: 27px;
	}
	.cap .login-error {
		position: absolute;
		top: 24px;
		left: 91px;
	}
	#regist-main a {
		text-decoration: none;
	}
	#regist-main a:hover {
		text-decoration: underline;
	}
	#registForm li {
		line-height: 30px;
		margin-top: 10px;
	}
	#registForm li input {
		width: 295px;
		height: 33px;
		line-height: 33px;
		border: 1px solid #ccd1d5;
		display: block;
		border-radius: 5px;
	}
	#registForm input.btn-submit {
		display: block;
		overflow: hidden;
		width: 88px;
		height: 30px;
		line-height: 30px;
		cursor: pointer;
		color:white;
	    margin-left: 106px;
	    margin-top: 30px;
	    border: 0;
	    padding: 0px;
	    outline: none;
	    background: #1d7aee;
	}
	#registForm input.btn-submit:hover {
		background-position: 0 -30px;
	}
	#registForm input.btn-submit:active {
		background-position: 0 -62px;
	}
	#registForm .registError {
		position: absolute;
		width: 298px;
		top: 301px;
		left: 40px;
		color: #BF1623;
	}
	.field-validation-error {
		color: #BF1623;
	}
	.kitjs-validator {
		color: #BF1623;
	}
	
    .redist{
    	display:block;
    	width:100%;
    	font-size: 14px;
    	text-align: right;
    	color:red;
    	margin-top: 15px;
    }