*{margin:0;padding:0;}
ul, ol, li {
	margin: 0;
	padding: 0;
	text-align: left;
	vertical-align: top;
	list-style: none;
}
li{
	vertical-align: middle;
}
.indent {
	margin-left: 2em;
}
.footer {
	text-align: right;
	font-size: 12px;
}
a{text-decoration: none;}
a:link{text-decoration:none;   /* 指正常的未被访问过的链接*/}
a:visited{text-decoration:none; /*指已经访问过的链接*/}
a:hover{text-decoration:none;/*指鼠标在链接*/}a:active{text-decoration:none;/* 指正在点的链接*/ }
.code {
	margin-left: 2em;
	background-color: #aaa;
	border-radius: 5px;
	padding: 5px;
	font-size: 14px;
	color: #fff;
}
.kitjs-validator {
		display: none;
}
.validator-show{
	display:block;
	-webkit-animation: validator-show-anim 300ms 1 ease-in;
}
table td {
	font-size: 14px;
}
label {
	cursor: pointer;
}
@-webkit-keyframes validator-show-anim {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
/*logo图*/
.headerlogo>img{
	width: 150px;
    height: 36px;
    margin: 14px 38px;
}
.mainbox,.regist-mainbanner,.bannerbox,.bannerbox>img{
	width:100%;
	height:770px;
}
.mainbox{
	position: relative;
}
/*背景图*/
.bannerbox{
	background: url(../img/registerbanner.png) no-repeat;
	background-size: cover;
}

/*登录注册框*/
#regist-main{
    width: 100%;
    overflow:hidden;
    margin:0;
	padding:0;
}
#regist-main .cap {
	position: absolute;
	margin: 0;
	padding: 0;
	top: 98px;
	left: 400px;
	width: 370px;
}

/*注册*/
#registForm{
	width:380px;
	height:500px; 
	padding:30px 40px;
	margin:0 auto;
	overflow:hidden;
	z-index:3;
	border: 1px solid #d7d7d7;
	font-size: 14px;
	background: white;
	margin-top:50px;
}
#registForm>h4{
	height:24px;
	line-height: 24px;
	font-size: 18px;
	color:black;
	margin-bottom: 30px;
}
#registForm>h4>span{
	display: inline-block;
	width:6px;
	height:24px;
	float:left;
	margin-right:10px;
	background: #1D7AEE;
}
#registForm li a:hover{
	text-decoration: none;
}	
#regist-main .cap h3 {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	height: 40px;
	line-height: 40px;
}
#regist-main .cap a {
	position: absolute;
	color: #818181;
	left: 173px;
	top: 27px;
}
.cap .login-error {
	position: absolute;
	top: 24px;
	left: 91px;
}
#regist-main a {
	text-decoration: none;
}
#regist-main a:hover {
	text-decoration: underline;
}
#registForm li{
	line-height: 30px;
	margin-top: 6px;
	height:54px;
}
#registForm li input {
	width: 100%;
	height: 30px;
	line-height: 30px;
	border: 1px solid #ccd1d5;
	display: block;
	text-indent:10px;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */color:#bcbcbc;}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */color:#bcbcbc;}
::-moz-placeholder { /* Mozilla Firefox 19+ */color:#bcbcbc;}
:-ms-input-placeholder { /* Internet Explorer 10-11 */color:#bcbcbc;}
#registForm input.btn-submit {
	display: block;
	overflow: hidden;
	width: 100%;
	height:40px;
	line-height: 40px;
	cursor: pointer;
	color:white;
    margin-top: 30px;
    border: 0;
    padding: 0px;
    outline: none;
    background: #1d7aee;
}
.redist{
	display:block;
	width: 100%;
	height:40px;
	line-height:40px;
	text-align: center;
	color:#1D7AEE;
    margin-top:10px;
    border:1px solid lightgray;
    text-decoration:none !important;
}
.forget{
	width:100%;
	display:block;
	text-align: right;
	margin-top:20px;
	color:gray;
}
/*注册页面获取邮箱验证码*/
#registForm li #verification{
	width:60%;
	float:left;
}
#registForm li #btn{
	width:30%;
	float:right;
	background: #1D7AEE;
	color:white;
	border:none;
	text-indent:0px;
}
#registForm li #agree{
	display: inline-block;
  float:left;
}
#registForm li #agree input{
	width:14px;
	height:26px;
	float:left;
}
#registForm li #agree2{
	display:inline-block;
	float:left;
	color:red;
}



/*同意隐私政策*/
#registForm .agreeregister{
	width:100%;
	height:20px;
	line-height: 20px;
	margin-top:10px;
	color:#bcbcbc;
}
#registForm  #checkbox{
	display:inline-block;
	margin-right:4px;
	float:left;
	line-height: 20px;
	margin-top:3px;
	width:14px;
	height:14px;
}
#registForm .agreeregister>span{
	float:left;
	margin-right:4px;
}
#registForm .agreeregister>a{
	float:left;
	color:#595959;
}


/*登录页面*/
#registForm1{ 
    width:330px;
	height:360px; 
	padding:40px 30px;
	margin:0 auto;
	overflow:hidden;
	position: absolute;
	top:20%;
    right: 5%;
	z-index:3;
	border: 1px solid #d7d7d7;
	font-size: 14px;
	background: white;
}
#registForm1>h4{
	height:24px;
	line-height: 24px;
	font-size: 18px;
	color:black;
	margin-bottom: 30px;
}
#registForm1>h4>span{
	display: inline-block;
	width:6px;
	height:24px;
	float:left;
	margin-right:10px;
	background: #1D7AEE;
}
#registForm1 li{
	line-height: 30px;
	margin-top: 6px;
	height:54px;
}
#registForm1 li input {
	width: 100%;
	height: 30px;
	line-height: 30px;
	border: 1px solid #ccd1d5;
	display: block;
	text-indent:10px;
}
/*登录按钮*/
#registForm1 input.btn-submit {
	display: block;
	overflow: hidden;
	width: 100%;
	height:40px;
	line-height: 40px;
	cursor: pointer;
	color:white;
    margin-top: 30px;
    border: 0;
    padding: 0px;
    outline: none;
    background: #1d7aee;
}


/*忘记密码登录*/
.forgetregisterForm{ 
	height:354px !important;
	padding:40px 30px !important;
	position: absolute;
	top:8% !important;
    right: 5%;
	z-index:3;
	border: 1px solid #d7d7d7;
	font-size: 14px;
	background: white;
	margin-top:0px !important;
}
.redistlogin{
	display:block;
	width: 100%;
	height: 34px;
	line-height:34px;
	text-align: center;
	color:white;
    margin-top:30px;
    background: #1D7AEE;
    text-decoration:none !important;
}


#registForm input.btn-submit:hover {
	background-position: 0 -30px;
}
#registForm input.btn-submit:active {
	background-position: 0 -62px;
}
#registForm .registError {
	position: absolute;
	width: 298px;
	top: 301px;
	left: 40px;
	color: #ff1111;
}
.field-validation-error {
	color: #ff1111;
}

.kitjs-validator{
	color: #ff1111;
	font-size: 12px;
	height: 18px;
    line-height: 18px;
    padding: 4px 0;
}
    

/*隐私声明页面*/
.content{
	width:50%;
	height:auto!important; 
	min-height:320px; 
	height:380px; 
	overflow:hidden;
	background: pink;
	margin:0 auto;
	background: white;
	padding:30px 50px;
	font-size: 12px;
	line-height: 24px;
}
.content>h4{
	text-align: center;
	font-size: 16px;
	padding:30px 0;
	margin-bottom:30px;
	width:100%;
	border-bottom: 1px solid #e1e1e1;
}
.content>h6{
	margin-top:30px;
}
.content>p{
	color:#646464;
}


/*版权*/
.footer{
	width:100%;
	clear:both;
	margin-top:30px;
	text-align: center;
	color:#bebebe;
	line-height: 24px;
	margin-bottom: 40px;
}



/*适配*/
@media (min-width:750px) {
	.mainbox,.regist-mainbanner,.bannerbox,.bannerbox>img{
		height:380px !important;
	}
	#registForm1{
		width: 286px !important;
	    height: 320px !important;
	    padding: 20px !important;
	    position: absolute;
	    top: 2% !important;
	    right: 5% !important;
	}
	.forgetregisterForm{
		width: 286px !important;
	    height: 330px !important;
	    padding: 20px !important;
	    position: absolute;
	    top: 1% !important;
	    right: 5% !important;
	}
	.redistlogin{
		margin-top: 8px !important;
	}
}
@media (min-width:1280px) {
	.mainbox,.regist-mainbanner,.bannerbox,.bannerbox>img{
		height:562px !important;
	}
	#registForm1{
		width:300px !important;
	    height: 340px !important;
	    padding: 20px !important;
	    position: absolute;
	    top:13% !important;
	    right: 5% !important;
	}
	.forgetregisterForm{
		width:300px !important;
	    height: 370px !important;
	    padding: 20px !important;
	    position: absolute;
	    top:11% !important;
	    right: 5% !important;
	}
	.footer {
	    margin-top: 110px !important;
	    margin-bottom: 40px !important;
	}
}

@media (min-width:1366px) {
	.mainbox,.regist-mainbanner,.bannerbox, .bannerbox>img{
		height:580px !important;
	}
	#registForm1{
		top:17% !important;
	}
	.forgetregisterForm{
		top:15% !important;
	}
	.footer {
	    margin-top: 50px !important;
	    margin-bottom: 40px !important;
	}
}

@media (min-width:1440px) {
	.mainbox,.regist-mainbanner,.bannerbox, .bannerbox>img{
		height:700px !important;
	}
	#registForm1{
		top:22% !important;
	}
	.forgetregisterForm{
		top:19% !important;
	}
}

@media (min-width:1600px) {
	.mainbox,.regist-mainbanner,.bannerbox, .bannerbox>img{
		height:730px !important;
	}
	#registForm1{
		width: 330px !important;
	    height: 360px !important;
	    padding: 40px 30px !important;
		top:20% !important;
	}
	.forgetregisterForm{
		width: 330px !important;
	    height: 360px !important;
	    padding: 40px 30px !important;
		top:20% !important;
	}
}
@media (min-width:1680px) {
}
@media (min-width:1920px) {
	.mainbox,.regist-mainbanner,.bannerbox,.bannerbox>img{
		height:770px !important;
	}
	#registForm1{
		top:21% !important;
	}
	.forgetregisterForm{
		top:21% !important;
	}
}

