*{margin:0;padding:0;}
.sidebar>ul>li:nth-of-type(2){
	background:#1d7aee;
	box-shadow: 0px 0px 13px 0px rgba(147,178,224,0.5);
}
.sidebar>ul>li:nth-of-type(2)>a{
	color:white;
}
.sidebar>ul>li:nth-of-type(2)>a:hover{
	color:white;
}
/*右侧头部二级导航的选中样式*/
.right-top-left1>a:nth-of-type(1){
	background: #1D7AEE;
	color:white;
}

/*量表 > 量表中心*/
.title{
	width:100%;
	height:30px;
	margin-top: 80px;
}
.title-content{
	width:80%;
	height:30px;
	margin:0 auto;
}
.title-left{
	float:left;
}
.title-left>span:nth-of-type(1){
	display:inline-block;
	width: 0;
	height:0;
	border-top:8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 8px solid #1D7AEE;
	margin-right: 6px;
	margin-top: 5px;
}
.title-left>span,.title-left>p{
	float:left;
	line-height: 28px;
	font-size: 14px;
	margin-bottom: -3px;
}
.title-left>p>a{
	color:#898989;
}
.title-left>p>span{
	font-weight: bold;
	color:#545454;
}

/*量表介绍*/
.content1{
	width:80%;
	margin:0 auto;
	background:rgba(240,240,240);
}
/*tab li*/
.tab-wrapper {
  margin: 60px auto;
  width: 100%;
}

.tab-menu li {
	position:relative;
  color:gray;
  display: inline-block;
  padding:8px 20px;
  margin-right: 30px;
  opacity: 0.8;
  cursor:pointer;
  z-index:0;
  font-size: 14px;
  font-weight:bold;
}
.tab-menu div{
	float:right;
	margin-right: 16px;
	height:20px;
	margin-top: 7.5px;
}
.tab-menu div input{
	width:134px;
	border:none;
	outline: none;
	font-size: 12px;
	padding:1px 15px;
	border:1px solid #1d7aee;;
	background: white;
	float:left;
}
.tab-menu div>img{
	float: left;
    background: #1d7aee;;
    padding: 3px 4px;
    height: 14px;
}
.tab-menu li.active {
	font-size: 14px;
  font-weight:bold;
   padding:8px 20px;
  color:white;
  background: #1d7aee;;
  opacity: 1;
}
.line {
  position:absolute;
  width: 0;
  height:0px;
  background-color: none;
  top: 0;
  left: 0;
}


/*量表介绍区*/
.tab-content1{
  background-color: #fff;
  box-sizing:border-box;
  width: 100%; 
  min-height:200px;
}
.tab-content2{
	width:100%;
}
.tab-content2>h4{
	width:100%;
	height:30px;
	background:#1d7aee;
	line-height: 30px;
	color:white;
	font-size: 16px;
	text-indent: 20px;
}
.tab-content2>p{
	padding:30px 0;
	width:100%;
}
.tab-content2>p>a{
	color:gray;
	font-size: 14px;
	padding:0 30px 0 18px;
	line-height: 30px;
	white-space: nowrap;
}


/*搜索不到量表时的弹框*/
 /*背景层*/
#popLayer {
    display: none;
    background-color: #B3B3B3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);/* 只支持IE6、7、8、9 */
}
 
/*弹出层*/
#popBox {
    display: none;
    background-color: #FFFFFF;
    z-index: 11;
    width: 200px;
    height: 200px;
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin:auto;
}
 
#popBox .close{
    text-align: right;
    margin-right: 5px;
    background-color: #F8F8F8;
}
 
/*关闭按钮*/
#popBox .close a {
    text-decoration: none;
    color: #2D2C3B;
}



/*版权*/
.right-footer { 
    position: relative;
    height: 40px;
    background: none;
    line-height: 40px;
    margin-top: -40px;
    color: #a3a3a3;
    font-size: 30px;
    text-align: center;
    z-index: 1;
    width: 88%;
    float: right;
    clear: both;
    border-top: 1px solid lightgray;
}
.right-footer-content{
	width: 100%;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    color: #a3a3a3;
}


/*量表详细介绍*/
.contents{
	width:70%;
	margin:0 auto;
	clear:both;
}
.contents>h4{
	font-size: 14px;
	font-weight: normal;
	padding:80px 0 40px 0;
	text-align: center;
	border-bottom: 1px solid lightgray;
}
.contents>p{
	text-indent:28px;
	background: 0 !important;
}
.contents>p>:nth-last-of-type(2) span{
	font-size:20px !important;
	margin: 30px 0 !important;
    display: block !important;
}
.contents p strong span{
	font-size:20px !important;
	margin: 20px 0 !important;
    display: block !important;
    text-align: center;
    color:black;
}
.contents td>p>span{
	color:gray;
	font-size:14px !important;
	line-height: 36px;
	background: 0 !important;
	text-align: justify;
}
.contents>p>span{
	color:gray;
	font-size:14px !important;
	line-height: 36px;
	background: 0 !important;
	text-align: justify;
}
.contents>h3>span{
	color:gray;
	font-size:14px !important;
	line-height: 30px;
	background: 0 !important;
	text-align: justify;
}

/*分享到微博等平台*/
.content_bottom{
	width:70%;
	margin:0 auto;
	margin-top: 70px;
	padding:60px 0 70px 0;
	border-top:1px solid lightgray;
}
.bdsharebuttonbox{
	width:268px;
	margin:0 auto;
}
.bdsharebuttonbox>span{
	float:left;
	font-size: 14px;
}
.bdsharebuttonbox>a{
	margin:0 18px 0 0 !important;
}
