/* Default tab style */

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'stroke7pixeden';
	src:url('../fonts/stroke7pixeden/stroke7pixeden.eot?u58ytb');
	src:url('../fonts/stroke7pixeden/stroke7pixeden.eot?#iefixu58ytb') format('embedded-opentype'),
		url('../fonts/stroke7pixeden/stroke7pixeden.woff?u58ytb') format('woff'),
		url('../fonts/stroke7pixeden/stroke7pixeden.ttf?u58ytb') format('truetype'),
		url('../fonts/stroke7pixeden/stroke7pixeden.svg?u58ytb#stroke7pixeden') format('svg');
}

.tabs {
	position: relative;
	overflow: ;
	margin: 0 auto;
	width: 100%;
	font-weight: 300;
}

/* Nav */
.tabs nav {
	text-align: left;
	background: #1d7aee;
}

.tabs nav ul {
	position: relative;
	margin: 0 auto;
	padding: 0;
	max-width: 100%;
	height: 29px;
	list-style: none;
}

.tabs nav>ul>li {
	position: relative;
	display: inline-block;
	margin: 0;
	text-align: center;
	width:80px;
	height:29px;
	/*background: rgb(110,110,110);*/
	line-height: 29px;
}
.tabs nav ul li:nth-of-type(2),.tabs nav ul li:nth-of-type(3),.tabs nav ul li:nth-of-type(4),.tabs nav ul li:nth-of-type(5){
	margin-left:15px;
	/*background: rgb(110,110,110);*/
}
.tabs nav a {
	position: relative;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color:white;
	font-size: 14px;
}

.tabs nav a span {
	vertical-align: middle;
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
	height:30px;
	display:inline-block
}

.tabs nav li.tab-current a {
	color: white;
}

.tabs nav a:focus {
	outline: none;
}
/* Icons */
.icon::before {
	z-index: 10;
	display: inline-block;
	margin: 0 0.4em 0 0;
	vertical-align: middle;
	text-transform: none;
	font-weight: normal;
	font-variant: normal;
	font-size: 1.3em;
	line-height: 1;
	speak: none;
	-webkit-backface-visibility: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Content */
.content-wrap {
	position: relative;
}

.content-wrap section {
	display: none;
	margin: 0 auto;
	max-width: 100%;
	text-align: center;
}

.content-wrap section.content-current {
	display: block;
}

.content-wrap section>p {
	margin: 0;
	padding: 0.75em 0;
	color: rgba(40,44,42,0.05);
	font-weight: 900;
	font-size: 4em;
	/*line-height: 1;*/
}

/* Fallback */
.no-js .content-wrap section {
	display: block;
	padding-bottom: 2em;
	border-bottom: 1px solid rgba(255,255,255,0.6);
}

.no-flexbox nav ul {
	display: block;
}

.no-flexbox nav ul li {
	min-width: 15%;
	display: inline-block;
}

@media screen and (max-width: 58em) {
	.tabs nav a.icon span {
		display: none;
	}
	.tabs nav a:before {
		margin-right: 0;
	}
}