.sidebar>ul>li:nth-of-type(3){
	background:#1d7aee;
	box-shadow: 0px 0px 13px 0px rgba(147,178,224,0.5);
}
.sidebar>ul>li:nth-of-type(3)>a{
	color:white;
}
.sidebar>ul>li:nth-of-type(3)>a:hover{
	color:white;
}
/*二级页面切换*/
.right-top-left1 a:nth-of-type(1){
	background: #1D7AEE;
	color:white;
}

/*banner区*/
.banner{
	width:100%;
	height: 290px;
    margin-top: 60px;
}
.banner-content{
	width:100%;
	margin:0 auto;
}
.banner-content>img{
	width: 100%;
	position: relative;
}

/*培训>系列课程*/
.title{
	width:100%;
	height:24px;
	margin-top: 30px;
}
.title-content{
	width:80%;
	height:24px;
	margin:0 auto;
}
.title-left{
	float:left;
}
.title-left>span:nth-of-type(1){
	display:inline-block;
	width: 0;
	height:0;
	border-top:8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 8px solid #1D7AEE;
	margin-right: 6px;
	margin-top: 5px;
}
.title-left>span,.title-left>p{
	float:left;
	line-height: 28px;
	font-size: 14px;
}
.title-left>p>a{
	color:#898989;
}
.title-left>p>span{
	font-weight: bold;
	color:#545454;
}
/*跳报名课程页面*/
.content1{
	width:100%;
	margin-top: 50px;
	clear:both;
}
.content1-center{
	width:80%;
	margin:0 auto;
}
.content1-centerbox{
	width:100%;
}
.content1-center1{
	width: 15%;
    float: left;
    padding:0 0.5%;
    border-bottom: 3px solid rgba(228,228,228);
    margin-bottom: 60px;
}
.content1-center1:nth-of-type(1){
	padding-left: 0%;
	 border-bottom: 3px solid rgba(228,228,228);
	 margin-top: -1px;
	 margin-left: 2.3%;
}
.content1-center1:nth-of-type(6){
	padding-right: 0%;
}
.content1-center1>a{
	max-width:100%;
    display:block;
    margin:0 auto;
}
.content1-center1>a:hover img{
	height:-30px;
	box-shadow: 0px 0px 13px 0px rgba(147,178,224,0.9);
	opacity: 0.85;
}
.content1-center1>a>img{
	max-width:78%;
    display:block;
    margin:0 auto;
    /*margin-bottom:20px;*/
}
.content1-center1 a:hover{
	border-bottom: 6px solid #1d7aee;
	margin-bottom: -6px;
}

/*开课时间*/
.content1-bottom{
	clear: both;
    width: 86%;
    min-height: 134px;
    background: white;
    padding: 30px 50px;
    border-radius: 8px;
    box-shadow: 0px 0px 13px 0px rgba(147,178,224,0.5);
    margin: 0 auto;
    margin-bottom: 60px;
}
.content1-bottom>div{
	width:100%;
}
.content1-bottom>div>h4{
	width:12%;
	font-size: 14px;
	float:left;
	line-height: 23px;
}
.content1-bottom>div>p{
	width:88%;
	float:left;
	font-size: 14px;
	line-height: 24px;
	text-align: justify;
	padding-bottom:20px;
}
.content1-bottom>div:nth-last-child(2) p{
	padding-bottom: 0 !important;
}
.content1-bottom>div>p>a{
	font-size: 14px;
	line-height: 24px;
	color: rgb(136,136,136);
}

/*版权*/
.right-footer { 
    position: relative;
    height: 40px;
    background: none;
    line-height: 40px;
    margin-top: -40px;
    color: #a3a3a3;
    font-size: 30px;
    text-align: center;
    z-index: 1;
    width: 88%;
    float: right;
    clear: both;
    border-top: 1px solid lightgray;
}
.right-footer-content{
	width: 100%;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    color: #a3a3a3;
}
