/*广告区*/
.right-content1{
	width:100%;
	height:46px;
}
.right-content1center{
	width:100%;
	position: relative;
}
.right-content1center>img{
	width:100%;
	position: absolute;
	top:0;
	left:0;
}
.right-content1center>a{
	position: absolute;
	right:12%;
	display:inline-block;
	width:60px;
	height:24px;
	text-align: center;
	line-height: 24px;
	font-size: 12px;
	color:white;
	margin-top: 11px;
}


/*标题区*/
.title {
    width: 100%;
    height: 24px;
    margin-top: 30px;
    clear: both;
}
.title-content {
    width: 82%;
    height: 24px;
    margin: 0 auto;
}
.title-content>p{
	font-size: 14px;
	color:#898989;
}
.title-content>p>a{
	color:#898989;
	font-size: 14px;
}
.title-content>p>span{
	font-weight: bold;
	color:#545454;
	font-size: 14px;
}
.title-content>p>.jiantou{
	display:inline-block;
	width: 0;
	height:0;
	border-top:8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 8px solid #1D7AEE;
	margin-right: 6px;
	margin-top: 3px;
}


/*视频区*/
.video{
   height:620px;
}
.video-left{
	width:71%;
	height:550px;
	float:left;
	overflow:hidden;
}
.video-left div video{
	margin:0 auto;
	background: black;
}
.video-right{
	width:28%;
	height:550px;
	float:right;
	overflow:hidden;
}
.content{
	width: 100% !important;
    margin: 0 auto;
}
.video-right ul li{
	width:100%;
	height:50px;
}
.video-content {
    width:82%;
    height: 432px;
    margin: 0 auto;
}
.video-right li{
	font-size: 14px;
	font-weight: bold;
	line-height: 24px;
	width: 100% !important;
	height:103.5px !important;
}
.video-right li:nth-of-type(1){
	height:47px !important;
	line-height: 40px;
	text-align: left;
    text-indent:12px;
    width: 100% !important;
    margin: 0 auto;
}
.video-right li:nth-of-type(1)>a{
	text-indent:12px;
}
.video_list{
	height:550px;
}
.video_list li .on>img{ 
  /*border:1px solid #1D7AEE !important;*/
}
.video_list li .on p{
	/*color:#1D7AEE !important;*/
}
.video_list li .on span{
	background: none;
}
.video_list li a{
	background: none;
}
.video_list li a:hover{ 
  color:black;
}
.video_list li a:hover, ul.video_list li a.on {
    color:black;
}
.video-right li a{
	display: block;
    width: 99%;
    height: 86px;
    text-indent: 0px;
    color:black;
    cursor: pointer;
    text-align: left;
    overflow: hidden;
    
}
.video-right li a>img{
	width:45%;
	height:86px;
	float:left;
	border: 1px solid rgba(247,248,250);
}
.video-right li a>div{
	float: right;
    width: 50%;
    height:60px !important;
    overflow: hidden;
    position: relative;
}
.video-right li a div>p:nth-of-type(1){
	height:36px;
	overflow: hidden;
	font-size: 14px;
    line-height:36px;
    text-indent:0;
    color:#545454;
    font-weight: bold;
    overflow: hidden;/*内容超出后隐藏*/
	text-overflow: ellipsis;/* 超出内容显示为省略号*/
	white-space: nowrap;/*文本不进行换行*/
}
.video-right li a div>p:nth-of-type(2){
	font-size: 12px;
	text-indent:0px;
	font-weight: normal;
	color:gray;
	line-height: 24px;
}
.video-right li:onclick a{
	border:1px solid #1D7AEE;
}
.on span{
	position:static;
}
.video-right .video-list li a{
	background:white;
}

/*视频介绍*/
.videobottom{
	width:82%;
	margin:0 auto;
}
.videobottomleft{
	width:68%;
    float:left;
}
/*第三届心理研讨会*/
.depression{
	width:100%;
}
.depression-content{
	width:100%;
	height: 50px;
	margin:0 auto;
}
.depression-left{
	width:100%;
	float:left;
	overflow: hidden;
}
.depression-right{
	width:40%;
	float:right;
	overflow: hidden;
}
.depression-left>h4{
	font-size: 16px;
	padding:5px 0;
}
.depression-left1{
	float:left;
	width:61%;
	height: 24px;
    line-height: 24px;
}
.depression-left1>span{
	padding-right: 30px;
	color:#545454;
}
.depression-left2{
  float:right;	
  width:38%;
  line-height: 16px;
}
.depression-left2>span{
	color:#545454;
	font-size: 14px;
}
.depression-left2>a{
   padding:0 5px;	
}

/*分享到微博等平台*/
.content_bottom{
	width:70%;
	margin:0 auto;
	margin-top: 70px;
	padding:60px 0 70px 0;
	border-top:1px solid lightgray;
}
.bdsharebuttonbox{
	width:268px;
	margin:0 auto;
}
.bdsharebuttonbox>span{
	float:left;
	font-size: 14px;
}
.bdsharebuttonbox>a{
	margin:0 18px 0 0 !important;
}


/*视频概述*/
.summarize{
	width:100%;
	margin-top: 50px;
}
.summarize-content{
	width:100%;
	margin:0 auto;
}
.summarize-left{
	width:100%;
	float:left;
}
.summarize-right{
	width:;
	float:right;
}
.summarize-left>h4{
	font-size: 15px;
	padding:5px 0;
	color:#1d7aee;
}
.summarize-left>div{
	width:100%;
	margin:0 auto;
}
.summarize-left>div>p{
	font-size: 12px;
	color:#545454;
	line-height: 24px;
	text-align: justify;
}
.btn1-content{
	display:none;
}
.btn1{
	border:none;
	outline: none;
	padding:3px 6px;
	color:#1d7aee;
	float:right;
	margin-top:6px;
}
/*评论*/
.comment{
	width:100%;
	clear:both;
    padding-top: 40px;
    height: auto!important;
    min-height: 300px;
    overflow: hidden;
    padding-bottom: 80px;
}
.comment-content{
	width:100%;
	margin:0 auto;
}
.comment-left{
	width:100%;
	float:left;
}
.comment-right{
	width:;
	float:right;
}
.comment-left>h4{
	font-size: 15px;
	padding:5px 0;
	display:inline-block;
	color:#1d7aee;
}
.comment-left>p{
	display:inline-block;
	width:84%;
	border-top:1px solid lightgray;
	margin-left: 10px;
}
.comments{
	clear:both;
	width:92%;
	max-height: 100px;
	overflow-y:auto;
	margin:0 auto;
	padding:10px 20px;
	background:rgba(147,178,224,0.2);
	margin-top: 10px;
}
.comments-left{
	float:left;
	width:100%;
}
.comments-left>p{
    display:block;
    max-height: 100px;
    overflow-y: auto;
	line-height: 24px;
	color:#545454;
	font-size: 12px;
}

/*留言*/
.leave{
	width:100%;
	clear:both;
	padding-top: 40px;
}
.leave-content{
	width:100%;
	margin:0 auto;
}
.leave-left{
	width:92%;
	float:left;
}
.leave-right{
	width:;
	float:right;
}
.leave-left>h4{
	font-size: 15px;
	padding:10px 0;
	color:#1d7aee;
}
.leave-left>.beizhu{
	width:100%;
	height: 140px;
    border: 1px solid #ccc;
    padding: 10px 20px;
    font-size: 14px;
    background: rgb(244,244,244);
}
.leave-left>.beizhu:empty:before{
	content: attr(placeholder);
	color:#bbb;
}
.leave-left>.beizhu:focus:before{
	content:none;
}

/*提交*/
.save{
	width:100%;
	clear:both;
	margin-bottom: 70px;
}
.save-content{
	width:100%;
	margin: 0 auto;
}
.btn{
	width: 150px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    color: white;
    margin: 0 auto;
    text-align: center;
    border-radius: 12px;
    background: #1d7aee;
    border: none;
    outline: none;
    margin-top: 30px;
}
   
/*版权*/
.right-footer { 
    position: relative;
    height: 40px;
    background: none;
    line-height: 40px;
    margin-top: -40px;
    color: #a3a3a3;
    font-size: 30px;
    text-align: center;
    z-index: 1;
    width: 88%;
    float: right;
    clear: both;
    border-top: 1px solid lightgray;
}
.right-footer-content{
	width: 100%;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    color: #a3a3a3;
}

@media (min-width: 750px){
	.video,.video-content{
   		height:348px !important;
   		margin-bottom: 50px !important;
	}
	.video-left,.video-left div video,.video-right,.video_list{
		height:286px !important;
		overflow: hidden;
	}
	.video-right li{
		height:85px !important; 
	}
	.video-right li a,.video-right li a>img,.video-right li a>div{
		height:70px !important;
	}
	.depression-left1,.depression-left2,.bdsharebuttonbox{
		width:100%;
		margin:4px 0;
	}
	.video-right li a div>p:nth-of-type(1){
		font-size: 12px !important;
	}
	.depression-left>h4{
		font-size: 14px !important;
	}
}

@media (min-width: 1024px){
	.video,.video-content{
   		height:360px !important;
   		margin-bottom: 50px !important;
	}
	.video-left,.video-left div video,.video-right,.video_list{
		height:300px !important;
		overflow: hidden;
	}
	.video-right li{
		height:92px !important; 
	}
	.video-right li a,.video-right li a>img,.video-right li a>div{
		height:68px !important;
	}
}

@media (min-width: 1100px){
	.video,.video-content{
   		height:382px !important;
   		margin-bottom: 50px !important;
	}
	.video-left,.video-left div video,.video-right,.video_list{
		height:320px !important;
		overflow: hidden;
	}
	.video-right li a,.video-right li a>img,.video-right li a>div{
		height:60px !important;
	}
	.video-right li{
		height:72px !important; 
	}
	.video-right li a div>p:nth-of-type(1){
		height:36px !important;
		line-height: 30px !important;
	}
	.video-right li a div>p:nth-of-type(2){
		line-height:12px !important;
	}
}

@media (min-width: 1280px){
	.video,.video-content{
   		height:432px !important;
   		margin-bottom: 50px !important;
	}
	.video-left,.video-left div video,.video-right,.video_list{
		height:370px !important;
		overflow: hidden;
	}
	.video-right li{
		height:85px !important; 
	}
	.video-right li a,.video-right li a>img,.video-right li a>div{
		height:68px !important;
	}
	.video-right li a div>p:nth-of-type(1){
		height:36px !important;
		line-height: 36px !important;
	}
	.video-right li a div>p:nth-of-type(2){
		line-height:12px !important;
	}
	.depression-left>h4{
		font-size: 15px !important;
	}
}

@media (min-width: 1366px) {
	.video,.video-content{
   		height:456px !important;
   		margin-bottom: 50px !important;
	}
	.video-left,.video-left div video,.video-right,.video_list{
		height:396px !important;
	}
	.video-right li{
		height:92px !important; 
	}
	.video-right li a,.video-right li a>img,.video-right li a>div{
		height:72px !important;
	}
	.video-right li a div>span{
		bottom:0 !important;
	}
} 

@media (min-width: 1440px){
	.video,.video-content{
   		height:478px !important;
   		margin-bottom: 50px !important;
	}
	.video-left,.video-left div video,.video-right,.video_list{
		height:418px !important;
		overflow: hidden;
	}
	.video-right li{
		height:75px !important; 
	}
}

@media (min-width: 1600px) {
	.video,.video-content{
   		height:526px !important;
   		margin-bottom: 50px !important;
	}
	.video-left,.video-left div video,.video-right,.video_list{
		height:465px !important;
		overflow: hidden;
	}
	.video-right li{
		height:85px !important; 
	}
	.video-right li a, .video-right li a>img{
		height:77px !important;
	}
	.video-right li a>div{
		height:60px !important;
	}
	.depression-left1{
		width:61% !important;
		float:left !important;
	}
	.depression-left2{
		width:38% !important;
		float:right !important;
	}
	.depression-left>h4{
		font-size: 16px !important;
	}
} 

@media (min-width: 1680px) {
	.video,.video-content{
   		height:550px !important;
   		margin-bottom: 50px !important;
	}
	.video-left,.video-left div video,.video-right,.video_list{
		height:485px !important;
		overflow: hidden;
	}
	.video-right li{
		height:90px !important; 
	}
	.video-right li a, .video-right li a>img{
		height:80px !important;
	}
} 

@media (min-width: 1920px) {
	.video,.video-content{
   		height:610px !important;
   		margin-bottom: 50px !important;
	}
	.video-left,.video-left div video,.video-right,.video_list{
		height:550px !important;
	}
	.video-right li{
		height:104px !important; 
	}
	.video-right li a,.video-right li a>img{
		height:88px !important;
	}
	
} 