/*一级导航*/
.sidebar>ul>li:nth-of-type(5){
	background:#1d7aee;
}
.sidebar>ul>li:nth-of-type(5)>a{
	color:white;
}
.sidebar>ul>li:nth-of-type(5)>a:hover{
	color:white;
}

/*精选视频*/
.video{
	width:100%;
	height:494px;
	margin-top: 70px;
}
.video-content{
	width:80%;
	height:494px;
	margin:0 auto;
}
.video-content>h3{
	font-size: 24px;
	color:#201e1e;
	text-align: center;
	padding:30px 0;
}
.video-left{
	width:53%;
	height:400px;
	float:left;
	margin-left:4.5%;
}
.video-right{
	width:38%;
	height:400px;
	float:right;
	overflow:hidden;
	margin-right:4.5%;
}
.video-secondleft{
	margin-left:0;
}
.video-secondright{
	margin-right:0;
}
/*播放器样式*/
.video_player{width:100%;float:left;}
.video_list_area{width: 100%;height:400px;overflow:hidden;float:right;}
.video_list{height:400px;overflow: hidden; list-style:none;width:100%;}
.video_list li{font-size: 14px;font-weight: bold;line-height: 24px;width: 100%;text-align: left;}
.video_list li a{display:inline-block;width:100%;height:49px;text-indent:10%;line-height:50px;color:white;background-color: rgb(66,66,66);cursor: pointer;}
.video_list .on a{background-color:#1d7aee}
.video_list li.last a{margin-right:0;float:right}
.video_list li a:hover,ul.video_list li a.on{color:white;}
#ascrail2000-hr div{margin-left:0;}
.center{width: 100%;margin: 20px auto;}
.dec_10{
	width:100%;
	height:400px;
    float:right;
}
/*视频右边切换*/
.v_out{width:100%;margin:0px auto;overflow:hidde;}
.v_show{width:100%;overflow:hidden;position:relative;height:400px;}
.v_cont{ width:100%;position:absolute;left:0px;top:0px;}
.v_cont ul{float:left;text-align:center;line-height:50px;}
.v_cont ul li{width:100%;height:50px;background:#f8f8f8;}

/*---圆圈---*/
.v_out_p{position:relative;overflow:visible}
.circle{position:absolute;left: 40px;top: 290px;}
.circle li{width:120px;height:60px;float:left;margin-right:10px;background:lightgray}
.circle .circle-cur{background:#f00}

.scrollBar{width: 100%;height:400px;border:1px solid lightgray;}
.content{
	width:97.5% !important;
}
.on{
	position:relative;
	background: none;
}
.on span{
	position:absolute;
	top:0;
	left:0;
	display:inline-block;
	/*width:10px;*/
	height:50px;
	background: #009FB6;
}
.video_player div video{
	margin:0 auto;
	background: black;
	background: url(../img/videobanner.png) no-repeat center;
}

/*分割线*/
.line{
	width:100%;
	height:10px;
	clear:both;
	margin:40px 0 20px 0;
}
.line-content{
	width:70%;
	height:1px;
	margin:0 auto !important;
	border-bottom: 1px solid lightgray;
}
.line:last-child{
	margin-bottom: 90px;
}

/*全部课程*/
.content1{
	width:70%;
	margin:0 auto;
}
/*tab li*/
.tab-wrapper {
  margin: 60px auto;
  width: 100%;
}
.tab-menu{
	background:white;
}
.tab-menu li {
	position:relative;
  color:gray;
  display: inline-block;
  padding:8px 20px;
  margin-right: 30px;
  opacity: 0.8;
  cursor:pointer;
  z-index:0;
  font-size: 14px;
  font-weight:bold;
}
.tab-menu div{
	float:right;
	margin-right: 16px;
	height:20px;
	margin-top: 7.5px;
}
.tab-menu div input{
	width:134px;
	border:none;
	outline: none;
	font-size: 12px;
	padding:1px 15px;
	border:1px solid #1d7aee;;
	background: white;
	float:left;
}
.tab-menu div>img{
	float: left;
    background: #1d7aee;;
    padding: 3px 4px;
    height: 14px;
}
.tab-menu li.active {
	font-size: 14px;
  	font-weight:bold;
   	padding:8px 20px;
	color:white;
	background: #1d7aee;;
	opacity: 1;
	transition: all 2s linear;
    transition:all 2s linear;
    -webkit-transition: all 2s linear;
    -o-transition: all 2s linear;
    -moz-transition: all 2s linear;
    -ms-transition: all 2s linear;
}
.tab-content{
	margin-top: 60px;
}
.line {
  position:absolute;
  width: 0;
  height:0px;
  background-color: none;
  top: 0;
  left: 0;
}


/*量表介绍区*/
.tab-content1{
  box-sizing:border-box;
  width: 100%; 
  min-height:200px;
}
.curriculum{
	width:100%;
	clear:both;
	margin-top: 50px;
}
.curriculum-content{
	width:70%;
	height:20px;
	margin:0 auto;
	overflow: hidden;
}
.curriculum-nav{
	width:100%;
}
.curriculum-nav>li{
	float:left;
	padding:0 15px;
}
.curriculum-nav li:nth-of-type(1){
	padding:0;
}
.curriculum-nav li:nth-of-type(1)>span:nth-of-type(1){
	font-size: 14px;
	font-weight: bold;
	display:inline-block;
    /*width:70px;*/
}
.curriculum-nav li:nth-of-type(2)>span:nth-of-type(1){
	font-size: 14px;
	color:#1d7aee;
	display:inline-block;
	font-weight: bold;
}
.curriculum-nav li{
	text-align: center;
}
.curriculum-nav li a{
	font-size: 14px;
	color:#545454;
}
.curriculum-nav li:last-of-type a{
	padding-right:0px;
}
.curriculum-nav li a:hover{
	color:#1d7aee;
}
.curriculum-nav li:nth-of-type(1) a:hover{
	color:#383838;
}
.curriculum-nav .curriculumtext1{
	color:#383838;
	font-weight: bold;
}
.curriculum-nav .curriculumtext2{
	color:#009FB6;
	font-weight: bold;
}

/*视频区*/
.family:last-of-type>.family-content{
	margin-bottom:90px;
}
.family{
	width:100%;
	clear:both;
	margin-top: 50px;
}
.family-content{
	width:100%;
	height: auto!important;
    min-height: 292px;
	overflow: hidden;
	margin:0 auto;
}
.family-nav{
	width:100%;
	height:20px;
}
.family-nav>h3{
	display:inline-block;
	font-size: 18px;
	color:#201e1e;
	text-align: center;
	line-height: 20px;
	float:left;
}
.family-nav>h3>span{
	display:inline-block;
	width:7px;
	height:20px;
	background:#1d7aee;
	margin-right: 6px;
	float:left;
}
.family-nav>li{
	float:left;
}
.family-nav li a{
	font-size: 12px;
	padding-right:30px;
	color:#545454;
	line-height: 24px;
}
.family-nav li a:hover{
	color:#1d7aee;
}
.family-nav li:nth-of-type(1) a:hover{
	color:#383838;
}
.family-nav .familytext1{
	color:#383838;
	font-weight: bold;
}
.family-nav .familytext2{
	color:#1d7aee;
	font-weight: bold;
}
.family-nav .familytext0{
	float:right;
}
.family-nav .familytext0 a{
	padding-right: 0;
}
.family-nav .familytext0 a>span{
	color:#1d7aee;
	font-weight: bold;
	padding-left:2px;
}
.family-box{
	width:100%;
    clear:both;
    margin-top:24px;
}
.family-box>a{
	display:block;
	width:23.1%;
	height:100%;
	float:left;
	margin:20px 0.94%;
	padding:0 0 10px 0;
	background: white;
	border-radius:4px;
	overflow: hidden;
}

.family-box1{
	width:100%;
	height:100%;
}

.family-box1>img{
	width: 100%;
	max-height: 157px;
	z-index:0;
	transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
}
.family-box1>img:hover{
	width: 100%;
	transform: scale(1.1);
}
.family-box1>video{
	width: 100%;
	z-index:0;
	height: 152px;
	background: black;
}
.family-box1>p{
	padding:0 10px;
}
.family-box1>p:nth-of-type(1){
	font-size: 14px;
	color:#383838;
	font-weight: bold;
	margin-top: 4px;
	height: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.family-box1>p:nth-of-type(2){
	font-size: 12px;
	color:#6d6d6d;
	padding-top: 6px;
	width:92%;
	height:20px;
}
.family-box1>p:nth-of-type(2)>img{
	width: 18px;
    height: 10px;
    line-height: 26px;
}
.family-box1>p:nth-of-type(2)>span{
	display:inline-block;
	float:right;
	font-size: 12px;
	overflow: hidden;
	width:70%;
    height: 18px;
    text-align: right;
}
.family-box1>p:nth-of-type(3){
	font-size: 12px;
    color: red;
    margin-top: 8px;
    width: 100%;
}

/*查看更多课程*/
.loadmore{
	display:block;
	border:0;
	outline: none;
	width:160px;
	background: #1D7AEE;
	height:40px;
	margin:0 auto;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	font-weight: bold;
	color:white;
	border-radius:4px;
}

/*版权*/
.right-footer { 
    position: relative;
    height: 40px;
    background: none;
    line-height: 40px;
    margin-top: -40px;
    color: #a3a3a3;
    font-size: 30px;
    text-align: center;
    z-index: 1;
    width: 88%;
    float: right;
    clear: both;
    border-top: 1px solid lightgray;
}
.right-footer-content{
	width: 100%;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    color: #a3a3a3;
}

/*视频播放跳转的页面*/
.moreh3{
	font-size: 24px;
    color: #201e1e;
    text-align: center;
    margin:100px 0 0 0;
}

@media (min-width: 750px){
	.video,.video-content {
	    height: 302px !important;
    }
	.video-left,.video_player div video,.video_list,.video-right{
    	height: 208px !important;
    }
	.v_cont ul li{
		height:43px !important;
	}
	.video_list li a{
		height:42px !important;
		line-height: 42px !important;
		text-indent:8% !important;
		font-size: 12px !important;
	}
	.content1 {
		width:76% !important;
	}
	.family-content{
		/*height:238px !important;*/
	}
	.family-box1>img{
		height: 84px !important;
    }
    .family-box1>p:nth-of-type(1){
    	font-size: 12px !important;
    	height:34px !important;
    	overflow: hidden;
    }
    .family-box1>p:nth-of-type(2)>span{
    	width:56% !important;
    }
}

@media (min-width: 1024px){
	.content1 {
		width:72% !important;
	}
	.video,.video-content {
	    height: 308px !important;
    }
	.video-left,.video_player div video,.video_list,.video-right{
    	height: 216px !important;
    }
	.family-content{
		/*height:242px !important;*/
	}
	.family-box1>img{
		height: 90px !important;
    }
    .family-box1>p:nth-of-type(2)>span{
    	width:58% !important;
    }
}

@media (min-width: 1100px){
	.content1 {
		width:67% !important;
	}
	.video,.video-content {
	    height: 324px !important;
    }
	.video-left,.video_player div video,.video_list,.video-right{
    	height: 232px !important;
    }
	.family-content{
		/*height:246px !important;*/
	}
	.family-box1>img{
		height: 94px !important;
    }
    .family-box1>p:nth-of-type(2)>span{
    	width:58% !important;
    }
}

@media (min-width: 1280px){
	.video,.video-content {
	    height: 362px !important;
    }
	.video-left,.video_player div video,.video_list,.video-right{
    	height: 270px !important;
    }
	.family-content{
		/*height:246px !important;*/
	}
	.family-box1>img{
		height: 94px !important;
    }
    .family-box1>p:nth-of-type(1){
    	height:34px !important;
    }
    .family-box1>p:nth-of-type(2)>span{
    	width:66% !important;
    }
    
}

@media (min-width: 1366px){
	.video,.video-content {
	    height: 382px !important;
    }
	.video-left,.video_player div video,.video_list,.video-right{
    	height: 288px !important;
    }
	.family-content{
		/*height:258px !important;*/
	}
	.family-box1>img{
		height: 100px !important;
    }
    .family-box1>p:nth-of-type(2)>span{
    	width:70% !important;
    }
}

@media (min-width: 1440px){
	.video,.video-content {
	    height: 394px !important;
    }
	.video-left,.video_player div video,.video_list,.video-right{
    	height: 302px !important;
    }
	.family-content{
		/*height:258px !important;*/
	}
	.family-box1>img{
		height: 104px !important;
    }
}

@media (min-width: 1600px){
	.video,.video-content {
	    height: 434px !important;
    }
    .video-left,.video_player div video,.video_list,.video-right{
    	height: 340px !important;
    }
	.family-content{
		/*height:270px !important;*/
	}
	.family-box1>img{
		height: 116px !important;
    }
    .family-box1>p:nth-of-type(1){
    	font-size: 14px !important;
    	height:38px !important;
    }
}

@media (min-width: 1680px){
	.video,.video-content {
	    height: 446px !important;
    }
    .video-left,.video_player div video,.video_list,.video-right{
    	height: 352px !important;
    }
    .v_cont ul li{
    	height:44px !important;
    }
	.family-content{
		/*height:276px !important;*/
	}
	.family-box1>img{
		height: 122px !important;
    }
}

@media (min-width: 1920px){
	.video,.video-content {
	    height: 494px !important;
    }
    .video-left,.video_player div video, .video_list,.video-right{
    	height:400px !important;
    }
	.v_cont ul li{
		height:50px !important;
	}
	.video_list li a{
		height:49px !important;
		line-height: 49px !important;
		text-indent:10% !important;
		font-size: 14px !important;
	}
	.family-content{
		/*min-height:288px !important;*/
	}
	.family-box1>img{
	height: 140px !important;
    }
}
